 {{ xGovukAutocomplete({
                id: "court",
                name: "court",
                value: data['court'],
                allowEmpty: false,
                label: {
                  classes: "govuk-label",
                  text: "Select the name of the Court"
 },


              items: [
                  { text: "Aberystwyth Justice Centre" },
                  { text: "Aldershot Justice Centre" },
                  { text: "Barkingside Magistrates' Court" },
                  { text: "Barnsley Law Courts" },
                  { text: "Barnstaple Magistrates Court" },
                  { text: "Barrow-in-Furness Magistrates Court" },
                  { text: "Basildon Magistrates' Court" },
                  { text: "Basingstoke Law Courts" },
                  { text: "Bath Law Courts" },
                  { text: "Berwick upon Tweed Magistrates' Court" },
                  { text: "Beverley Magistrates' Court" },
                  { text: "Bexley Magistrates' Court" },
                  { text: "Birmingham Magistrates Court at the Victoria Law Courts" },
                  { text: "Blackburn Magistrates' Court" },
                  { text: "Blackpool Magistrates' Court" },
                  { text: "Bodmin Law Courts" },
                  { text: "Bolton Combined Court" },
                  { text: "Boston Courthouse" },
                  { text: "Bradford and Keighley Magistrates' Court" },
                  { text: "Bridlington Magistrates' Court" },
                  { text: "Brighton Magistrates' Court" },
                  { text: "Bristol Magistrates' Court" },
                  { text: "Bromley Magistrates' Court" },
                  { text: "Burnley Magistrates' Court" },
                  { text: "Caernarfon Justice Centre" },
                  { text: "Cambridge Magistrates' Court" },
                  { text: "Cannock Magistrates' Court" },
                  { text: "Canterbury Magistrates' Court" },
                  { text: "Cardiff Magistrates' Court" },
                  { text: "Carlisle Magistrates' Court" },
                  { text: "Chelmsford Magistrates' Court" },
                  { text: "Cheltenham Magistrates' Court" },
                  { text: "Chester Magistrates' Court" },
                  { text: "Chesterfield Justice Centre" },
                  { text: "City of London Magistrates' Court" },
                  { text: "Colchester Magistrates' Court" },
                  { text: "Coventry Magistrates' Court" },
                  { text: "Crawley Magistrates' Court" },
                  { text: "Crewe Magistrates and County Court" },
                  { text: "Croydon Magistrates' Court" },
                  { text: "Cwmbran Magistrates' Court" },
                  { text: "Darlington Magistrates' Court" },
                  { text: "Derby Justice Centre" },
                  { text: "Doncaster Justice Centre North (Doncaster Magistrates' Court)" },
                  { text: "Dudley and Magistrates' Court" },
                  { text: "Ealing Magistrates' Court" },
                  { text: "East Berkshire (Slough) Magistrates' Court" },
                  { text: "Exeter Combined Court Centre" },
                  { text: "Folkestone Magistrates' Court" },
                  { text: "Gateshead Law Courts" },
                  { text: "Great Yarmouth Magistrates' Court" },
                  { text: "Grimsby Magistrates' Court" },
                  { text: "Guildford Law Courts" },
                  { text: "Harrogate Justice Centre" },
                  { text: "Hastings Law Courts" },
                  { text: "Hatfield Magistrates' Court" },
                  { text: "Haverfordwest Magistrates' Court" },
                  { text: "Hendon Magistrates' Court" },
                  { text: "Hereford Justice Centre" },
                  { text: "High Wycombe Law Courts" },
                  { text: "Highbury Corner Magistrates' Court" },
                  { text: "Horsham Law Courts" },
                  { text: "Hull and Holderness Magistrates' Court" },
                  { text: "Huntingdon Law Courts" },
                  { text: "Ipswich Magistrates' Court" },
                  { text: "Isle of Wight Combined Court" },
                  { text: "Isles of Scilly Magistrates' Court" },
                  { text: "Kidderminster Magistrates' Court" },
                  { text: "King's Lynn Magistrates' Court" },
                  { text: "Kirklees (Huddersfield) Magistrates' Court" },
                  { text: "Lancaster Courthouse" },
                  { text: "Lavender Hill Magistrates' Court" },
                  { text: "Leeds Magistrates' Court" },
                  { text: "Leicester Magistrates' Court" },
                  { text: "Lincoln Magistrates' Court" },
                  { text: "Liverpool Magistrates' Court" },
                  { text: "Llandrindod Wells Magistrates' Court" },
                  { text: "Llandudno Magistrates' Court" },
                  { text: "Llanelli Law Courts" },
                  { text: "Loughborough Magistrates' Court" },
                  { text: "Luton and South Bedfordshire Magistrates' Court" },
                  { text: "Maidstone Magistrates' Court" },
                  { text: "Manchester Magistrates' Court" },
                  { text: "Mansfield Magistrates' Court" },
                  { text: "Margate Magistrates' Court" },
                  { text: "Medway (Chatham) Magistrates' Court" },
                  { text: "Merthyr Tydfil Combined Court Centre" },
                  { text: "Mid and South East Northumberland Law Courts (Bedlington)" },
                  { text: "Milton Keynes Magistrates' Court" },
                  { text: "Mold Justice Centre (Mold Law Courts)" },
                  { text: "Newcastle upon Tyne Magistrates' Court" },
                  { text: "Newport (South Wales) Magistrates' Court" },
                  { text: "Newton Abbot Magistrates' Court" },
                  { text: "Newton Aycliffe Magistrates' Court" },
                  { text: "North Somerset Courthouse" },
                  { text: "North Staffordshire Justice Centre / Newcastle-Under-Lyme Magistrates Court" },
                  { text: "North Tyneside Magistrates' Court" },
                  { text: "Northampton Magistrates' Court" },
                  { text: "Norwich Magistrates' Court" },
                  { text: "Nottingham Magistrates' Court" },
                  { text: "Oxford and Southern Oxfordshire Magistrates' Court" },
                  { text: "Peterborough Magistrates' Court" },
                  { text: "Peterlee Magistrates' Court" },
                  { text: "Plymouth Magistrates' Court" },
                  { text: "Poole Magistrates' Court" },
                  { text: "Portsmouth Magistrates' Court" },
                  { text: "Preston Magistrates' Court" },
                  { text: "Reading Magistrates' Court and Family Court" },
                  { text: "Redditch Magistrates' Court" },
                  { text: "Reedley Magistrates' Court" },
                  { text: "Romford Magistrates' Court (formerly Havering Magistrates' Court)" },
                  { text: "Salisbury Law Courts" },
                  { text: "Scarborough Justice Centre" },
                  { text: "Sefton Magistrates' Court" },
                  { text: "Sevenoaks Magistrates' Court" },
                  { text: "Sheffield Magistrates' Court" },
                  { text: "Skipton Magistrates Court" },
                  { text: "South Tyneside Magistrates Court" },
                  { text: "South Worcestershire Magistrates' Court" },
                  { text: "Southend Court House" },
                  { text: "St Albans Magistrates' Court" },
                  { text: "Staines Law Courts" },
                  { text: "Stevenage Magistrates' Court" },
                  { text: "Stockport Magistrates Court" },
                  { text: "Stratford Magistrates Court" },
                  { text: "Sunderland Magistrates’ Court" },
                  { text: "Swansea Magistrates' Court" },
                  { text: "Swindon Magistrates' Court" },
                  { text: "Tameside Magistrates' Court" },
                  { text: "Taunton Magistrates' Court" },
                  { text: "Teesside Magistrates' Court" },
                  { text: "Telford Justice Centre" },
                  { text: "Thames Magistrates' Court" },
                  { text: "Truro Magistrates' Court" },
                  { text: "Uxbridge Magistrates' Court" },
                  { text: "Walsall Magistrates' Court" },
                  { text: "Warrington Crown and Magistrates' Court" },
                  { text: "Warwickshire (North) Justice Centre" },
                  { text: "Warwickshire (South) Justice Centre" },
                  { text: "Wellingborough Magistrates' Court" },
                  { text: "Welshpool Magistrates' Court" },
                  { text: "West Cumbria Courthouse" },
                  { text: "West Hampshire (Southampton) Magistrates' Court" },
                  { text: "Westminster Magistrates' Court" },
                  { text: "Weymouth Combined Court" },
                  { text: "Wigan and Leigh Courthouse" },
                  { text: "Willesden Magistrates' Court" },
                  { text: "Wimbledon Magistrates' Court" },
                  { text: "Wirral Magistrates' Court" },
                  { text: "Wolverhampton Magistrates' Court (at Old Town Hall, Wolverhampton)" },
                  { text: "Belmarsh Magistrates Court" },
                  { text: "Worcester Justice Centre" },
                  { text: "Worthing Law Courts" },
                  { text: "Wrexham Law Courts" },
                  { text: "Yeovil Law Courts" },
                  { text: "York Magistrates' Court" }
                ]
              }) }}
