          {{ xGovukAutocomplete({
                id: "crowncourt",
                name: "crowncourt",
                value: data['crowncourt'],
                allowEmpty: false,
                showNoOptionsFound: true,
                label: {
                  classes: "govuk-label",
                  text: "Select the name of the Crown Court"
 },


            items: [
            { text: "York Crown Court" },
            { text: "Aylesbury Crown Court" },
            { text: "Birmingham Crown Court" },
            { text: "Bolton Crown Court" },
            { text: "Bournemouth Crown Court" },
            { text: "Bristol Crown Court" },
            { text: "Cambridge Crown Court" },
            { text: "Cardiff Crown Court" },
            { text: "Chelmsford Crown Court" },
            { text: "Chester Crown Court" },
            { text: "Croydon Crown Court" },
            { text: "Durham Crown Court" },
            { text: "Gloucester Crown Court" },
            { text: "Guildford Crown Court" },
            { text: "Harrow Crown Court" },
            { text: "Hereford Crown Court" },
            { text: "Inner London Crown Court" },
            { text: "Ipswich Crown Court" },
            { text: "Isleworth Crown Court" },
            { text: "King's Lynn Crown Court" },
            { text: "Kingston upon Thames Crown Court" },
            { text: "Lancaster Crown Court" },
            { text: "Leicester Crown Court" },
            { text: "Lincoln Crown Court" },
            { text: "Liverpool Crown Court" },
            { text: "Luton Crown Court" },
            { text: "Manchester Crown Court (Crown Square)" },
            { text: "Manchester Crown Court (Minshull St)" },
            { text: "Newcastle upon Tyne Crown Court" },
            { text: "Newport (South Wales) Crown Court" },
            { text: "Nottingham Crown Court" },
            { text: "Preston Crown Court" },
            { text: "Reading Crown Court" },
            { text: "Shrewsbury Crown Court" },
            { text: "Snaresbrook Crown Court" },
            { text: "Southend Crown Court" },
            { text: "Southwark Crown Court" },
            { text: "St Albans Crown Court" },
            { text: "Swansea Crown Court" },
            { text: "Warrington Crown Court" },
            { text: "Wood Green Crown Court" },
            { text: "Woolwich Crown Court" }
      ]
              }) }}
