 <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">What time does the first curfew period start?</legend>

      <div class="govuk-date-input ">
      

        <div class="govuk-date-input__item">
          <div class="govuk-form-group form-group-start-hours">
            <label class="govuk-label govuk-date-input__label" for="curfewchange-starttime-hours1"><span class="govuk-visually-hidden">Start</span> Hour</label>
             {% if (data['curfewtimetableday'] == "true") %}
               <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="curfewchange-starttime-hours1" name="curfewchange-starttime{{ data['day'] }}-hours1" value="{{ data['curfewchange-starttime-hours1'] }}">
            {% elseif (data['curfewstandard'] == "false") %}
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="curfewchange-starttime-hours1" name="curfewchange-starttime-hours1" value="">
            {% else %}  
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="curfewchange-starttime-hours1" name="curfewchange-starttime-hours1" value="19">
            {% endif %}    
          </div>       
        </div>
        <div class="govuk-date-input__item">
          <label class="govuk-label govuk-date-input__label">:</label>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group form-group-start-hours">
            <label class="govuk-label govuk-date-input__label" for="curfewchange-starttime-minutes1"><span class="govuk-visually-hidden">Start</span> Minutes</label>
            {% if (data['curfewtimetableday'] == "true") %}
               <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="curfewchange-starttime-minutes1" name="curfewchange-starttime{{ data['day'] }}-minutes1" value="{{ data['curfewchange-starttime-minutes1'] }}">
            {% elseif (data['curfewstandard'] == "false") %}
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="curfewchange-starttime-minutes1" name="curfewchange-starttime-minutes1" value="">
            {% else %}  
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="curfewchange-starttime-minutes1" name="curfewchange-starttime-minutes1" value="00">
            {% endif %}    
          </div>       
        </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="CurfewStart1-ampm">
                    am or pm
                </label>
                <select class="govuk-select govuk-date-input__input govuk-input--width-2 " id="CurfewStart1-ampm" name="CurfewStart1-ampm" aria-label="Choose am or pm">
                    <option value="" selected>
                        Choose am or pm
                    </option>
                    <option value="am">
                        am
                    </option>
                    <option value="pm">
                        pm
                    </option>
                </select>
            </div>
       </div>
         
        
      </div>
    </fieldset>
  </div>



   <div id="curfewTimes-form" class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">What time does the first curfew period end?</legend>

      <div class="govuk-date-input ">    

        <div class="govuk-date-input__item">
          <label class="govuk-label govuk-date-input__label" for="curfewchange-starttime-hours1"><span class="govuk-visually-hidden">Start</span> Hour</label>
          <div class="govuk-form-group form-group-start-hours">
             {% if (data['curfewtimetableday'] == "true") %}
               <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="curfewchange-endtime-hours1" name="curfewchange-endtime{{ data['day'] }}-hours1" value="{{ data['curfewchange-endtime-hours1'] }}">
            {% elseif (data['curfewstandard'] == "false") %}
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="curfewchange-endtime-hours1" name="curfewchange-endtime-hours1" value="">
            {% else %}  
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="curfewchange-endtime-hours1" name="curfewchange-endtime-hours1" value="07">
            {% endif %}
          </div>
        </div>
        <div class="govuk-date-input__item">
          <label class="govuk-label govuk-date-input__label">:</label>
        </div>
         <div class="govuk-date-input__item">
          <label class="govuk-label govuk-date-input__label" for="curfewchange-starttime-minutes1"><span class="govuk-visually-hidden">Start</span> Minutes</label>
          <div class="govuk-form-group form-group-start-hours">
            {% if (data['curfewtimetableday'] == "true") %}
               <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="curfewchange-endtime-minutes1" name="curfewchange-endtime{{ data['day'] }}-minutes1" value="{{ data['curfewchange-endtime-minutes1'] }}">
            {% elseif (data['curfewstandard'] == "false") %}
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="curfewchange-endtime-minutes1" name="curfewchange-endtime-minutes1" value="">
            {% else %}  
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="curfewchange-endtime-minutes1" name="curfewchange-endtime-minutes1" value="00">
            {% endif %}
          </div>
        </div>
         <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="CurfewEnd1-ampm">
                    am or pm
                </label>
                <select class="govuk-select govuk-date-input__input govuk-input--width-2 " id="CurfewEnd1-ampm" name="CurfewEnd1-ampm" aria-label="Choose am or pm">
                    <option value="" selected>
                        Choose am or pm
                    </option>
                    <option value="am">
                        am
                    </option>
                    <option value="pm">
                        pm
                    </option>
                </select>
            </div>
       </div>
      </div>
    </fieldset>
  </div>

  <!--

    {% if (data['addcurfewaddress'] == "Yes") %} 
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-label govuk-label--s">
        What address will the device wearer be at during curfew hours?
    </legend>
   
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
     {% if (data['curfewtimetableday'] == "true") %} 
           

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="whereDoYouLive" name="day-address{{ data['day'] }}" type="checkbox" checked value="{{ data['contactaddressLine1'] or "123 Carter Bar" }}">
              <label class="govuk-label govuk-checkboxes__label" for="whereDoYouLive">
               {{ data['contactaddressLine1'] or "123 Carter Bar" }}
              </label>
            </div>  
          
            {% if (data['addcurfewaddress'] == "Yes") %}
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="whereDoYouLive-3" name="day-address{{ data['day'] }}" type="checkbox" value="{{ data['curfewaddressname'] }} - {{ data['curfewaddressLine1'] }}">
              <label class="govuk-label govuk-checkboxes__label" for="whereDoYouLive-3">
                {{ data['curfewaddressLine1'] or "1 Washington Street" }}
              </label>
            </div>
            {% endif %}
    {% elseif (data['curfewstandard'] == "false") %}
            
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="whereDoYouLive" name="day-address" type="checkbox" value="{{ data['contactaddressLine1'] or '123 Carter Bar' }}">
              <label class="govuk-label govuk-checkboxes__label" for="whereDoYouLive">
               {{ data['contactaddressLine1'] or "123 Carter Bar" }}
              </label>
            </div>    
          
            {% if (data['addcurfewaddress'] == "Yes") %}
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="whereDoYouLive-3" name="day-address" type="checkbox" value="{{ data['curfewaddressname'] }} - {{ data['curfewaddressLine1'] }}">
              <label class="govuk-label govuk-checkboxes__label" for="whereDoYouLive-3">
                 {{ data['curfewaddressLine1'] or "1 Washington Street" }}
              </label>
            </div>
            {% endif %}

    {% endif %}

  
    </div>
  </fieldset>
</div>
    {% endif %}

-->

<div class="govuk-!-padding-bottom-6"></div>





 <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">What time does the second curfew period start?</legend>

      <div class="govuk-date-input ">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group form-group-start-hours">
            <label class="govuk-label govuk-date-input__label" for="curfewchange-starttime-hours2"><span class="govuk-visually-hidden">Start</span> Hour</label>
             {% if (data['curfewtimetableday'] == "true") %}
               <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="curfewchange-starttime-hours2" name="curfewchange-starttime{{ data['day'] }}-hours2" value="{{ data['curfewchange-starttime-hours2'] }}">
            {% elseif (data['curfewstandard'] == "false") %}
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="curfewchange-starttime-hours2" name="curfewchange-starttime-hours2" value="">
            {% else %}  
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="curfewchange-starttime-hours2" name="curfewchange-starttime-hours2" value="19">
            {% endif %}    
          </div>       
        </div>
        <div class="govuk-date-input__item">
          <label class="govuk-label govuk-date-input__label">:</label>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group form-group-start-hours">
            <label class="govuk-label govuk-date-input__label" for="curfewchange-starttime-minutes2"><span class="govuk-visually-hidden">Start</span> Minutes</label>
            {% if (data['curfewtimetableday'] == "true") %}
               <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="curfewchange-starttime-minutes2" name="curfewchange-starttime{{ data['day'] }}-minutes2" value="{{ data['curfewchange-starttime-minutes2'] }}">
            {% elseif (data['curfewstandard'] == "false") %}
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="curfewchange-starttime-minutes2" name="curfewchange-starttime-minutes2" value="">
            {% else %}  
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="curfewchange-starttime-minutes2" name="curfewchange-starttime-minutes2" value="00">
            {% endif %}    
          </div>       
        </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="CurfewStart2-ampm">
                    am or pm
                </label>
                <select class="govuk-select govuk-date-input__input govuk-input--width-2 " id="CurfewStart2-ampm" name="CurfewStart2-ampm" aria-label="Choose am or pm">
                    <option value="" selected>
                        Choose am or pm
                    </option>
                    <option value="am">
                        am
                    </option>
                    <option value="pm">
                        pm
                    </option>
                </select>
            </div>
       </div>
         
        
      </div>
    </fieldset>
  </div>

 <div id="curfewTimes-form" class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">What time does the second curfew period end?</legend>

      <div class="govuk-date-input ">
        <div class="govuk-date-input__item">
          <label class="govuk-label govuk-date-input__label" for="curfewchange-starttime-hours2"><span class="govuk-visually-hidden">Start</span> Hour</label>
          <div class="govuk-form-group form-group-start-hours">
             {% if (data['curfewtimetableday'] == "true") %}
               <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="curfewchange-endtime-hours2" name="curfewchange-endtime{{ data['day'] }}-hours2" value="{{ data['curfewchange-endtime-hours2'] }}">
            {% elseif (data['curfewstandard'] == "false") %}
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="curfewchange-endtime-hours2" name="curfewchange-endtime-hours2" value="">
            {% else %}  
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="curfewchange-endtime-hours2" name="curfewchange-endtime-hours2" value="07">
            {% endif %}
          </div>
        </div>
        <div class="govuk-date-input__item">
          <label class="govuk-label govuk-date-input__label">:</label>
        </div>
         <div class="govuk-date-input__item">
          <label class="govuk-label govuk-date-input__label" for="curfewchange-starttime-minutes2"><span class="govuk-visually-hidden">Start</span> Minutes</label>
          <div class="govuk-form-group form-group-start-hours">
            {% if (data['curfewtimetableday'] == "true") %}
               <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="curfewchange-endtime-minutes2" name="curfewchange-endtime{{ data['day'] }}-minutes2" value="{{ data['curfewchange-endtime-minutes2'] }}">
            {% elseif (data['curfewstandard'] == "false") %}
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="curfewchange-endtime-minutes2" name="curfewchange-endtime-minutes2" value="">
            {% else %}  
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="curfewchange-endtime-minutes2" name="curfewchange-endtime-minutes2" value="00">
            {% endif %}
          </div>
        </div>
         <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="CurfewEnd2-ampm">
                    am or pm
                </label>
                <select class="govuk-select govuk-date-input__input govuk-input--width-2 " id="CurfewEnd2-ampm" name="CurfewEnd2-ampm" aria-label="Choose am or pm">
                    <option value="" selected>
                        Choose am or pm
                    </option>
                    <option value="am">
                        am
                    </option>
                    <option value="pm">
                        pm
                    </option>
                </select>
            </div>
       </div>
      </div>
    </fieldset>
  </div>

  <!--

  {% if (data['addcurfewaddress'] == "Yes") %}
  
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-label govuk-label--s">
        What address will the device wearer be at during curfew hours?
    </legend>
    <div id="address-hint" class="govuk-hint">

    </div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
     {% if (data['curfewtimetableday'] == "true") %} 
           

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="whereDoYouLive" name="day-address{{ data['day'] }}" type="checkbox" checked value="{{ data['contactaddressLine1'] or "123 Carter Bar" }}">
              <label class="govuk-label govuk-checkboxes__label" for="whereDoYouLive">
               {{ data['contactaddressLine1'] or "123 Carter Bar" }}
              </label>
            </div>  
          
            {% if (data['addcurfewaddress'] == "Yes") %}
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="whereDoYouLive-3" name="day-address{{ data['day'] }}" type="checkbox" value="{{ data['curfewaddressname'] }} - {{ data['curfewaddressLine1'] }}">
              <label class="govuk-label govuk-checkboxes__label" for="whereDoYouLive-3">
                {{ data['curfewaddressLine1'] or "1 Washington Street" }}
              </label>
            </div>
            {% endif %}
    {% elseif (data['curfewstandard'] == "false") %}
            
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="whereDoYouLive" name="day-address" type="checkbox" value="{{ data['contactaddressLine1'] or "123 Carter Bar" }}">
              <label class="govuk-label govuk-checkboxes__label" for="whereDoYouLive">
               {{ data['contactaddressLine1'] or "123 Carter Bar" }}
              </label>
            </div>    
          
            {% if (data['addcurfewaddress'] == "Yes") %}
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="whereDoYouLive-3" name="day-address" type="checkbox" value="{{ data['curfewaddressname'] }} - {{ data['curfewaddressLine1'] }}">
              <label class="govuk-label govuk-checkboxes__label" for="whereDoYouLive-3">
                {{ data['curfewaddressLine1'] or "1 Washington Street" }}
              </label>
            </div>
            {% endif %}

    {% endif %}
    </div>
  </fieldset>
</div>
{% endif %}   

-->   
