   




 {% if (data['usertype'] == "Prison user" or data['usertype'] == "Youth user") %}
    <div class="govuk-phase-banner" style=" padding-bottom:20px">
              <label class="govuk-label" for="select">
                Showing:
              </label>
              <select class="govuk-select" name="select"  id="mySelect" onchange="toggleElement()">
                <option value="hide">My forms</option>
                <option value="show">Berwyn Prison's forms</option>
              
              </select>

                <button type="submit" class="govuk-button govuk-button--secondary moj-multi-file-upload__button" data-module="govuk-button">
                Filter
              </button>
            </div>


   {% endif %}

   {% if (data['usertype'] == "Home Office user") %}
    <div class="govuk-phase-banner" style=" padding-bottom:20px">
              <label class="govuk-label" for="select">
                Showing:
              </label>
              <select class="govuk-select" name="select"  id="mySelect" onchange="toggleElement()">
                <option value="hide">My forms</option>
                <option value="show">Home Office's forms</option>
              
              </select>

                <button type="submit" class="govuk-button govuk-button--secondary moj-multi-file-upload__button" data-module="govuk-button">
                Filter
              </button>
            </div>


   {% endif %}





     <table class="govuk-table  govuk-table--small-text-until-tablet">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header">Last updated</th>
                <th scope="col" class="govuk-table__header">Updated by</th>
          
                <th scope="col" class="govuk-table__header">Status</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="submitted-form?view=true&variation=false&view-variation=returned&newform=true&draftversion=false&wearer-firstname=Ermintrude&wearer-lastname=Jones">Ermintrude Jones</a></td>
                <td class="govuk-table__cell">04/08/2026</td>
                <td class="govuk-table__cell">Ada Lovelace</td>
               
                <td class="govuk-table__cell">
                  {{govukTag({
                      text: "Returned",
                      classes: "govuk-tag--red"
                    })}}</td>
              </tr>

                <tr class="govuk-table__row" id="targetDiv2" style="display:none;">
                <td class="govuk-table__cell"><a href="submitted-form?view=true&variation=false&view-variation=returned&newform=true&draftversion=false&wearer-firstname=Bob&wearer-lastname=Brown">Bob Brown</a></td>
                <td class="govuk-table__cell">04/08/2026</td>
                <td class="govuk-table__cell">Radia Perlman</td>
               
                <td class="govuk-table__cell">
                  {{govukTag({
                      text: "Returned",
                      classes: "govuk-tag--red"
                    })}}</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="new-form?section-1-complete=true&section-2-complete=true&section-3-complete=true&section-4-complete=true&section-5-complete=true&newform=true&error=false">David Francis</a></td>
                <td class="govuk-table__cell">03/08/2026</td>
                <td class="govuk-table__cell">Ada Lovelace</td>
               
                <td class="govuk-table__cell">
                  {{govukTag({
                      text: "Draft",
                      classes: "govuk-tag--grey"
                    })}}</td>
              </tr>
               <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="new-form-error?section-1-complete=true&section-2-complete=true&section-3-complete=true&section-4-complete=false&section-5-complete=true&newform=true">Dylan Davies</a></td>
             
                <td class="govuk-table__cell">02/08/2026</td>
                <td class="govuk-table__cell">Ada Lovelace</td>
               
                <td class="govuk-table__cell">
                  {{govukTag({
                      text: "Draft",
                      classes: "govuk-tag--grey"
                    })}}</td>
              </tr>

         
                   <tr class="govuk-table__row" id="targetDiv1" style="display:none;">
                       <td class="govuk-table__cell">
                         {% if (data['usertype'] == "Prison user" or data['usertype'] == "Youth user" or data['usertype'] == "Home Office user") %} 
                         <a href="new-form-locked?section-1-complete=true&section-2-complete=true&section-3-complete=false&section-4-complete=true&section-5-complete=false&newform=true&error=false">Mohammed Mulin</a></td>
                         {% else %}
                         <a href="new-form?section-1-complete=true&section-2-complete=true&section-3-complete=true&section-4-complete=true&section-5-complete=true&newform=true&error=false">Mohammed Mulin</a></td>
                         {% endif %}
                    
                    <td class="govuk-table__cell">02/08/2026</td>
                    <td class="govuk-table__cell">
                      {% if (data['usertype'] == "Prison user" or data['usertype'] == "Youth user" or data['usertype'] == "Home Office user") %} 
                      Radia Perlman
                      {% else %}
                      Ada Lovelace
                      {% endif %}
                    </td>
                   
                    <td class="govuk-table__cell">
                      {{govukTag({
                          text: "Draft",
                      classes: "govuk-tag--grey"
                        })}}</td>
                  </tr>
         

            <!--  <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="submitted-form?view=true&variation=false&view-variation=fail&newform=true&draftversion=false">{{ data['wearer-firstname'] or "Bobbie" }} {{ data['wearer-lastname'] or "Gibbs" }}</a></td>
                <td class="govuk-table__cell">02/08/2026</td>
                <td class="govuk-table__cell">Ada Lovelace</td>
                <td class="govuk-table__cell">
                {{govukTag({
                  text: "Failed to submit",
                  classes: "govuk-tag--red"
                })}}</td>
              </tr> -->
            </tbody>
          </table>

 


<script>
function toggleElement() {
  const select = document.getElementById("mySelect");
  const div1 = document.getElementById("targetDiv1");
  const div2 = document.getElementById("targetDiv2");

  if (select.value === "show") {
    div1.style.display = "table-row";
    div2.style.display = "table-row";
  } else {
    div1.style.display = "none";
    div2.style.display = "none";
  }
}
</script>