          {{ xGovukAutocomplete({
                id: "offences",
                name: "offences",
                value: data['offences'],
                allowEmpty: false,
                showNoOptionsFound: true,
                label: {
                  classes: "govuk-label--l",
                  isPageHeading: true,
                  text: "What type of offence did the device wearer commit?"
                 },   
                hint: {
                  text: "If the device wearer has committed multiple offences select their main or index offence."
                },

            items: [
            
                  { text: "Murder" },
                  { text: "Reported incident of rape" },
                  { text: "Assault On A Constable" },
                  { text: "Assault Without Injury on a Constable" },
                  { text: "Assault Without Injury" },
                  { text: "Common Assault" },
                  { text: "Racially Aggravated Common Assault" },
                  { text: "Racially or Religiously Aggravated Assault Without Injury" },
                  { text: "Racially Or Religiously Aggravated Common Assault" },
                  { text: "Modern Slavery" },
                  { text: "Possession of Firearms with intent" },
                  { text: "Possession of Firearms Offences" },
                  { text: "Possession of Other Weapons" },
                  { text: "Possession of Article with Blade or Point" },
                  { text: "Cruelty To And Neglect Of Children" },
                  { text: "Cruelty to Children/Young Persons" },
                  { text: "Abandoning Child Under Two Years" },
                  { text: "Interfering with a Motor Vehicle" },
                  { text: "Vehicle Interference And Tampering" },
                  { text: "Child Abduction" },
                  { text: "Indecent Exposure" },
                  { text: "Procuring Illegal Abortion" },
                  { text: "Concealing an Infant Death Close to Birth" },
                  { text: "Concealment Of Birth" },
                  { text: "Buggery" },
                  { text: "Indecent Assault On A Male" },
                  { text: "Sexual Assault On A Male Aged 13 And Over" },
                  { text: "Sexual Assault On A Male Child Under 13" },
                  { text: "Gross Indecency Between Males" },
                  { text: "Rape Of A Female" },
                  { text: "Rape Of A Male" },
                  { text: "Rape Of A Female Aged 16 And Over" },
                  { text: "Rape Of A Female Child Under 16" },
                  { text: "Rape Of A Female Child Under 13" },
                  { text: "Rape Of A Male Aged 16 And Over" },
                  { text: "Rape Of A Male Child Under 16" },
                  { text: "Rape Of A Male Child Under 13" },
                  { text: "Rape of a female - multiple undefined offenders" },
                  { text: "Rape of a male - multiple undefined offenders" },
                  { text: "Attempted Murder" },
                  { text: "Indecent Assault On A Female" },
                  { text: "Reported incident of modern slavery" },
                  { text: "Sexual Assault On A Female Aged 13 And Over" },
                  { text: "Sexual Assault On A Female Child Under 13" },
                  { text: "Sexual Activity Involving A Child Under 13" },
                  { text: "Unlawful Sexual Intercourse With Girl Under 13" },
                  { text: "Unlawful Sexual Intercourse With Girl Under 16" },
                  { text: "Causing Sexual Activity Without Consent" },
                  { text: "Sexual Activity Involving A Child Under 16" },
                  { text: "Familial Sexual Offences" },
                  { text: "Incest" },
                  { text: "Incest or Familial Sexual Offences" },
                  { text: "Exploitation Of Prostitution" },
                  { text: "Procuration" },
                  { text: "Abduction of Female" },
                  { text: "Bigamy" },
                  { text: "Soliciting for the Purpose of Prostitution" },
                  { text: "Soliciting Of Women By Men" },
                  { text: "Soliciting Or Importuning By A Man" },
                  { text: "Burglary In A Dwelling" },
                  { text: "Attempted Burglary In A Dwelling" },
                  { text: "Distraction Burglary" },
                  { text: "Burglary In A Dwelling" },
                  { text: "Attempted Burglary In A Dwelling" },
                  { text: "Distraction Burglary in a Dwelling" },
                  { text: "Attempted Distraction Burglary in a Dwelling" },
                  { text: "Burglary- Residential" },
                  { text: "Attempted Burglary – Residential" },
                  { text: "Distraction Burglary – Residential" },
                  { text: "Attempted Distraction Burglary – Residential" },
                  { text: "Residential burglary of a home" },
                  { text: "Attempted residential burglary of a home" },
                  { text: "Distraction burglary - residential (home)" },
                  { text: "Attempted distraction burglary - residential (home)" },
                  { text: "Residential burglary of unconnected building" },
                  { text: "Attempted residential burglary of unconnected building" },
                  { text: "Distraction burglary - residential (unconnected building)" },
                  { text: "Attempted distraction burglary - residential (unconnected building)" },
                  { text: "Aggravated Burglary In A Dwelling" },
                  { text: "Aggravated Burglary – Residential" },
                  { text: "Aggravated burglary - residential (home)" },
                  { text: "Aggravated burglary - residential (unconnected building)" },
                  { text: "Threat Or Conspiracy To Murder" },
                  { text: "Burglary In A Building Other Than A Dwelling" },
                  { text: "Attempted Burglary In A Building Other Than A Dwelling" },
                  { text: "Burglary In A Building Other Than A Dwelling" },
                  { text: "Attempted Burglary In A Building Other Than A Dwelling" },
                  { text: "Burglary – Business and community" },
                  { text: "Attempted Burglary – Business and community" },
                  { text: "Aggravated Burglary In A Building Other Than A Dwelling" },
                  { text: "Aggravated Burglary - Business and community" },
                  { text: "Going Equipped For Stealing Etc" },
                  { text: "Making, Supplying or Possessing Articles for use in Fraud" },
                  { text: "Robbery Of Business Property" },
                  { text: "Robbery Of Personal Property" },
                  { text: "Blackmail" },
                  { text: "Kidnapping" },
                  { text: "Causing Death By Aggravated Vehicle Taking" },
                  { text: "Aggravated Vehicle Taking" },
                  { text: "Proceeds Of Crime" },
                  { text: "Profiting From or Concealing Knowledge of the Proceeds of Crime" },
                  { text: "Theft From The Person" },
                  { text: "Conspiracy to Murder" },
                  { text: "Threats to Kill" },
                  { text: "Manslaughter" },
                  { text: "Corporate Manslaughter" },
                  { text: "Infanticide" },
                  { text: "Child Destruction" },
                  { text: "Intentional Destruction of a Viable Unborn Child" },
                  { text: "Causing Death or Serious Injury by Dangerous Driving" },
                  { text: "Causing Death By Careless Driving When Under The Influence Of Drink Or Drugs" },
                  { text: "Cause or Allow Death or Serious Physical Harm to Child or Vulnerable Person" },
                  { text: "Causing Death By Careless or Inconsiderate Driving" },
                  { text: "Causing Death or Serious Injury by Driving: Unlicensed, Disqualified or Uninsured Drivers" },
                  { text: "Theft In A Dwelling Other Than From An Automatic Machine Or Meter" },
                  { text: "Theft By An Employee" },
                  { text: "Theft Or Unlawful Taking Of Mail" },
                  { text: "Abstracting Electricity" },
                  { text: "Dishonest Use of Electricity" },
                  { text: "Theft Or Unauthorised Taking Of A Pedal Cycle" },
                  { text: "Theft From A Vehicle" },
                  { text: "Shoplifting" },
                  { text: "Theft From A Shop" },
                  { text: "Theft From An Automatic Machine Or Meter" },
                  { text: "Theft Or Unauthorised Taking Of A Motor Vehicle" },
                  { text: "Attempted Theft Of A Motor Vehicle" },
                  { text: "Other Theft" },
                  { text: "Theft Making Off Without Payment" },
                  { text: "Wounding Or Other Act Endangering Life" },
                  { text: "Frauds By Company Directors Etc" },
                  { text: "False Accounting" },
                  { text: "Cheque And Credit Card Fraud" },
                  { text: "Cheque And Credit Card Fraud (before the commencement of the Fraud Act 2005)" },
                  { text: "Cheque and Plastic Card Fraud (before the commencement of the Fraud Act 2006)" },
                  { text: "Other Frauds" },
                  { text: "Preserved Other Fraud And Repealed Fraud Offences (before the commencement of the Fraud Act 2005)" },
                  { text: "Preserved Other Fraud And Repealed Fraud Offences (before the commencement of the Fraud Act 2006)" },
                  { text: "Fraud By False Representation - Cheque, Plastic Card and Online Bank Accounts (not eBay or Pay Pal)" },
                  { text: "Fraud By False Representation - Other Frauds" },
                  { text: "Failure To Disclose Information" },
                  { text: "Fraud By Failure To Disclose Information" },
                  { text: "Abuse Of Position" },
                  { text: "Fraud By Abuse Of Position" },
                  { text: "Obtaining Services Dishonestly" },
                  { text: "Making Or Supplying Articles For Use In Fraud" },
                  { text: "Possession Of Articles For Use In Fraud" },
                  { text: "Handling Stolen Goods" },
                  { text: "Bankruptcy And Insolvency Offences" },
                  { text: "Arson" },
                  { text: "Arson Endangering Life" },
                  { text: "Arson Not Endangering Life" },
                  { text: "Criminal Damage To A Dwelling" },
                  { text: "Criminal Damage To A Building Other Than A Dwelling" },
                  { text: "Criminal Damage To A Vehicle" },
                  { text: "Other Criminal Damage" },
                  { text: "Racially Aggravated Criminal Damage To A Dwelling" },
                  { text: "Racially Or Religiously Aggravated Criminal Damage To A Dwelling" },
                  { text: "Racially Aggravated Criminal Damage To A Building Other Than A Dwelling" },
                  { text: "Racially Or Religiously Aggravated Criminal Damage To A Building Other Than A Dwelling" },
                  { text: "Racially Aggravated Criminal Damage To A Vehicle" },
                  { text: "Racially Or Religiously Aggravated Criminal Damage To A Vehicle" },
                  { text: "Racially Aggravated Other Criminal Damage" },
                  { text: "Racially Or Religiously Aggravated Other Criminal Damage" },
                  { text: "Racially or religiously aggravated criminal damage" },
                  { text: "Threat Or Possession With Intent To Commit Criminal Damage" },
                  { text: "Wounding or Carrying Out an Act Endangering Life" },
                  { text: "Use of Substance or Object to Endanger Life" },
                  { text: "Possession of Items to Endanger Life" },
                  { text: "Assault with intent to cause serious harm" },
                  { text: "Endangering Life" },
                  { text: "Endangering A Railway Passenger" },
                  { text: "Forgery Etc. Of Drug Prescription" },
                  { text: "Other Forgery Etc." },
                  { text: "Possession Of False Documents" },
                  { text: "High Treason And Other Offences Against Treason Acts" },
                  { text: "Treason" },
                  { text: "Violent Disorder" },
                  { text: "Treason Felony" },
                  { text: "Rioting" },
                  { text: "Violent Disorder" },
                  { text: "Other Offences (Against The State And Public Order)" },
                  { text: "Perjury" },
                  { text: "Perjury And False Statements" },
                  { text: "Libel" },
                  { text: "Offender Management Act" },
                  { text: "Endangering Life At Sea" },
                  { text: "Sexual Activity etc With A Person With A Mental Disorder" },
                  { text: "Abuse of Children through Sexual Exploitation" },
                  { text: "Trafficking For Sexual Exploitation" },
                  { text: "Abuse of Position of Trust" },
                  { text: "Abuse of Position of Trust of a Sexual Nature" },
                  { text: "Abuse Of Trust" },
                  { text: "Gross Indecency With A Child" },
                  { text: "Betting, Gaming And Lotteries" },
                  { text: "Aiding And Abetting Suicide" },
                  { text: "Suicide (Aiding, Abetting Etc.)" },
                  { text: "Immigration Act" },
                  { text: "Immigration Acts" },
                  { text: "Attempting To Pervert The Course Of Public Justice" },
                  { text: "Absconding From Lawful Custody" },
                  { text: "Dangerous Driving" },
                  { text: "Firearms Act 1968 And Other Firearms Acts" },
                  { text: "Other Firearms Offences" },
                  { text: "Fraud, Forgery Etc. Associated With Vehicle Or Driver Records" },
                  { text: "Offences Against Laws Relating To Customs, Excise And Inland Revenue" },
                  { text: "Bail Offences" },
                  { text: "Trade Descriptions Act, 1968 And Similar Offences" },
                  { text: "Trade Descriptions Offences" },
                  { text: "Health And Safety At Work Etc. Act 1974" },
                  { text: "Health And Safety At Work Offences" },
                  { text: "Obscene Publications, Etc. And Protected Sexual Material" },
                  { text: "Protection From Eviction" },
                  { text: "Sexual Grooming" },
                  { text: "Other Miscellaneous Sexual Offences" },
                  { text: "Other Miscellaneous Sexual Offences" },
                  { text: "Unnatural Sexual Offences" },
                  { text: "Exposure and Voyeurism" },
                  { text: "Adulteration Of Food" },
                  { text: "Other Wounding" },
                  { text: "Other Possession Of Weapons" },
                  { text: "Harassment" },
                  { text: "Racially Aggravated Other Wounding" },
                  { text: "Racially Or Religiously Aggravated Other Wounding" },
                  { text: "Racially Aggravated Harassment" },
                  { text: "Racially Or Religiously Aggravated Harassment" },
                  { text: "Inflicting Grievous Bodily Harm Without Intent" },
                  { text: "Actual Bodily Harm and other Injury" },
                  { text: "Racially or Religiously Aggravated Inflicting Grievous Bodily Harm without intent" },
                  { text: "Racially or Religiously Aggravated Actual Bodily Harm and other Injury" },
                  { text: "Poisoning and Female Genital Mutilation" },
                  { text: "Harassment" },
                  { text: "Racially or Religiously Aggravated Harassment" },
                  { text: "Assault with injury" },
                  { text: "Racially or religiously aggravated assault with injury" },
                  { text: "Stalking" },
                  { text: "Malicious Communications" },
                  { text: "Assault with Injury on a Constable" },
                  { text: "Assaults on Emergency Workers (other than constables)" },
                  { text: "Controlling and Coercive Behaviour" },
                  { text: "Knives Act 1997 And Other Related Offensive Weapons Acts/ Regulations Not Dealt With Elsewhere" },
                  { text: "Other Knives Offences" },
                  { text: "Public Health" },
                  { text: "Trafficking In Controlled Drugs" },
                  { text: "Possession Of Controlled Drugs" },
                  { text: "Other Drug Offences" },
                  { text: "Possession Of Controlled Drugs (Excluding Cannabis)" },
                  { text: "Possession Of Controlled Drugs Excluding Cannabis" },
                  { text: "Possession Of Controlled Drugs (Cannabis)" },
                  { text: "Town And Country Planning Act 1990" },
                  { text: "Disclosure, Obstruction, False Or Misleading Statements Etc" },
                  { text: "Wildlife crime" },
                  { text: "Other Indictable Or Triable Either Way Offences" },
                  { text: "Public Fear, Alarm or Distress" },
                  { text: "Racially or Religiously Aggravated Public Fear, Alarm or Distress" }

      ]
              }) }}

