  {{ xGovukAutocomplete({
                id: "pdu",
                name: "pdu",
                value: data['pdu'],
                allowEmpty: false,
                showNoOptionsFound: true,
                label: {
                  classes: "govuk-label",
                  text: "Select the Probation Delivery Unit (PDU)"
                },

              items: [
                  { text: "Bedfordshire" },
{ text: "Cambridgeshire" },
{ text: "Essex North" },
{ text: "Essex South" },
{ text: "Hertfordshire" },
{ text: "Northamptonshire" },
{ text: "East Kent" },
{ text: "West Kent" },
{ text: "Surrey" },
{ text: "West Sussex" },
{ text: "East Sussex" },
{ text: "Barking, Dagenham and Havering" },
{ text: "Camden and Islington" },
{ text: "Croydon" },
{ text: "Greenwich and Bexley" },
{ text: "Hammersmith, Fulham, Kensington, Chelsea, Westminster" },
{ text: "Kingston, Richmond and Hounslow" },
{ text: "Lambeth" },
{ text: "Lewisham and Bromley" },
{ text: "Newham" },
{ text: "Redbridge and Waltham Forest" },
{ text: "Southwark" },
{ text: "Tower Hamlets" },
{ text: "Wandsworth, Merton and Sutton" },
{ text: "Buckinghamshire and Milton Keynes" },
{ text: "Oxfordshire" },
{ text: "East Berkshire" },
{ text: "West Berkshire" },
{ text: "Hampshire North and East" },
{ text: "Hampshire South West" },
{ text: "Hampshire South and Isle of Wight" },
{ text: "Derby City" },
{ text: "Derbyshire" },
{ text: "East and West Lincolnshire" },
{ text: "Leicester, Leicestershire and Rutland" },
{ text: "Nottingham City" },
{ text: "Nottinghamshire" },
{ text: "Birmingham North, East and Solihull" },
{ text: "Birmingham Central and South" },
{ text: "Coventry" },
{ text: "Warwickshire" },
{ text: "Dudley and Sandwell" },
{ text: "Walsall and Wolverhampton" },
{ text: "Hereford, Shropshire and Telford" },
{ text: "Staffordshire and Stoke" },
{ text: "Worcestershire" },
{ text: "Cardiff and Vale" },
{ text: "Cwm Taf Morgannwg" },
{ text: "Dyfed Powys" },
{ text: "Gwent" },
{ text: "North Wales" },
{ text: "Swansea, Neath and Port Talbot" },
{ text: "Bath and North Somerset" },
{ text: "Bristol and South Gloucestershire" },
{ text: "Devon and Torbay" },
{ text: "Dorset" },
{ text: "Somerset" },
{ text: "Plymouth" },
{ text: "Cornwall and Isles of Scilly" },
{ text: "Swindon and Wiltshire" },
{ text: "Gloucestershire" },
{ text: "Central Lancashire" },
{ text: "East Lancashire" },
{ text: "Warrington and Halton" },
{ text: "Cumbria" },
{ text: "East Cheshire" },
{ text: "West Cheshire" },
{ text: "Blackburn" },
{ text: "North West Lancashire" },
{ text: "Liverpool North" },
{ text: "Liverpool South" },
{ text: "Sefton" },
{ text: "Knowsley and St. Helens" },
{ text: "Wirral" },
{ text: "County Durham and Darlington" },
{ text: "Gateshead and South Tyneside" },
{ text: "Sunderland" },
{ text: "Newcastle" },
{ text: "North Tyneside and Northumberland" },
{ text: "Redcar, Cleveland and Middlesbrough" },
{ text: "Stockton and Hartlepool" },
{ text: "Barnsley and Rotherham" },
{ text: "Doncaster" },
{ text: "Sheffield" },
{ text: "Bradford and Calderdale" },
{ text: "Hull and East Riding" },
{ text: "Kirklees" },
{ text: "Wakefield" },
{ text: "Leeds" },
{ text: "North and North East Lincolnshire" },
{ text: "North Yorkshire" },
{ text: "York" },
{ text: "Bolton" },
{ text: "Bury and Rochdale" },
{ text: "Manchester North" },
{ text: "Manchester South" },
{ text: "Oldham" },
{ text: "Salford" },
{ text: "Stockport and Trafford" },
{ text: "Tameside" },
{ text: "Wigan" }

                
                ]
              }) }}