          {{ xGovukAutocomplete({
                id: "probation",
                name: "probation",
                value: data['probation'],
                allowEmpty: false,
                showNoOptionsFound: true,
                label: {
                  classes: "govuk-label",
                  text: "Select the Police force area"
 },


            items: [
           

{ text: "Avon and Somerset Constabulary" },
{ text: "Bedfordshire Police" },
{ text: "Cambridgeshire Constabulary" },
{ text: "Cheshire Constabulary" },
{ text: "City of London Police" },
{ text: "Cleveland Police" },
{ text: "Cumbria Constabulary" },
{ text: "Derbyshire Constabulary" },
{ text: "Devon & Cornwall Police" },
{ text: "Dorset Police" },
{ text: "Durham Constabulary" },
{ text: "Dyfed-Powys Police" },
{ text: "Essex Police" },
{ text: "Gloucestershire Constabulary" },
{ text: "Greater Manchester Police" },
{ text: "Gwent Police" },
{ text: "Hampshire Constabulary" },
{ text: "Hertfordshire Constabulary" },
{ text: "Humberside Police" },
{ text: "Kent Police" },
{ text: "Lancashire Constabulary" },
{ text: "Leicestershire Police" },
{ text: "Lincolnshire Police" },
{ text: "Merseyside Police" },
{ text: "Metropolitan Police Service" },
{ text: "Norfolk Constabulary" },
{ text: "North Wales Police " },
{ text: "North Yorkshire Police" },
{ text: "Northamptonshire Police" },
{ text: "Northumbria Police" },
{ text: "Nottinghamshire Police" },
{ text: "South Wales Police" },
{ text: "South Yorkshire Police" },
{ text: "Staffordshire Police" },
{ text: "Suffolk Constabulary" },
{ text: "Surrey Police" },
{ text: "Sussex Police" },
{ text: "Thames Valley Police" },
{ text: "Warwickshire Police" },
{ text: "West Mercia Police" },
{ text: "West Midlands Police" },
{ text: "West Yorkshire Police" },
{ text: "Wiltshire Police" },
{ text: "National Crime Agency" }
            
      ]
              }) }}


