          {{ xGovukAutocomplete({
                id: "ycs",
                name: "ycs",
                value: data['ycs'],
                allowEmpty: false,
                showNoOptionsFound: true,
                label: {
                  classes: "govuk-label",
                  text: "Select the YCS region"
 },


            items: [
            { text: "East and South East" },
            { text: "London" },
            { text: "Midlands" },
            { text: "North East and Cumbria" },
            { text: "North West" },
            { text: "South West and South Central" },
            { text: "Wales" },
            { text: "Yorkshire and the Humber" }
            
      ]
              }) }}


