{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
   Order information - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Electronic monitoring required</span>
       Civil order information
      </h1>

        {% if (data['cya4'] == "true") %}

        <form class="form" action="end2" method="post">

        {% else %}

       
      <form class="form" action="end2" method="post">

        {% endif %}

           {{ govukRadios({
              classes: "govuk-radios",
              name: "order-description",
              fieldset: {
                legend: {
                  text: "What pilot project is the device wearer part of?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: "Domestic Abuse Protection Order (DAPO)",
                  checked: (true if data['order-description'] == 'Domestic Abuse Protection Order (DAPO)'),
                  text: "Domestic Abuse Protection Order (DAPO)"
                },
                 {
                  divider: "or"
                },
                {
                  value: "They are not part of any of these pilots",
                  checked: (true if data['order-description'] == 'They are not part of any of these pilots'),
                  text: "They are not part of any of these pilots",
                  behaviour: "exclusive"
                }
              ]
            }) }}




       

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save as draft",
          href: '../new-form',
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
