{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Monitoring conditions - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"></span>
        Contact information
      </h1>

  <form action="" method="post">
    <input type="hidden" name="_csrf" value="ulJSt4t0--d82ZfTMrOEwpB6vCaJMg4Eq_Q4">

    

    
  
  <fieldset class="govuk-fieldset">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
  
   Notifying organisation
  
  </legend>

    {% set courtsHtml %}

           {% include "/includes/court.html" %}
            
           
            {% endset -%}

            {% set crowncourtsHtml %}

             {% include "/includes/crown-court.html" %}
            
           
            {% endset -%}

            {% set prison2Html %}

             {% include "/includes/prison.html" %}
            
            {% endset -%}



            {{ govukRadios({
              name: "notifying-org",
              fieldset: {
                legend: {
                  text: " What organisation or related organisation are you part of?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              hint: {
                text: "Select one option"
              },
              items: [
                {
                  value: "Crown Court",
                  text: "Crown Court",
                  checked: (true if data['notifying-org'] == 'Crown Court'),
                  conditional: {
                    html: crowncourtsHtml
                  }
                },
                {
                  value: "Family Court",
                  text: "Family Court",
                  checked: (true if data['notifying-org'] == 'Family Court'),
                  conditional: {
                    html: courtsHtml
                  }
                },
                 {
                  value: "Magistrates Court",
                  checked: (true if data['notifying-org'] == 'Magistrates Court'),
                  text: "Magistrates Court",
                  conditional: {
                    html: courtsHtml
                  }
                },
                 {
                  value: "Scottish Court",
                  checked: (true if data['notifying-org'] == 'Scottish Court'),
                  text: "Scottish Court"
                },
                {
                  value: "Home Office",
                  text: "Home Office",
                  checked: (true if data['notifying-org'] == 'Home Office')
                },
                
               
                {
                  value: "Prisons",
                  checked: (true if data['notifying-org'] == 'Prisons'),
                  text: "Prisons",
                  conditional: {
                    html: prison2Html
                  }
                },    
                {
                  value: "Probation",
                  checked: (true if data['notifying-org'] == 'Probation'),
                  text: "Probation"
                },
                 {
                  value: "Youth Custody Service (YCS)",
                  checked: (true if data['notifying-org'] == 'Youth Custody Service (YCS)'),
                  text: "Youth Custody Service (YCS)"
                }
              ]
            }) }}
  

    



  
<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="notifyingOrganisationEmail">
    What is the email address for your team?
  </label>

  
  
  <div id="notifyingOrganisationEmail-hint" class="govuk-hint">
    For example, provide an email address for a shared mailbox that your team has access to.
            <br>
            Do not provide a personal email address.
  </div>


  <input class="govuk-input govuk-!-width-one-half" id="notifyingOrganisationEmail" name="notifyingOrganisationEmail" type="text" aria-describedby="notifyingOrganisationEmail-hint">

</div>

  

</fieldset>


  <fieldset class="govuk-fieldset">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
  
    Responsible Officer
  
  </legend>
  

    



  
<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="responsibleOfficerName">
    Full name of responsible officer
  </label>


  <input class="govuk-input govuk-!-width-one-half" id="responsibleOfficerName" name="responsibleOfficerName" type="text">

</div>


    



  
<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="responsibleOfficerPhoneNumber">
    Telephone number for responsible officer
  </label>


  <input class="govuk-input govuk-!-width-one-half" id="responsibleOfficerPhoneNumber" name="responsibleOfficerPhoneNumber" type="tel" autocomplete="tel tel-national">

</div>

  

</fieldset>


  <fieldset class="govuk-fieldset">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
  
    Responsible Organisation
  
  </legend>
  

  

{% set yjsHtml %}
{{ govukSelect({
  id: "yjs",
  name: "yjs",
  label: {
    text: "Select the region"
  },
  items: [
    {
      value: "Select region",
      text: "Select region",
      selected: true
    },
    {
      value: "East and South East",
      text: "East and South East"
    },
    {
      value: "London",
      text: "London"
    },
    {
      value: "Midlands",
      text: "Midlands"
    },
    {
      value: "North East and Cumbria",
      text: "North East and Cumbria"
    },
    {
      value: "North West",
      text: "North West"
    },
    {
      value: "South West and South Central",
      text: "South West and South Central"
    },
    {
      value: "Wales",
      text: "Wales"
    },
    {
      value: "Yorkshire and Cumbria",
      text: "Yorkshire and Cumbria"
    }
  ]
}) }}
{% endset -%}

{% set probationHtml %}
{{ govukSelect({
  id: "probation",
  name: "probation",
  label: {
    text: "Select the region"
  },
  items: [
    {
      value: "Select region",
      text: "Select region",
      selected: true
    },
    {
      value: "East Midlands",
      text: "East Midlands"
    },
    {
      value: "East of England",
      text: "East of England"
    },
    {
      value: "Greater Manchester",
      text: "Greater Manchester"
    },
    {
      value: "Kent, Surrey & Sussex",
      text: "Kent, Surrey & Sussex"
    },
    {
      value: "London",
      text: "London"
    },
    {
      value: "North East",
      text: "North East"
    },
    {
      value: "North West",
      text: "North West"
    },
    {
      value: "South Central",
      text: "South Central"
    },
     {
      value: "South West",
      text: "South West"
    },
     {
      value: "Wales",
      text: "Wales"
    },
     {
      value: "West Midlands",
      text: "West Midlands"
    }, 
    {
      value: "Yorkshire and The Humber",
      text: "Yorkshire and The Humber"
    }

  ]
}) }}
{% endset -%}


{{ govukRadios({
  name: "contact",
  fieldset: {
    legend: {
      text: " What organisation is the responsible officer part of?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "Select one option"
  },
  items: [
    {
      value: "Youth Justice Service (YJS)",
      text: "Youth Justice Service (YJS)",
      conditional: {
        html: yjsHtml
      }
    },
    {
      value: "Youth Custody Service (YCS)",
      text: "Youth Custody Service (YCS)",
      conditional: {
        html: yjsHtml
      }
    },
    {
      value: "Probation",
      text: "Probation",
      conditional: {
        html: probationHtml
      }
    },
    
    {
      value: "Field monitoring service",
      text: "Field monitoring service"
    },
    {
      value: "Home Office",
      text: "Home Office"
    },
    {
      value: "Police",
      text: "Police"
    }
  ]
}) }}
    

    <fieldset class="govuk-fieldset">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
  
    What is the address of the responsible organisation?
  
  </legend>
  

      



  
<div class="govuk-form-group">
  <label class="govuk-label" for="address-line-1">
    Address line 1
  </label>


  <input class="govuk-input govuk-!-width-two-thirds" id="address-line-1" name="responsibleOrganisationAddressLine1" type="text">

</div>


      



  
<div class="govuk-form-group">
  <label class="govuk-label" for="address-line-2">
    Address line 2
  </label>


  <input class="govuk-input govuk-!-width-two-thirds" id="address-line-2" name="responsibleOrganisationAddressLine2" type="text">

</div>


      



  
<div class="govuk-form-group">
  <label class="govuk-label" for="address-line-3">
    Address line 3
  </label>


  <input class="govuk-input govuk-!-width-two-thirds" id="address-line-3" name="responsibleOrganisationAddressLine3" type="text">

</div>


      



  
<div class="govuk-form-group">
  <label class="govuk-label" for="address-line-4">
    Address line 4
  </label>


  <input class="govuk-input govuk-!-width-two-thirds" id="address-line-4" name="responsibleOrganisationAddressLine4" type="text">

</div>


      



  
<div class="govuk-form-group">
  <label class="govuk-label" for="postcode">
    Postcode
  </label>


  <input class="govuk-input govuk-!-width-two-thirds" id="postcode" name="responsibleOrganisationAddressPostcode" type="text">

</div>


    

</fieldset>


    



  
<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="responsibleOrganisationPhoneNumber">
    Telephone number for responsible organisation
  </label>


  <input class="govuk-input govuk-!-width-one-half" id="responsibleOrganisationPhoneNumber" name="responsibleOrganisationPhoneNumber" type="tel" autocomplete="tel tel-national">

</div>


    



  
<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="responsibleOrganisationEmail">
    Email address for responsible organisation
  </label>


  <input class="govuk-input govuk-!-width-one-half" id="responsibleOrganisationEmail" name="responsibleOrganisationEmail" type="text">

</div>

  

</fieldset>


   

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save and return back to form section menu",
          href: '#',
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
