{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Monitoring conditions - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"></span>
        Monitoring conditions
      </h1>


      <form class="form" action="#" method="post">

         <h2 class="govuk-heading-m">When should the monitoring take place</h2>

       <fieldset class="govuk-fieldset">
  



    


  <div id="startDate-form" class="govuk-form-group">

    

      <div class="form-date govuk-form-group">
        




  
<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" role="group" aria-describedby="startDate-hint">
    
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
    
      Enter the date for when monitoring starts
    
    </legend>
    
  
    <div id="startDate-hint" class="govuk-hint">
      For example, 21 05 2032
    </div>
  
  
    <div class="govuk-date-input" id="startDate">
      
      
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="startDate-day">
            Day
          </label>
        
        
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="startDate-day" name="startDate[day]" type="text" value="" inputmode="numeric">
        
        </div>
      </div>
      
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="startDate-month">
            Month
          </label>
        
        
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="startDate-month" name="startDate[month]" type="text" value="" inputmode="numeric">
        
        </div>
      </div>
      
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="startDate-year">
            Year
          </label>
        
        
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="startDate-year" name="startDate[year]" type="text" value="" inputmode="numeric">
        
        </div>
      </div>
      
      
    </div>
  
  </fieldset>

</div>

      </div>



   
    


  <div id="endDate-form" class="govuk-form-group">

    

      <div class="form-date govuk-form-group">
        




  
<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" role="group" aria-describedby="endDate-hint">
    
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
    
      Enter the date for when monitoring ends 
    
    </legend>
    
  
    <div id="endDate-hint" class="govuk-hint">
      For example, 21 05 2032
    </div>
  
  
    <div class="govuk-date-input" id="endDate">
      
      
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="endDate-day">
            Day
          </label>
        
        
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="endDate-day" name="endDate[day]" type="text" value="" inputmode="numeric">
        
        </div>
      </div>
      
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="endDate-month">
            Month
          </label>
        
        
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="endDate-month" name="endDate[month]" type="text" value="" inputmode="numeric">
        
        </div>
      </div>
      
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="endDate-year">
            Year
          </label>
        
        
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="endDate-year" name="endDate[year]" type="text" value="" inputmode="numeric">
        
        </div>
      </div>
      
      
    </div>
  
  </fieldset>

</div>

      </div>



   
  

</fieldset>

<fieldset class="govuk-fieldset">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
  
    Order information
  
  </legend>
  


            {{ govukRadios({
              classes: "govuk-radios",
              name: "order-description",
              fieldset: {
                legend: {
                  text: "What pilot project is the device wearer part of?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
               
                {
                  value: "Domestic Abuse Perpetrator on Licence  (DAPOL)",
                  checked: (true if data['order-type'] == 'Domestic Abuse Perpetrator on Licence (DAPOL)'),
                  text: "Domestic Abuse Perpetrator on Licence (DAPOL)"
                },
                {
                  value: "Domestic Abuse Perpetrator on Licence Home Detention Curfew (DAPOL HDC)",
                  checked: (true if data['order-description'] == 'Domestic Abuse Perpetrator on Licence Home Detention Curfew (DAPOL HDC)'),
                  text: "Domestic Abuse Perpetrator on Licence Home Detention Curfew (DAPOL HDC)"
                },
                {
                  value: "GPS acquisitive crime Home Detention Curfew",
                  checked: (true if data['order-description'] == 'GPS acquisitive crime Home Detention Curfew'),
                  text: "GPS acquisitive crime Home Detention Curfew"
                },
                {
                  value: "GPS acquisitive crime parole",
                  checked: (true if data['order-description'] == 'GPS acquisitive crime parole'),
                  text: "GPS acquisitive crime parole"
                },
                 {
                  divider: "or"
                },
                {
                  value: "They are not part of any of these pilots",
                  checked: (true if data['order-description'] == 'They are not part of any of these pilots'),
                  text: "They are not part of any of these pilots",
                  behaviour: "exclusive"
                }
              ]
            }) }}




             {{ govukRadios({
              classes: "govuk-radios",
              name: "order-condition",
              fieldset: {
                legend: {
                  text: "What condition is the monitoring part of?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--s"
                }
              },

               hint: {
              text: "This is on the device wearer's licence."
               },

              items: [
               
               {
                  value: "Licence condition ",
                  checked: (true if data['order-condition'] == 'Licence condition '),
                  text: "Licence condition",
                   hint: {
                    text: "Device wearer is being released from prison before their sentence is complete. They are subject to specific licence conditions that include monitoring conditions."
                  }
                },
                {
                  value: "Post-Sentence Supervision Requirement",
                  checked: (true if data['order-condition'] == 'Post-Sentence Supervision Requirement '),
                  text: "Post-Sentence Supervision Requirement",
                   hint: {
                    text: "Device wearer licence period is complete. They are being released from a standard determinate custodial sentence of less than 2 years. They are subject to post-sentence supervision requirements that include monitoring conditions."
                  }
                }
              ]
            }) }}




          {{ govukRadios({
              classes: "govuk-radios",
              name: "order-sentence",
              fieldset: {
                legend: {
                  text: "What type of sentence has the device wearer been given?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                 {
                  value: "Standard Determinate Sentence",
                  checked: (true if data['order-sentence'] == 'Standard Determinate Sentence'),
                  text: "Standard Determinate Sentence"
                },
                {
                  value: "Extended Determinate Sentence",
                  checked: (true if data['order-sentence'] == 'Extended Determinate Sentence'),
                  text: "Extended Determinate Sentence"
                },
                {
                  value: "Imprisonment for Public Protection (IPP)",
                  checked: (true if data['order-sentence'] == 'Imprisonment for Public Protection (IPP)'),
                  text: "Imprisonment for Public Protection (IPP)"
                },
                {
                  value: "Life Sentence",
                  checked: (true if data['order-sentence'] == 'Life Sentence'),
                  text: "Life Sentence"
                },
                {
                  value: "Section 236A Special Custodial Sentences for Offenders of Particular Concern (SOPC)",
                  checked: (true if data['order-sentence'] == 'Section 236A Special Custodial Sentences for Offenders of Particular Concern (SOPC)'),
                  text: "Section 236A Special Custodial Sentences for Offenders of Particular Concern (SOPC)"
                },
                {
                  value: "Section 227/228 Extended Sentence for Public Protection (EPP)",
                  checked: (true if data['order-sentence'] == 'Section 227/228 Extended Sentence for Public Protection (EPP)'),
                  text: "Section 227/228 Extended Sentence for Public Protection (EPP)"
                },
                {
                  value: "Section 85 Extended Sentences",
                  checked: (true if data['order-sentence'] == 'Section 85 Extended Sentences'),
                  text: "Section 85 Extended Sentences"
                },
                 {
                  value: "Detention and Training Order (DTO)",
                  checked: (true if data['order-sentence'] == 'Detention and Training Order (DTO)'),
                  text: "Detention and Training Order (DTO)"
                }
              ]
            }) }}




           
            {{ govukRadios({
              classes: "govuk-radios",
              name: "hdc",
              fieldset: {
                legend: {
                  text: "Is the device wearer on a Home Detention Curfew (HDC)?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              hint: {
                text: ""
              },
              items: [
                {
                  value: "Yes",
                  text: "Yes",
                  checked: (true if data['hdc'] == 'Yes')
                },
                {
                  value: "No",
                  text: "No",
                  checked: (true if data['hdc'] == 'No')
                },
                {
                  divider: "or"
                },
                {
                  value: "Not able to provide this information",
                  text: "Not able to provide this information",
                  checked: (true if data['hdc'] == 'Not able to provide this information')
                }
              ]
            }) }}

            {{ govukRadios({
              classes: "govuk-radios",
              name: "prarr",
              fieldset: {
                legend: {
                  text: "Has the device wearer been released on a Presumptive Risk Assessed Release Review (P-RARR)?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              hint: {
                text: ""
              },
              items: [
                {
                  value: "Yes",
                  text: "Yes",
                  checked: (true if data['prarr'] == 'Yes')
                },
                {
                  value: "No",
                  text: "No",
                  checked: (true if data['prarr'] == 'No')
                },
                {
                  divider: "or"
                },
                {
                  value: "Not able to provide this information",
                  text: "Not able to provide this information",
                  checked: (true if data['prarr'] == 'Not able to provide this information')
                }
              ]
            }) }}

             {{ govukRadios({
              classes: "govuk-radios",
              name: "issp",
              fieldset: {
                legend: {
                  text: "Is the device wearer on the Intensive Supervision and Surveillance Programme (ISSP)?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              hint: {
                text: "ISSP is for device wearers between the ages of 10-17"
              },
              items: [
                {
                  value: "Yes",
                  text: "Yes",
                  checked: (true if data['issp'] == 'Yes')
                },
                {
                  value: "No",
                  text: "No",
                  checked: (true if data['issp'] == 'No')
                },
                {
                  divider: "or"
                },
                {
                  value: "Not able to provide this information",
                  text: "Not able to provide this information",
                  checked: (true if data['issp'] == 'Not able to provide this information')
                }
              ]
            }) }}


  

</fieldset>

<fieldset class="govuk-fieldset">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
  
    Monitoring required
  
  </legend>
  

    




<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" aria-describedby="monitoringRequired-hint">
    
    <legend class="govuk-fieldset__legend">
    
      What monitoring does the device wearer need?
    
    </legend>
    
  
    <div id="monitoringRequired-hint" class="govuk-hint">
      Select all that apply.
    </div>
  
  
    <div class="govuk-checkboxes" data-module="govuk-checkboxes" data-govuk-checkboxes-init="">
      
      
        
    
    
      
      
      
      
      
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="monitoringRequired" name="monitoringRequired" type="checkbox" value="curfew" aria-describedby="monitoringRequired-item-hint">
        <label class="govuk-label govuk-checkboxes__label" for="monitoringRequired">
          Curfew with electronic monitoring
        </label>
        
        <div id="monitoringRequired-item-hint" class="govuk-hint govuk-checkboxes__hint">
          The device wearer must stay inside an address at specific times during the day and night.
        </div>
        
      </div>
      
    
  
      
        
    
    
      
      
      
      
      
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="monitoringRequired-2" name="monitoringRequired" type="checkbox" value="exclusionZone" aria-describedby="monitoringRequired-2-item-hint">
        <label class="govuk-label govuk-checkboxes__label" for="monitoringRequired-2">
          Exclusion and inclusion zone monitoring
        </label>
        
        <div id="monitoringRequired-2-item-hint" class="govuk-hint govuk-checkboxes__hint">
          The device wearer must not enter identified areas or can only enter identified areas at specified times.
        </div>
        
      </div>
      
    
  
      
        
    
    
      
      
      
      
      
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="monitoringRequired-3" name="monitoringRequired" type="checkbox" value="trail" aria-describedby="monitoringRequired-3-item-hint">
        <label class="govuk-label govuk-checkboxes__label" for="monitoringRequired-3">
          Trail monitoring
        </label>
        
        <div id="monitoringRequired-3-item-hint" class="govuk-hint govuk-checkboxes__hint">
          GPS tracking will record the movements of the device wearer throughout the day. Must be monitored if the device wearer is part of the Acquisitive Crime Project.
        </div>
        
      </div>
      
    
  
      
        
    
    
      
      
      
      
      
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="monitoringRequired-4" name="monitoringRequired" type="checkbox" value="mandatoryAttendance" aria-describedby="monitoringRequired-4-item-hint">
        <label class="govuk-label govuk-checkboxes__label" for="monitoringRequired-4">
          Mandatory attendance monitoring
        </label>
        
        <div id="monitoringRequired-4-item-hint" class="govuk-hint govuk-checkboxes__hint">
          Attendance of the device wearer at appointments is monitored.
        </div>
        
      </div>
      
    
  
      
        
    
    
      
      
      
      
      
      <div class="govuk-checkboxes__item">
        <input disabled class="govuk-checkboxes__input" id="monitoringRequired-5" name="monitoringRequired" type="checkbox" value="alcohol" aria-describedby="monitoringRequired-5-item-hint">
        <label class="govuk-label govuk-checkboxes__label" for="monitoringRequired-5">
          Alcohol monitoring
        </label>
        
        <div id="monitoringRequired-5-item-hint" class="govuk-hint govuk-checkboxes__hint">
          
          This service does not yet offer Alcohol Monitoring as a monitoring requirement. If you need to create an order including an Alcohol Monitoring requirement, or a multiple monitoring requirement order (for example, Alcohol Monitoring and Curfew), continue to use your current process.
        
        </div>
        
      </div>
      
    
  
      
      
    </div>
  
  </fieldset>

</div>

  

</fieldset>
     

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save as draft",
          href: '#',
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
