{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
   Order information - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Electronic monitoring required</span>
        Release conditions
      </h1>

        {% if (data['cya4'] == "true") %}

        <form class="form" action="issp" method="post">

        {% else %}

       
      <form class="form" action="issp" method="post">

        {% endif %}

        {{ govukRadios({
          classes: "govuk-radios",
          name: "hdc",
          fieldset: {
            legend: {
              text: "Is the device wearer being released on a Home Detention Curfew (HDC)?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: (true if data['hdc'] == 'Yes')
            },
            {
              value: "No",
              text: "No",
              checked: (true if data['hdc'] == 'No')
            },
            {
              divider: "or"
            },
            {
              value: "Not able to provide this information",
              text: "Not able to provide this information",
              checked: (true if data['hdc'] == 'Not able to provide this information')
            }
          ]
        }) }}


        {{ govukRadios({
          classes: "govuk-radios",
          name: "prarr",
          fieldset: {
            legend: {
              text: "Is the device wearer being released under a Presumptive Risk Assessed Release Review P-RARR?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: (true if data['prarr'] == 'Yes')
            },
            {
              value: "No",
              text: "No",
              checked: (true if data['prarr'] == 'No')
            },
            {
              divider: "or"
            },
            {
              value: "Not able to provide this information",
              text: "Not able to provide this information",
              checked: (true if data['prarr'] == 'Not able to provide this information')
            }
          ]
        }) }}
       

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save as draft",
          href: '../new-form',
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
