{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
   Order information - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-l">Electronic monitoring required</span>

  
       
      <form class="form" action="order-description" method="post">


         {{ govukRadios({
              classes: "govuk-radios",
              name: "order-type",
              fieldset: {
                legend: {
                  text: "   What is the order type?",
                  isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
                }
              },
              items: [
                {
                  value: "Post release",
                  checked: (true if data['order-type'] == 'Post release'),
                  text: "Post release",
                  hint: {
                    text: "Monitoring is a condition of being released from prison following a custodial sentence."
                  }
                },
                {
                  value: "Community",
                  checked: (true if data['order-type'] == 'Community'),
                  text: "Community",
                  hint: {
                    text: "Monitoring is a condition of a court order where they were convicted of a crime, but recieved a community rather than custodial sentence."
                  }
                },
                {
                  value: "Pre trial",
                  checked: (true if data['order-type'] == 'Pre trial'),
                  text: "Bail",
                  hint: {
                    text: "Monitoring is a condition of bail."
                  }
                },
                
                 
                {
                  value: "Civil",
                  checked: (true if data['order-type'] == 'Civil'),
                  text: "Civil",
                  hint: {
                    text: "Monitoring is a condition of a civil court order, rather than a criminal one."
                  }
                },
                {
                  value: "Immigration",
                  checked: (true if data['order-type'] == 'Immigration'),
                  text: "Immigration",
                  hint: {
                    text: "Monitoring is a condition of immigration bail (Home office only)."
                  }
                }
              ]
            }) }}

     
       

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save as draft",
          href: ('../submitted-form' if data['view'] == 'false' else '../new-form' ),
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
