{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Check your answers - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% set html %}
        <p class="govuk-notification-banner__heading">
         You are viewing a submitted form. This form was submitted on the 14 December 2024.
        </p>
      {% endset %}

      {% set htmlcancelled %}
        <p class="govuk-notification-banner__heading">
         You are viewing a cancelled form. This form was cancelled on the 22 December 2024.
        </p>
      {% endset %}


          {% if (data['view-variation'] == 'cancelled') %}

           {{ govukNotificationBanner({
              html: htmlcancelled
            }) }}

              <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">About why all monitoring was ended early</span>
                Check your answers
              </h1>

          {% elseif (data['view'] == 'true') %}

          {{ govukNotificationBanner({
              html: html
            }) }}

              <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">About the cancellation</span>
                Check your answers
              </h1>

               <p>Check and save the information about the cancellation.</p>
      
                    
          {% endif %}
  

      <form class="form" action="../submitted-form?section-5-complete=true" method="post">


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             What is the date you want the change to take effect?
            </dt>
            <dd class="govuk-summary-list__value">
             12/02/2025
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Why are you ending all monitoring for the device wearer?
            </dt>
            <dd class="govuk-summary-list__value">
              Offender has been recalled to prison due to breaching conditions.
            </dd>
            <dd class="govuk-summary-list__actions">
               <ul class="govuk-summary-list__actions-list">
                 {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
              </ul>
            </dd>
          </div>
          

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             What is the address where any tags and monitoring equipment should be collected?
            </dt>
            <dd class="govuk-summary-list__value">
            {{ data['contactaddressLine1'] or "123 Carter Bar" }}<br>
            {{ data['contactaddressTown'] or "Glossop" }}<br>
            {{ data['contactaddressCounty'] or "High Peak" }}<br>
            {{ data['contactaddressPostcode'] or "SK22 2NG "}}<br>
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>
          

        </dl>
     
        

       

     {% if (data['view'] == 'true') %}

           {{ govukButton({
          text: "Return to main form menu",
          href: "../submitted-form"
        }) }}
               

         {% else %}
          {{ govukButton({
          text: "Save and return to main form menu"
        }) }}

    
                    
     {% endif %}
      

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
