{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Check your answers - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">About the changes in this version of the form</span>
        Check your answers
      </h1>



  {% if (data['newform'] == 'false') %}

        <form class="form" action="../new-form?section-6-complete=true" method="post">

        {% else %}   

         <form class="form" action="../submitted-form?section-6-complete=true" method="post">


      {% endif %}  



        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

 
       
        

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Why are you making changes to the form?
            </dt>
            <dd class="govuk-summary-list__value">
            {{ data['sr-type'] or "I need monitoring equipment installed at a new address" }}
            </dd>
            <dd class="govuk-summary-list__actions">
               <a class="govuk-link" href="sr-question">Change<span class="govuk-visually-hidden"> Licence </span></a>
            </dd>
          </div>

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            What is the date you want the changes to take effect?
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['variation-date'] or '20/09/2025' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="edit-form-question">Change<span class="govuk-visually-hidden"> Licence </span></a>
            </dd>
          </div>
          {% if (data['sr-type'] == "I have changed something else in the form") %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            What have you changed in the form?
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['variation-type'] or "The device wearer's personal details" }}
            </dd>
            <dd class="govuk-summary-list__actions">
             
                  <a class="govuk-link" href="edit-form-question">Change<span class="govuk-visually-hidden"> Photo identification </span></a>
        
           </dd>
          </div>

          {% endif %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Enter information on what you have changed
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['edit-text'] or "Added the device wearer's new tel number" }}
            </dd>
            <dd class="govuk-summary-list__actions">
             
                  <a class="govuk-link" href="edit-form-question">Change<span class="govuk-visually-hidden"> Photo identification </span></a>
        
           </dd>
          </div>

        </dl>
     
        

       

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and return to main form menu"
        }) }}

      

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
