{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Check your answers - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% set html %}
        <p class="govuk-notification-banner__heading">
         You are viewing a submitted form. This form was submitted on the 14 December 2024.
        </p>
      {% endset %}

      {% set htmlcancelled %}
        <p class="govuk-notification-banner__heading">
         You are viewing a cancelled form. This form was cancelled on the 22 December 2024.
        </p>
      {% endset %}


     

          {{ govukNotificationBanner({
              html: html
            }) }}

              <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">About the changes in this version of the form</span>
                View answers
              </h1>

                    

  

      <form class="form" action="../submitted-form?section-5-complete=true" method="post">

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Why are you making changes to the form?
            </dt>
            <dd class="govuk-summary-list__value">
            {{ data['sr-type'] or "I need monitoring equipment installed at a new address" }}
            </dd>
            <dd class="govuk-summary-list__actions">
              
            </dd>
          </div>

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            What is the date you want the changes to take effect?
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['variation-date'] or '20/09/2025' }}
            </dd>
            <dd class="govuk-summary-list__actions">
       
            </dd>
          </div>
          {% if (data['sr-type'] == "I have changed something else in the form") %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            What have you changed in the form?
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['variation-type'] or "The device wearer's personal details" }}
            </dd>
            <dd class="govuk-summary-list__actions">
             
            
        
           </dd>
          </div>

          {% endif %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Enter information on what you have changed
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['edit-text'] or "Added new address" }}
            </dd>
            <dd class="govuk-summary-list__actions">
             
          
           </dd>
          </div>

        </dl>
     
     
        

       

     {% if (data['view'] == 'true') %}

           {{ govukButton({
          text: "Return to main form menu",
          href: "../submitted-form"
        }) }}
               

         {% else %}
          {{ govukButton({
          text: "Save and return to main form menu"
        }) }}

    
                    
     {% endif %}
      

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
