{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
Details of the changes - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

         {% set html %}
        <p class="govuk-notification-banner__heading">
         You are viewing a submitted form. This form was submitted on the 14 December 2024.
        </p>
          {% endset %}

       {% if (data['view'] == 'true') %}

          {{ govukNotificationBanner({
            html: html
          }) }}

        {% else %}
                  
        {% endif %}

      <h1 class="govuk-heading-l"> <span class="govuk-caption-l">About the changes in this version of the form</span>
      Details of the changes</h1>

       {% if (data['newform'] == 'false') %}

        <form class="form" action="../new-form?section-6-complete=true" method="post">

        {% else %}   

         <form class="form" action="../submitted-form?section-6-complete=true" method="post">


         {% endif %}  


         <div class="moj-datepicker" data-module="moj-date-picker">


             <div class="govuk-form-group">
              <label class="govuk-label  govuk-label--s" for="date">
               What is the date you want the changes to take effect?
              </label>

              <div id="date-hint" class="govuk-hint">
                For example, 17/5/2024.
              </div>


               {% if (data['view'] == 'true') %}
                  <input class="govuk-input moj-js-datepicker-input " id="date" name="variation-date" type="text" aria-describedby="date-hint" autocomplete="off" disabled value="12/1/2026">
                {% else %}
                 <input class="govuk-input moj-js-datepicker-input " id="date" name="variation-date" type="text" aria-describedby="date-hint" autocomplete="off" value="{{ data['variation-date'] }}">
                          
                {% endif %}

             

            </div>



             {{ govukRadios({
            name: "variation-type",
            fieldset: {
              legend: {
                text: "What have you changed in the form?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: ""
            },
            items: [

             
              {
                value: "The device wearer's address",
                checked: (true if data['variation-type'] == "The device wearer's address"),
                disabled: (true if data['view'] == 'true'),
                text: "The device wearer's address"
              },
              {
                value: "The device wearer's personal details",
                checked: (true if data['variation-type'] == "The device wearer's personal details"),
                disabled: (true if data['view'] == 'true'),
                text: "The device wearer's personal details"
              },
               {
                value: "The curfew hours",
                checked: (true if data['variation-type'] == 'The curfew hours'),
                disabled: (true if data['view'] == 'true'),
                text: "The curfew hours"
              },
              {
                value: "Change to an existing exclusion zone(s)",
                checked: (true if data['variation-type'] == 'Change to an existing exclusion zone(s)'),
                disabled: (true if data['view'] == 'true'),
                text: "Change to an existing exclusion zone(s)"
              },
               {
                value: "Change to add an exclusion zone(s)",
                checked: (true if data['variation-type'] == 'Change to add an exclusion zone(s)'),
                disabled: (true if data['view'] == 'true'),
                text: "Change to add an exclusion zone(s)"
              },
              
              {
                value: "Change to a device type",
                checked: (true if data['variation-type'] == 'Change to a device type'),
                disabled: (true if data['view'] == 'true'),
                text: "Change to a device type"
              },   
              {
                value: "Change to enforceable condition",
                checked: (true if data['variation-type'] == 'Change to enforceable condition'),
                disabled: (true if data['view'] == 'true'),
                text: "Change to enforceable condition"
              },   
              {
                value: "I am suspending monitoring for the device wearer",
                checked: (true if data['variation-type'] == 'I am suspending monitoring for the device wearer'),
                disabled: (true if data['view'] == 'true'),
                text: "I am suspending monitoring for the device wearer"
              },
              {
                value: "I have changed something due to an administration error",
                checked: (true if data['variation-type'] == 'I have changed something due to an administration error'),
                disabled: (true if data['view'] == 'true'),
                text: "I have changed something due to an administration error"
              },
               {
                value: "I have changed something else in the form",
                checked: (true if data['variation-type'] == 'I have changed something else in the form'),
                disabled: (true if data['view'] == 'true'),
                text: "I have changed something else in the form"
              }
            ]
          }) }}

     
    

          </div>

              <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-label--s" for="with-hint">
                    Enter information on what you have changed
                  </label>
                </h1>
                <div id="with-hint-hint" class="govuk-hint">
                  This text will be sent with your changes to help the installer quickly understand what has changed and what they need to do.
                </div>


               {% if (data['view'] == 'true') %}
                  <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="edit-text" disabled rows="5" aria-describedby="with-hint-info with-hint-hint">Curfew hours have changed due to Fred getting a new job</textarea>
                {% else %}
                 <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="edit-text" rows="5" aria-describedby="with-hint-info with-hint-hint">{{ data['edit-text'] }}</textarea>
                {% endif %}
 

                <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
                  You can enter up to 200 characters
                </div>
              </div>
 

          <div class="govuk-button-group">

             {% if (data['view'] == 'true') %}
                   {{ govukButton({
                      text: "Return to main form menu",
                      href: "../submitted-form"
                    }) }}
                {% else %}
                  {{ govukButton({
                    text: "Save and return to main form menu"
                  }) }}


                {% endif %}


             

          </div>

      </form>


        

        </div>
      </div>
{% endblock %}
