{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
 Details of the changes - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set html %}
        <p class="govuk-notification-banner__heading">
         You are viewing a form where all monitoring has been ended. This form was changed on the 22 December 2024.
        </p>
      {% endset %}

         {% if (data['view-variation'] == 'cancelled') %}

            {{ govukNotificationBanner({
              html: html
            }) }}

             <h1 class="govuk-heading-l"> <span class="govuk-caption-l">About why all monitoring was ended early</span>
      Details of the changes</h1>

          {% else %}


      <h1 class="govuk-heading-l">End all monitoring for {{ data['fullname'] or "David Murphy" }}</h1>
                    
          {% endif %}


      <div class="moj-datepicker" data-module="moj-date-picker">


             <div class="govuk-form-group">
              <label class="govuk-label  govuk-label--s" for="date">
               What is the date you want the change to take effect?
              </label>

              <div id="date-hint" class="govuk-hint">
                For example, 17/5/2024.
              </div>

              {% if (data['view-variation'] == 'cancelled') %}

              <input class="govuk-input moj-js-datepicker-input " id="date" name="cancellation-date" disabled type="text" aria-describedby="date-hint" autocomplete="off" value="22/12/2024">

              {% else %}

              <input class="govuk-input moj-js-datepicker-input " id="date" name="cancellation-date" type="text" aria-describedby="date-hint" autocomplete="off" value="{{ data['cancellation-date'] }}">

              {% endif %}

            </div>

          </div>

           

               <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-label--s" for="with-hint">
                    What else should the installer be aware of?
                  </label>
                </h1>
                <div id="with-hint-hint" class="govuk-hint">
                  This text will be sent with your changes to help the installer quickly understand what has changed and what they need to do. For example, further information on when the monitoring equipment can be collected.
                </div>

               {% if (data['view-variation'] == 'cancelled') %}
                  <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="cancel-text" disabled rows="5" aria-describedby="with-hint-info with-hint-hint">Offender has been recalled to prison due to breaching conditions.</textarea>
                {% else %}
                 <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="cancel-text" rows="5" aria-describedby="with-hint-info with-hint-hint">{{ data['cancel-text'] }}</textarea>
                {% endif %}

                     <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
                  You can enter up to 200 characters
                </div>
              </div>
 
 


           <div class="govuk-button-group">

      {% if (data['view-variation'] == 'cancelled') %}
              {{ govukButton({
                  text: "Return to main form menu",
                  href: "../submitted-form"
                }) }}

         {% else %}

             {{ govukButton({
              text: "Save and continue",
              href: 'edit-form-delete'
            }) }}

            {{ govukButton({
              text: "Cancel",
              href: '../submitted-form',
              classes: "govuk-button--secondary"
            }) }} 


              {% endif %}

       

      </div>

        

        </div>
      </div>
{% endblock %}
