{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
   Order information - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      


    <h1 class="govuk-heading-l">

       You cannot use this service to request visits for refits or equipment checks.
      </h1>

    <!--   <h2 class="govuk-heading-s">
      
      </h2>-->

      <p>If you need a visit for an equipment refit (for example, if the battery is not working or there is a medical reason for a refit):</p>

      <ul class="govuk-list govuk-list--bullet">
              <li>Use the service request portal if you have access.</li>
              <li>Email your request to <a href="mailto:EMSEnforcement@ems.co.uk">EMSEnforcement@ems.co.uk</a> if you do not have access.</li>

            </ul>

  

      <!-- <p class="govuk-body">If you don’t have access, email the order details to:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>your EM Regional Probation SPoC if you work in Probation</li>
              <li><a href="mailto:LPAdmin@EMS.co.uk">LPAdmin@EMS.co.uk</a> if you work in any other service or department</li>

            </ul>-->
            <br>




       


     {{ govukButton({
          text: "Back to start",
          href: ('../dashboard' ),
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
