{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
Details of the changes - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

         {% set html %}
        <p class="govuk-notification-banner__heading">
         You are viewing a submitted form. This form was submitted on the 14 December 2024.
        </p>
          {% endset %}

       {% if (data['view'] == 'true') %}

          {{ govukNotificationBanner({
            html: html
          }) }}

        {% else %}
                  
        {% endif %}

    <span class="govuk-caption-l">About the changes in this version of the form</span>


       {% if (data['newform'] == 'false') %}

        <form class="form" action="edit-form-question" method="post">

        {% else %}   

         <form class="form" action="edit-form-question" method="post">


      {% endif %}  

 


            {{ govukRadios({
            name: "sr-type",
            fieldset: {
              legend: {
                text: "Why are you making changes to the form?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: ""
            },
            items: [

             
              {
                value: "I need monitoring equipment installed at a new address",
                checked: (true if data['sr-type'] == "I need monitoring equipment installed at a new address"),
                disabled: (true if data['view'] == 'true'),
                text: "I need monitoring equipment installed at a new address"
              },
              {
                value: "I need monitoring equipment reinstalled or checked",
                checked: (true if data['sr-type'] == "I need monitoring equipment reinstalled or checked"),
                disabled: (true if data['view'] == 'true'),
                text: "I need monitoring equipment reinstalled or checked"
              },
                {
                value: "I need to end all monitoring for the device wearer",
                checked: (true if data['sr-type'] == 'I need to end all monitoring for the device wearer'),
                disabled: (true if data['view'] == 'true'),
                text: "I need to end all monitoring for the device wearer"
              },
               {
                value: "I have changed the Responsible Officer or Responsible Organisation details",
                checked: (true if data['sr-type'] == 'I have changed the Responsible Officer or Responsible Organisation details'),
                disabled: (true if data['view'] == 'true'),
                text: "I have changed the Responsible Officer or Responsible Organisation details"
              },
               {
                value: "I have changed something else in the form",
                checked: (true if data['sr-type'] == 'I have changed something else in the form'),
                disabled: (true if data['view'] == 'true'),
                text: "I have changed something else in the form"
              }
            ]
          }) }}

     


          <div class="govuk-button-group">

             {% if (data['view'] == 'true') %}
                   {{ govukButton({
                      text: "Return to main form menu",
                      href: "../submitted-form"
                    }) }}
                {% else %}
                  {{ govukButton({
                    text: "Save and continue"
                  }) }}

                    {{ govukButton({
                    text: "Save as draft",
                    href: ('../submitted-form' if data['view'] == 'false' else '#' ),
                    classes: "govuk-button--secondary"
                  }) }}


                {% endif %}


             

          </div>

      </form>


        

        </div>
      </div>
{% endblock %}
