{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Are you sure that you want to make changes to this notification form? - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  
        <form class="form" action="../submitted-form?view=false&section-1-complete=false&section-2-complete=false&section-3-complete=false&section-4-complete=false&section-5-complete=false&section-6-complete=false" method="post">
         
 <!--         {{ govukRadios({
            name: "clarification",
            fieldset: {
              legend: {
                text: "Why are you making changes to the form?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: ""
            },
            items: [

             
             
              {
                value: "false",
                checked: (true if data['type-change'] == "false"),
                hint: {
                  text: "You need to tell us about something that has changed. For example, the device wearer has moved house."
                },
                text: "Change to an existing order"
              },
               {
                value: "true",
                checked: (true if data['type-change'] == "true"),
                hint: {
                  text: "You have received an email asking you to correct information that was wrong or missing in an order you have recently submitted."
                },
                text: "Issue with a new order"
              }
            ]
          }) }} -->

          {{ govukRadios({
            classes: "govuk-radios--inline",
            name: "clarification",
            fieldset: {
              legend: {
                text: "Are you making changes to this form because the original was rejected by email?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: ""
            },
            items: [

             
              {
                value: "true",
                checked: (true if data['type-change'] == "true"),
                
                text: "Yes"
              },
              {
                value: "false",
                checked: (true if data['type-change'] == "false"),
               
                text: "No"
              }
            ]
          }) }}


        {% from "govuk/components/button/macro.njk" import govukButton %}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Save and continue",
              classes: "govuk-button"
            }) }}

            {{ govukButton({
              text: "Cancel and return back to form",
              href: '../submitted-form?view=true',
              classes: "govuk-button--secondary"
            }) }}
          </div>

        </form>
     
        </div>
      </div>
{% endblock %}
