{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Responsible adult details - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% set html %}
        <p class="govuk-notification-banner__heading">
         You are viewing a submitted form. This form was submitted on the 14 December 2024.
        </p>
      {% endset %}

      {% set htmlcancelled %}
        <p class="govuk-notification-banner__heading">
         You are viewing a cancelled form. This form was cancelled on the 22 December 2024.
        </p>
      {% endset %}


          {% if (data['view-variation'] == 'cancelled') %}

           {{ govukNotificationBanner({
              html: htmlcancelled
            }) }}

          {% elseif (data['view'] == 'true') %}

          {{ govukNotificationBanner({
              html: html
            }) }}

          {% else %}

          
                    
          {% endif %}
      

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">About the notifying and responsible organisations</span>
        Check your answers
      </h1>

      {% if (data['view'] == 'true') %}


      {% else %}

     <p>Check and save the information about the notifying and responsible organisations.</p>
                    
          
      {% endif %}


       

      <form class="form" action="../submitted-form?section-2-complete=true" method="post">


       <h2 class="govuk-heading-m">Notifying organisation's details</h2>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
          What is the email address for your team?
            </dt>
            <dd class="govuk-summary-list__value">
             team1@hmpc.northumberland.com
            </dd>
            <dd class="govuk-summary-list__actions">
               {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
                
            </dd>
          </div>


             </dl>

     <h2 class="govuk-heading-m">Responsible organisation's details</h2>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
          What is the responsible officer's first name?
            </dt>
            <dd class="govuk-summary-list__value">
             Fred
            </dd>
            <dd class="govuk-summary-list__actions">
               {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
          What is the responsible officer's last name?
            </dt>
            <dd class="govuk-summary-list__value">
           Bloggs
            </dd>
            <dd class="govuk-summary-list__actions">
               {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
                
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
         What is the responsible officer's telephone number?
            </dt>
            <dd class="govuk-summary-list__value">
             01289 377 587
            </dd>
            <dd class="govuk-summary-list__actions">
               {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
                
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
         What organisation is the responsible officer part of?
            </dt>
            <dd class="govuk-summary-list__value">
             Probation
            </dd>
            <dd class="govuk-summary-list__actions">
               {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
                
            </dd>
          </div>

            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
         What is the responsible organisation's telephone number?
            </dt>
            <dd class="govuk-summary-list__value">
             01278 457 675
            </dd>
            <dd class="govuk-summary-list__actions">
               {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
                
            </dd>
          </div>

             <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
         What is the responsible organisation's email address?
            </dt>
            <dd class="govuk-summary-list__value">
             probationteam@probation.gov.uk
            </dd>
            <dd class="govuk-summary-list__actions">
               {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
                
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the address of the responsible organisation?
            </dt>
            <dd class="govuk-summary-list__value">
              123a Allerdean Street,<br>
              Newcastle upon Tyne,<br>
              NE11 9FD
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>



        </dl>
     
        

       

    {% from "govuk/components/button/macro.njk" import govukButton %}


        <div class="govuk-button-group">
        {% if (data['view'] == 'true') %}

           {{ govukButton({
          text: "Return to main form menu",
          href: "../submitted-form"
        }) }}
               

         {% else %}
          {{ govukButton({
          text: "Save and return to main form menu"
        }) }}

    
                    
     {% endif %}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
