{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Check your answers - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% set html %}
        <p class="govuk-notification-banner__heading">
         You are viewing a submitted form. This form was submitted on the 14 December 2024.
        </p>

      {% endset %}

      {% set htmlcancelled %}
        <p class="govuk-notification-banner__heading">
         You are viewing a cancelled form. This form was cancelled on the 22 December 2024.
        </p>   
      {% endset %}

       {% set htmlfail %}
        <p class="govuk-notification-banner__heading">
         This form failed to submit on 14 December 2024. This was due to a technical problem. For more information <a href="https://ministryofjustice.github.io/hmpps-electronic-monitoring-create-an-order-docs/problems-submitting-forms.html#problems-submitting-forms">View the guidance (opens in a new tab)</a>.
        </p>
      {% endset %}


          {% if (data['view-variation'] == 'cancelled') %}

           {{ govukNotificationBanner({
              html: htmlcancelled
            }) }}

              {% elseif (data['view-variation'] == 'fail') %}

           {{ govukNotificationBanner({
              html: htmlfail
            }) }}

          {% elseif (data['view'] == 'true') %}

          {{ govukNotificationBanner({
              html: html
            }) }}

          {% else %}

          
                    
          {% endif %}
      

   

      {% if (data['view'] == 'true') %}

         <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">About the Notifying and Responsible Organisations</span>
        View answers
      </h1>


      {% else %}

         <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">About the Notifying and Responsible Organisations</span>
        Check your answers
      </h1>

     <p>Check and save the information about the Notifying and Responsible Organisations.</p>
                    
          
      {% endif %}


       

      <form class="form" action="" method="post">


       <h2 class="govuk-heading-m">Notifying Organisation's details</h2>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               What organisation or related organisation are you part of?
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['notifying-org'] or "Crown Court" }}
            </dd>
            <dd class="govuk-summary-list__actions">
                 {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
                
            </dd>
          </div>

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
         What is your team's contact email address?
            </dt>
            <dd class="govuk-summary-list__value">
             team1@hmpc.northumberland.com
            </dd>
            <dd class="govuk-summary-list__actions">
               {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
                
            </dd>
          </div>


             </dl>

     <h2 class="govuk-heading-m">Responsible Officer's details</h2>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
          What is the Responsible Officer's first name?
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['officer-firstname'] or 'Bob' }}
            </dd>
            <dd class="govuk-summary-list__actions">
               {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="responsible-officer-view"><span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="responsible-officer-view">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
          What is the Responsible Officer's last name?
            </dt>
            <dd class="govuk-summary-list__value">
           {{ data['officer-lastname'] or 'Brown' }}
            </dd>
            <dd class="govuk-summary-list__actions">
               {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="responsible-officer-view"><span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="responsible-officer-view">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
                
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
         What is the Responsible Officer's telephone number?
            </dt>
            <dd class="govuk-summary-list__value">
            {{ data['officer-tel'] or '01245 765 432'}}
            </dd>
            <dd class="govuk-summary-list__actions">
               {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="responsible-officer-view"><span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="responsible-officer-view">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
                
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
         What is the Responsible Officer's team contact email address? (optional)
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['org-email'] or 'centralteam@homeoffice.org' }}
            </dd>
            <dd class="govuk-summary-list__actions">
                {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="responsible-officer-view"><span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="responsible-officer-view">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
                </li>
                
            </dd>
          </div>

        </dl>

    <h2 class="govuk-heading-m">Responsible Organisation's details</h2>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
         What is the Responsible Officer's organisation?
            </dt>
            <dd class="govuk-summary-list__value">
             Home Office
            </dd>
            <dd class="govuk-summary-list__actions">
               {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
                
            </dd>
          </div>
<!--
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
         What is the Responsible Organisation's telephone number? (optional)
            </dt>
            <dd class="govuk-summary-list__value">
             01278 457 675
            </dd>
            <dd class="govuk-summary-list__actions">
               {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
                
            </dd>
          </div>

             <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
         What is the Responsible Organisation's email address?  (optional)
            </dt>
            <dd class="govuk-summary-list__value">
             probationteam@probation.gov.uk
            </dd>
            <dd class="govuk-summary-list__actions">
               {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
                
            </dd>
          </div>-->

            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
         What is the Responsible Organisation's region?
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['region'] or 'North West' }}
            </dd>
            <dd class="govuk-summary-list__actions">
               {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}   
            </dd>
          </div>

     <!--     <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the Responsible Organisation's address?  (optional)
            </dt>
            <dd class="govuk-summary-list__value">
              123a Allerdean Street,<br>
              Newcastle upon Tyne,<br>
              NE11 9FD
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>
-->


        </dl>
     
        

       

    {% from "govuk/components/button/macro.njk" import govukButton %}


        <div class="govuk-button-group">
         {% if (data['view'] == 'true') %}

          {{ govukButton({
          text: "Go to next section",
          href: "../device-wearer/check-answers-view"
        }) }}

           {{ govukButton({
          text: "Return to main form menu",
          href: "../submitted-form",
          classes: "govuk-button--secondary"
        }) }}
               

         {% else %}
         {{ govukButton({
          text: "Save and go to next section",
          href: "../device-wearer/check-answers-view?section-2-complete=true"
        }) }}

          {{ govukButton({
          text: "Save as draft",
          href: "../submitted-form?section-2-complete=true",
          classes: "govuk-button--secondary"
        }) }}
                
          {% endif %}
      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
