{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Responsible adult details - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">About the responsible organisation</span>
        Check your answers
      </h1>


       <p>Check and save the information about the responsible organisation.</p>

      <form class="form" action="../new-form?section-2-complete=true" method="post">


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
          What is the email address for your team?
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['team-email'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
               
                  <a class="govuk-link" href="org-details">Change<span class="govuk-visually-hidden"> What is the email address for your team? </span></a>
                </li>
                
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
          What is the responsible officer's first name?
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['officer-firstname'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
               
                  <a class="govuk-link" href="responsible-officer">Change<span class="govuk-visually-hidden"> What is the responsible officer's first name? </span></a>
                </li>
                
            </dd>
          </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
          What is the responsible officer's last name?
            </dt>
            <dd class="govuk-summary-list__value">
           {{ data['officer-lastname'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
               
                  <a class="govuk-link" href="responsible-officer">Change<span class="govuk-visually-hidden"> What is the responsible officer's last name?</span></a>
                </li>
                
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
         What is the responsible officer's telephone number?
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['officer-tel'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
               
                  <a class="govuk-link" href="responsible-officer">Change<span class="govuk-visually-hidden"> What is the responsible officer's telephone number? </span></a>
                </li>
                
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
         What organisation is the responsible officer part of?
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['officer-org'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
               
                  <a class="govuk-link" href="responsible-officer">Change<span class="govuk-visually-hidden"> What organisation is the responsible officer part of? </span></a>
                </li>
                
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the address of the responsible organisation?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['orgaddressLine1'] }}<br>
              {{ data['orgaddressTown'] }}<br>
              {{ data['orgaddressPostcode'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="org-address">Change<span class="govuk-visually-hidden"> WWhat is the address of the responsible organisation?</span></a>
            </dd>
          </div>

              <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
         What is the responsible organisation's telephone number?
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['org-tel'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
               
                  <a class="govuk-link" href="org-contact">Change<span class="govuk-visually-hidden">  What is the responsible organisation's telephone number? </span></a>
                </li>
                
            </dd>
          </div>

             <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
         What is the responsible organisation's email address?
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['org-email'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
               
                  <a class="govuk-link" href="org-contact">Change<span class="govuk-visually-hidden">  What is the responsible organisation's email address? </span></a>
                </li>
                
            </dd>
          </div>




      

        </dl>
     
        

       

    {% from "govuk/components/button/macro.njk" import govukButton %}


        <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and go to next section",
          href: "../device-wearer/identity-numbers?section-2-complete=true"
        }) }}

        {{ govukButton({
          text: "Save and return to main form menu",
          classes: "govuk-button--secondary"
        }) }}

        

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
