{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Check your answers - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">About the Notifying and Responsible Organisations</span>
        Check your answers
      </h1>



      <form class="form" action="" method="post">


         <h2 class="govuk-heading-m">Notifying Organisation's details</h2>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

             <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               What organisation or related organisation are you part of?
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['notifying-org'] or "Crown Court" }}
            </dd>
            <dd class="govuk-summary-list__actions">
               
                  <a class="govuk-link" href="org-details?cya2=true">Change<span class="govuk-visually-hidden"> What organisation are you part of? </span></a>
                </li>
                
            </dd>
          </div>
           {% if (data['notifying-org'] == "Home Office" or data['notifying-org'] == "Probation" or data['notifying-org'] == "Scottish Court")  %}

            {% else  %}

             <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name of the {{ data['notifying-org'] or 'prison' }}
            </dt>
            <dd class="govuk-summary-list__value">
            Low Newton Prison and Young Offender Institution
            </dd>
            <dd class="govuk-summary-list__actions">
               
                  <a class="govuk-link" href="org-details?cya2=true">Change<span class="govuk-visually-hidden"> What organisation are you part of? </span></a>
                </li>
                
            </dd>
          </div>

            {% endif  %}

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
          What is your team's contact email address?
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['team-email'] or "centralteam@homeoffice.org" }}
            </dd>
            <dd class="govuk-summary-list__actions">
               
                  <a class="govuk-link" href="org-details?cya2=true">Change<span class="govuk-visually-hidden"> What is the email address for your team? </span></a>
                </li>
                
            </dd>
          </div>

        </dl>

     <h2 class="govuk-heading-m">Responsible Officer's details</h2>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
          What is the Responsible Officer's first name?
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['officer-firstname'] or 'Bob' }}
            </dd>
            <dd class="govuk-summary-list__actions">
               
                  <a class="govuk-link" href="responsible-officer?cya2=true">Change<span class="govuk-visually-hidden"> What is the responsible officer's first name? </span></a>
                </li>
                
            </dd>
          </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
          What is the Responsible Officer's last name?
            </dt>
            <dd class="govuk-summary-list__value">
           {{ data['officer-lastname'] or 'Brown' }}
            </dd>
            <dd class="govuk-summary-list__actions">
               
                  <a class="govuk-link" href="responsible-officer?cya2=true">Change<span class="govuk-visually-hidden"> What is the responsible officer's last name?</span></a>
                </li>
                
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
         What is the Responsible Officer's telephone number?
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['officer-tel'] or '01245 765 432'}}
            </dd>
            <dd class="govuk-summary-list__actions">
               
                  <a class="govuk-link" href="responsible-officer?cya2=true">Change<span class="govuk-visually-hidden"> What is the responsible officer's telephone number? </span></a>
                </li>
                
            </dd>
          </div>

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
         What is the Responsible Officer's email address?
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['officer-email'] or 'bob.brown@homeoffice.org'}}
            </dd>
            <dd class="govuk-summary-list__actions">
               
                  <a class="govuk-link" href="responsible-officer?cya2=true">Change<span class="govuk-visually-hidden"> What is the responsible officer's email address? </span></a>
                </li>
                
            </dd>
          </div>

        

      </dl>

         <h2 class="govuk-heading-m">Responsible Organisation's details</h2>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">  

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
         What is the Responsible Officer's organisation?
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['officer-org'] or 'Home Office' }}
            </dd>
            <dd class="govuk-summary-list__actions">
               
                  <a class="govuk-link" href="org-contact?cya2=true">Change<span class="govuk-visually-hidden"> What organisation is the responsible officer part of? </span></a>
                </li>
                
            </dd>
          </div>

             <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
         What is the Responsible Organisation's email address? (optional)

            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['org-email'] or 'centralteam@homeoffice.org' }}
            </dd>
            <dd class="govuk-summary-list__actions">
               
                  <a class="govuk-link" href="org-contact?cya2=true">Change<span class="govuk-visually-hidden">  What is the responsible organisation's email address? </span></a>
                </li>
                
            </dd>
          </div>

     <!--       <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
         What is the Responsible Organisation's telephone number? (optional)
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['org-tel'] or "01267 876 567" }}
            </dd>
            <dd class="govuk-summary-list__actions">
               
                  <a class="govuk-link" href="org-contact?cya2=true">Change<span class="govuk-visually-hidden">  What is the responsible organisation's telephone number? </span></a>
                </li>
                
            </dd>
          </div>

             <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
         What is the Responsible Organisation's email address? (optional)
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['org-email'] or 'centralteam@homeoffice.org' }}
            </dd>
            <dd class="govuk-summary-list__actions">
               
                  <a class="govuk-link" href="org-contact?cya2=true">Change<span class="govuk-visually-hidden">  What is the responsible organisation's email address? </span></a>
                </li>
                
            </dd>
          </div>-->

           {% if (data['officer-org'] == "Police") %}

  <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
         What is the Responsible Organisation's  Police Force Area?
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['policearea'] or 'Northumberland' }}
            </dd>
            <dd class="govuk-summary-list__actions">
               
                  <a class="govuk-link" href="region-police?cya2=true">Change<span class="govuk-visually-hidden">  What is the Responsible Organisation's Probation Delivery Unit (PDU)? </span></a>
                </li>
                
            </dd>
          </div>

   {% endif %}     




    {% if (data['officer-org'] == "Probation service" or data['officer-org'] == "Youth Justice Service (YJS)" or data['officer-org'] == "Youth Custody Service (YCS)") %}


            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
         What is the Responsible Organisation's {{ data['officer-org'] or 'Probation' }} region?
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['region'] or 'North West' }}
            </dd>
            <dd class="govuk-summary-list__actions">
               
                  <a class="govuk-link" href="region?cya2=true">Change<span class="govuk-visually-hidden">  What region is the responsible organisation in? </span></a>
                </li>
                
            </dd>
          </div>

    {% endif %}   

      {% if (data['officer-org'] == "Probation service") %}

  <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
         What is the Responsible Organisation's  Probation Delivery Unit (PDU)?
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['pdu'] or 'Newcastle' }}
            </dd>
            <dd class="govuk-summary-list__actions">
               
                  <a class="govuk-link" href="region2?cya2=true">Change<span class="govuk-visually-hidden">  What is the Responsible Organisation's Probation Delivery Unit (PDU)? </span></a>
                </li>
                
            </dd>
          </div>

   {% endif %}     

         {% if (data['region'] == "North West") %}

  <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
         What is the Responsible Organisation's probation office?
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['pdu'] or 'Halton' }}
            </dd>
            <dd class="govuk-summary-list__actions">
               
                  <a class="govuk-link" href="region2?cya2=true">Change<span class="govuk-visually-hidden">  What is the Responsible Organisation's Probation Delivery Unit (PDU)? </span></a>
                </li>
                
            </dd>
          </div>

   {% endif %}  



    <!--      <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the Responsible Organisation's address? (optional)
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['orgaddressLine1'] or '123 Main Street' }}<br>
              {{ data['orgaddressTown'] or 'Manchester' }}<br>
              {{ data['orgaddressPostcode'] or 'M14 6JJ' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="org-address?cya2=true">Change<span class="govuk-visually-hidden"> WWhat is the address of the responsible organisation?</span></a>
            </dd>
          </div>-->



        </dl>
     
        

       

    {% from "govuk/components/button/macro.njk" import govukButton %}


        <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and go to next section",
          href: ("../device-wearer/check-answers?section-2-complete=true" if data['section-1-complete'] == 'true' else "../device-wearer/identity-numbers?section-2-complete=true")
        }) }}

        {{ govukButton({
          text: "Save as draft",
          classes: "govuk-button--secondary",
          href: "../new-form?section-2-complete=true"
        }) }}

        

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
