{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
 Contact details for the notifying organisation - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">About the Notifying and Responsible Organisations</span>
       Notifying Organisation's details
      </h1>

        {% if (data['cya2'] == "true") %}

        <form class="form" action="check-answers" method="post">

        {% else %}

       <form class="form" action="responsible-officer" method="post">

        {% endif %}





         

           {% set courtsHtml %}

           {% include "/includes/court.html" %}
            
           
            {% endset -%}

            {% set crowncourtsHtml %}

             {% include "/includes/crown-court.html" %}
            
           
            {% endset -%}

            {% set prison2Html %}

             {% include "/includes/prison.html" %}
            
            {% endset -%}



            {{ govukRadios({
              name: "notifying-org",
              fieldset: {
                legend: {
                  text: " What organisation or related organisation are you part of?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              hint: {
                text: "Select one option"
              },
              items: [
                {
                  value: "Crown Court",
                  text: "Crown Court",
                  checked: (true if data['notifying-org'] == 'Crown Court'),
                  conditional: {
                    html: crowncourtsHtml
                  }
                },
                {
                  value: "Family and Civil Court",
                  text: "Family and Civil Court",
                  checked: (true if data['notifying-org'] == 'Family and Civil Court'),
                  conditional: {
                    html: courtsHtml
                  }
                },
                {
                  value: "Magistrates Court",
                  checked: (true if data['notifying-org'] == 'Magistrates Court'),
                  text: "Magistrates Court",
                  conditional: {
                    html: courtsHtml
                  }
                },
                 {
                  value: "Scottish Court",
                  checked: (true if data['notifying-org'] == 'Scottish Court'),
                  text: "Scottish Court"
                },
                {
                  value: "Home Office",
                  text: "Home Office",
                  checked: (true if data['notifying-org'] == 'Home Office')
                },
                
                
                {
                  value: "Prison",
                  checked: (true if data['notifying-org'] == 'Prison'),
                  text: "Prison",
                  conditional: {
                    html: prison2Html
                  }
                },
                {
                  value: "Youth Custody Service (YCS)",
                  checked: (true if data['notifying-org'] == 'Youth Custody Service (YCS)'),
                  text: "Youth Custody Service (YCS)"
                },
                {
                  value: "Probation",
                  checked: (true if data['notifying-org'] == 'Probation'),
                  text: "Probation"
                }
              ]
            }) }}


              {{ govukInput({
                  label: {
                    text: "What is your team's email address?",
                    classes: "govuk-label--s"
                    },
                    hint: {
                      text: "The email address for your team's shared mailbox. Do not provide a personal email address."
                    },
                  
                  classes: "govuk-input--width-20",
                  id: "team-email",
                  name: "team-email",
                  spellcheck: false,
                  value: data['team-email']
                }) }}

        


       

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save as draft",
          href: '../new-form',
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
