{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Responsible organisation's details - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">About the Notifying and Responsible Organisations</span>
       Responsible Organisation's details
      </h1>

       <form class="form" action="/region" method="post">

        <p>The Responsible Organisation is the service the Responsible Officer is part of. For example, the Responsible Organisation for a probation officer is the Probation Service.</p>




       

          {{ govukRadios({
            name: "officer-org",
            fieldset: {
              legend: {
                text: "What is the Responsible Officer's organisation?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: ""
            },
            items: [
             
              
              {
                value: "Probation",
                checked: (true if data['officer-org'] == 'Probation'),
                text: "Probation"
              },
              {
                value: "Field monitoring service",
                checked: (true if data['officer-org'] == 'Field monitoring service'),
                text: "Field monitoring service"
                
              },
              {
                value: "Home Office",
                checked: (true if data['officer-org'] == 'Home Office'),
                text: "Home Office"
                
              },
              {
                value: "Police",
                checked: (true if data['officer-org'] == 'Police'),
                text: "Police"
                
              },
               {
                value: "Youth Justice Service (YJS)",
                checked: (true if data['officer-org'] == 'Youth Justice Service (YJS)'),
                text: "Youth Justice Service (YJS)"
              }
            ]
          }) }}

           {{ govukInput({
          label: {
            text: "What is the Responsible Organisation's telephone number? (optional)",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-20",
          id: "org-tel",
          name: "org-tel",
          spellcheck: false,
          value: data['org-tel']
        }) }}


        {{ govukInput({
          label: {
            text: "What is the Responsible Organisation's email address? (optional)",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-20",
          id: "org-email",
          name: "org-email",
          spellcheck: false,
          value: data['org-email']
        }) }}

  <!--        {{ xGovukAutocomplete({
                id: "region",
                name: "region",
                value: data['region'],
                allowEmpty: false,
                label: {
                  classes: "govuk-label--s",
                  text: "What is the Responsible Organisation's region? "
                },

                items: [
                  { text: "North East" },
                  { text: "North West" },
                  { text: "Yorkshire and The Humber" },
                  { text: "East Midlands" },
                  { text: "West Midlands" },
                  { text: "East of England" },
                  { text: "London" },
                  { text: "South East" },
                  { text: "South West" },
                  { text: "Wales" }
                ]
              }) }}-->
        
       

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save as draft",
          href: '../new-form',
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
