{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Responsible adult details - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

      <h1 class="govuk-heading-l">
       <span class="govuk-caption-l">About the notifying and responsible organisations</span>
       Responsible organisation's details
      </h1>

  {% if (data['cya2'] == "true") %}

        <form class="form" action="check-answers" method="post">

        {% else %}

       <form class="form" action="org-address" method="post">

        {% endif %}




       

          {{ govukRadios({
            name: "officer-org",
            fieldset: {
              legend: {
                text: "What organisation is the responsible officer part of?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "Select one option"
            },
            items: [
              {
                value: "Youth Justice Service (YJS)",
                checked: (true if data['officer-org'] == 'Youth Justice Service (YJS)'),
                text: "Youth Justice Service (YJS)"
              },
              {
                value: "Youth Custody Service (YCS)",
                checked: (true if data['officer-org'] == 'Youth Custody Service (YCS)'),
                text: "Youth Custody Service (YCS)"
              },
              {
                value: "Probation",
                checked: (true if data['officer-org'] == 'Probation'),
                text: "Probation"
              },
              {
                value: "Field monitoring service",
                checked: (true if data['officer-org'] == 'Field monitoring service'),
                text: "Field monitoring service"
                
              },
              {
                value: "Home Office",
                checked: (true if data['officer-org'] == 'Home Office'),
                text: "Home Office"
                
              },
              {
                value: "Police",
                checked: (true if data['officer-org'] == 'Police'),
                text: "Police"
                
              }
            ]
          }) }}

           {{ govukInput({
          label: {
            text: "What is the responsible organisation's telephone number?",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-20",
          id: "org-tel",
          name: "org-tel",
          spellcheck: false,
          value: data['org-tel']
        }) }}


        {{ govukInput({
          label: {
            text: "What is the responsible organisation's email address?",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-20",
          id: "org-email",
          name: "org-email",
          spellcheck: false,
          value: data['org-email']
        }) }}

          {{ xGovukAutocomplete({
                id: "region",
                name: "region",
                value: data['region'],
                allowEmpty: false,
                label: {
                  classes: "govuk-label--s",
                  text: "What region is the responsible organisation in?"
                },

                items: [
                  { text: "North East" },
                  { text: "North West" },
                  { text: "Yorkshire and The Humber" },
                  { text: "East Midlands" },
                  { text: "West Midlands" },
                  { text: "East of England" },
                  { text: "London" },
                  { text: "South East" },
                  { text: "South West" },
                  { text: "Wales" }
                ]
              }) }}
        





     

       

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save and return to main form menu",
          href: '../new-form',
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
