{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Responsible organisation's details - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">About the Responsible Organisation</span>

     <!-- <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">About the Notifying and Responsible Organisations</span>
       What is the Responsible Organisation's Probation Delivery Unit (yjs-office)?
      </h1>-->
   <form class="form" action="checkanswers" method="post">

   



  {% if (data['region'] == "East") %}



          {{ govukRadios({
            name: "yjs-office",
            fieldset: {
              legend: {
                text: "What is the Youth Justice Service office (YJS)?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: ""
            },
            items: [
              {
                value: "Bedfordshire",
                checked: (true if data['yjs-office'] == 'Bedfordshire'),
                text: "Bedfordshire"
                
              },
              {
                value: "Cambridgeshire",
                checked: (true if data['yjs-office'] == 'Cambridgeshire'),
                text: "Cambridgeshire"
                
              },
              {
                value: "Essex",
                checked: (true if data['yjs-office'] == 'Essex'),
                text: "Essex"
                
              },
              {
                value: "Hertfordshire - Central",
                checked: (true if data['yjs-office'] == 'Hertfordshire - Central'),
                text: "Hertfordshire - Central"
                
              },
              {
                value: "Hertfordshire - East",
                checked: (true if data['yjs-office'] == 'Hertfordshire - East'),
                text: "Hertfordshire - East"
                
              },
              {
                value: "Hertfordshire - North",
                checked: (true if data['yjs-office'] == 'Hertfordshire - North'),
                text: "Hertfordshire - North"
              },
                 {
                value: "Hertfordshire - South",
                checked: (true if data['yjs-office'] == 'Hertfordshire - South'),
                text: "Hertfordshire - South"
              },
                   {
                value: "Hertfordshire - West",
                checked: (true if data['yjs-office'] == 'Hertfordshire - West'),
                text: "Hertfordshire - West"
              },
                   {
                value: "Luton",
                checked: (true if data['yjs-office'] == 'Luton'),
                text: "Luton"
              },
                   {
                value: "Norfolk",
                checked: (true if data['yjs-office'] == 'Norfolk'),
                text: "Norfolk"
              },
                   {
                value: "Norfolk - Great Yarmouth",
                checked: (true if data['yjs-office'] == 'Norfolk - Great Yarmouth'),
                text: "Norfolk - Great Yarmouth"
              },
                   {
                value: "Peterborough",
                checked: (true if data['yjs-office'] == 'Peterborough'),
                text: "Peterborough"
              },
                     {
                value: "Southend on Sea",
                checked: (true if data['yjs-office'] == 'Southend on Sea'),
                text: "Southend on Sea"
              },
                     {
                value: "Suffolk",
                checked: (true if data['yjs-office'] == 'Suffolk'),
                text: "Suffolk"
              },
                     {
                value: "Suffolk YJ Service - Bury St Edmunds (West and Central)",
                checked: (true if data['yjs-office'] == 'Suffolk YJ Service - Bury St Edmunds (West and Central)'),
                text: "Suffolk YJ Service - Bury St Edmunds (West and Central)"
              },
                     {
                value: "Suffolk YJ Service - Ipswich",
                checked: (true if data['yjs-office'] == 'Suffolk YJ Service - Ipswich'),
                text: "Suffolk YJ Service - Ipswich"
              },
                        {
                value: "Suffolk YJ Service - Lowestoft",
                checked: (true if data['yjs-office'] == 'Suffolk YJ Service - Lowestoft'),
                text: "Suffolk YJ Service - Lowestoft"
              },
                     {
                value: "Thurrock",
                checked: (true if data['yjs-office'] == 'Thurrock'),
                text: "Thurrock"
              },

              {
                divider: "or"
              },
              {
                value: "Not able to provide this information",
                checked: (true if data['yjs-office'] == 'Not able to provide this information'),
                text: "Not able to provide this information"
              }
            ]
          }) }}

  {% elseif (data['region'] == "East of England") %}


   {{ govukRadios({
            name: "yjs-office",
            fieldset: {
              legend: {
                text: "What is the Youth Justice Service office (YJS)?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: ""
            },
            items: [
              {
                value: "Bedfordshire",
                checked: (true if data['yjs-office'] == 'Bedfordshire'),
                text: "Bedfordshire"
                
              },
              {
                value: "Cambridgeshire",
                checked: (true if data['yjs-office'] == 'Cambridgeshire'),
                text: "Cambridgeshire"
                
              },
              {
                value: "Essex North",
                checked: (true if data['yjs-office'] == 'Essex North'),
                text: "Essex North"
                
              },
              {
                value: "Essex South",
                checked: (true if data['yjs-office'] == 'Essex South'),
                text: "Essex South"
                
              },
              {
                value: "Hertfordshire",
                checked: (true if data['yjs-office'] == 'Hertfordshire'),
                text: "Hertfordshire"
                
              },
              {
                value: "Norfolk",
                checked: (true if data['yjs-office'] == 'Norfolk'),
                text: "Norfolk"
              },
              {
                value: "Northamptonshire",
                checked: (true if data['yjs-office'] == 'Northamptonshire'),
                text: "Northamptonshire"
              },
              {
                value: "Suffolk",
                checked: (true if data['yjs-office'] == 'Suffolk'),
                text: "Suffolk"
              },
              {
                divider: "or"
              },
              {
                value: "Not able to provide this information",
                checked: (true if data['yjs-office'] == 'Not able to provide this information'),
                text: "Not able to provide this information"
              }
            ]
          }) }}


  
 {% elseif (data['region'] == "Greater Manchester") %}


   {{ govukRadios({
            name: "yjs-office",
            fieldset: {
              legend: {
                text: "What is the Youth Justice Service office (YJS)?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: ""
            },
            items: [
              {
                value: "Bolton",
                checked: (true if data['yjs-office'] == 'Bolton'),
                text: "Bolton"
                
              },
              {
                value: "Bury and Rochdale",
                checked: (true if data['yjs-office'] == 'Bury and Rochdale'),
                text: "Bury and Rochdale"
                
              },
              {
                value: "Manchester North",
                checked: (true if data['yjs-office'] == 'Manchester North'),
                text: "Manchester North"
                
              },
              {
                value: "Manchester South",
                checked: (true if data['yjs-office'] == 'Manchester South'),
                text: "Manchester South"
                
              },
              {
                value: "Oldham",
                checked: (true if data['yjs-office'] == 'Oldham'),
                text: "Oldham"
                
              },
              {
                value: "Salford",
                checked: (true if data['yjs-office'] == 'Salford'),
                text: "Salford"
              },
              {
                value: "Stockport and Trafford",
                checked: (true if data['yjs-office'] == 'Stockport and Trafford'),
                text: "Stockport and Trafford"
              },
              {
                value: "Tameside",
                checked: (true if data['yjs-office'] == 'Tameside'),
                text: "Tameside"
              },
              {
                value: "Wigan",
                checked: (true if data['yjs-office'] == 'Wigan'),
                text: "Wigan"
              },
              {
                divider: "or"
              },
              {
                value: "Not able to provide this information",
                checked: (true if data['yjs-office'] == 'Not able to provide this information'),
                text: "Not able to provide this information"
              }
            ]
          }) }}
                
 {% elseif (data['region'] == "Kent, Surrey & Sussex") %}


   {{ govukRadios({
            name: "yjs-office",
            fieldset: {
              legend: {
                text: "What is the Youth Justice Service office (YJS)?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: ""
            },
            items: [
              {
                value: "East Sussex",
                checked: (true if data['yjs-office'] == 'East Sussex'),
                text: "East Sussex"
                
              },
              {
                value: "East Kent",
                checked: (true if data['yjs-office'] == 'East Kent'),
                text: "East Kent"
                
              },
              {
                value: "North Kent & Medway",
                checked: (true if data['yjs-office'] == 'North Kent & Medway'),
                text: "North Kent & Medway"
                
              },
              {
                value: "Surrey",
                checked: (true if data['yjs-office'] == 'Surrey'),
                text: "Surrey"
                
              },
              {
                value: "West Kent",
                checked: (true if data['yjs-office'] == 'West Kent'),
                text: "West Kent"
                
              },
              {
                value: "West Sussex",
                checked: (true if data['yjs-office'] == 'West Sussex'),
                text: "West Sussex"
                
              },

              {
                divider: "or"
              },
              {
                value: "Not able to provide this information",
                checked: (true if data['yjs-office'] == 'Not able to provide this information'),
                text: "Not able to provide this information"
              }
            ]
          }) }}     

 {% elseif (data['region'] == "London") %}


   {{ govukRadios({
            name: "yjs-office",
            fieldset: {
              legend: {
                text: "What is the Youth Justice Service office (YJS)?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: ""
            },
            items: [
              {
                value: "Barking and Dagenham and Havering",
                checked: (true if data['yjs-office'] == 'Barking and Dagenham and Havering'),
                text: "Barking and Dagenham and Havering"
                
              },
              {
                value: "Brent",
                checked: (true if data['yjs-office'] == 'Brent'),
                text: "Brent"
                
              },
              {
                value: "Camden & Islington",
                checked: (true if data['yjs-office'] == 'Camden & Islington'),
                text: "Camden & Islington"
                
              },
              {
                value: "Croydon",
                checked: (true if data['yjs-office'] == 'Croydon'),
                text: "Croydon"
                
              },
              {
                value: "Ealing and Hillingdon",
                checked: (true if data['yjs-office'] == 'Ealing and Hillingdon'),
                text: "Ealing and Hillingdon"
                
              },
              {
                value: "Enfield and Haringey",
                checked: (true if data['yjs-office'] == 'Enfield and Haringey'),
                text: "Enfield and Haringey"
              },
              {
                value: "Greenwich and Bexley",
                checked: (true if data['yjs-office'] == 'Greenwich and Bexley'),
                text: "Greenwich and Bexley"
              },
              {
                value: "Hackney and City",
                checked: (true if data['yjs-office'] == 'Hackney and City'),
                text: "Hackney and City"
              },
              {
                value: "Hammersmith, Fulham, Kensington, Chelsea and Westminster",
                checked: (true if data['yjs-office'] == 'Hammersmith, Fulham, Kensington, Chelsea and Westminster'),
                text: "Hammersmith, Fulham, Kensington, Chelsea and Westminster"
              },
              {
                value: "Harrow and Barnet",
                checked: (true if data['yjs-office'] == 'Harrow and Barnet'),
                text: "Harrow and Barnet"
              },
              {
                value: "Kingston, Richmond and Hounslow",
                checked: (true if data['yjs-office'] == 'Kingston, Richmond and Hounslow'),
                text: "Kingston, Richmond and Hounslow"
              },
              {
                value: "Lambeth",
                checked: (true if data['yjs-office'] == 'Lambeth'),
                text: "Lambeth"
              },
              {
                value: "Lewisham and Bromley",
                checked: (true if data['yjs-office'] == 'Lewisham and Bromley'),
                text: "Lewisham and Bromley"
              },
              {
                value: "Newham",
                checked: (true if data['yjs-office'] == 'Newham'),
                text: "Newham"
              },
              {
                value: "Redbridge and Waltham Forest",
                checked: (true if data['yjs-office'] == 'Redbridge and Waltham Forest'),
                text: "Redbridge and Waltham Forest"
              },
              {
                value: "Southwark",
                checked: (true if data['yjs-office'] == 'Southwark'),
                text: "Southwark"
              },
              {
                value: "Tower Hamlets",
                checked: (true if data['yjs-office'] == 'Tower Hamlets'),
                text: "Tower Hamlets"
              },
              {
                value: "Wandsworth, Merton and Sutton",
                checked: (true if data['yjs-office'] == 'Wandsworth, Merton and Sutton'),
                text: "Wandsworth, Merton and Sutton"
              },
              {
                divider: "or"
              },
              {
                value: "Not able to provide this information",
                checked: (true if data['yjs-office'] == 'Not able to provide this information'),
                text: "Not able to provide this information"
              }
            ]
          }) }}    

  {% elseif (data['region'] == "North West") %}


   {{ govukRadios({
            name: "yjs-office",
            fieldset: {
              legend: {
                text: "What is the Youth Justice Service office (YJS)?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: ""
            },
            items: [
              {
                value: "Blackburn",
                checked: (true if data['yjs-office'] == 'Blackburn'),
                text: "Blackburn"
                
              },
              {
                value: "Central Lancashire",
                checked: (true if data['yjs-office'] == 'Central Lancashire'),
                text: "Central Lancashire"
                
              },
              {
                value: "Cheshire East",
                checked: (true if data['yjs-office'] == 'Cheshire East'),
                text: "Cheshire East"
                
              },
              {
                value: "Cheshire West",
                checked: (true if data['yjs-office'] == 'Cheshire West'),
                text: "Cheshire West"
                
              },
              {
                value: "Cumbria",
                checked: (true if data['yjs-office'] == 'Cumbria'),
                text: "Cumbria"
                
              },
              {
                value: "East Lancashire",
                checked: (true if data['yjs-office'] == 'East Lancashire'),
                text: "East Lancashire"
              },
              {
                value: "Warrington and Halton",
                checked: (true if data['yjs-office'] == 'Warrington and Halton'),
                text: "Warrington and Halton"
              },
              {
                value: "Liverpool North",
                checked: (true if data['yjs-office'] == 'Liverpool North'),
                text: "Liverpool North"
              },
              {
                value: "Liverpool South",
                checked: (true if data['yjs-office'] == 'Liverpool South'),
                text: "Liverpool South"
              },
              {
                value: "North West Lancashire",
                checked: (true if data['yjs-office'] == 'North West Lancashire'),
                text: "North West Lancashire"
              },
              {
                value: "Sefton & Merseyside Womens",
                checked: (true if data['yjs-office'] == 'Sefton & Merseyside Womens'),
                text: "Sefton & Merseyside Womens"
              },
              {
                value: "Wirral & ISC Team",
                checked: (true if data['yjs-office'] == 'Wirral & ISC Team'),
                text: "Wirral & ISC Team"
              },
              {
                value: "Knowsley & St Helens",
                checked: (true if data['yjs-office'] == 'Knowsley & St Helens'),
                text: "Knowsley & St Helens"
              },
              {
                divider: "or"
              },
              {
                value: "Not able to provide this information",
                checked: (true if data['yjs-office'] == 'Not able to provide this information'),
                text: "Not able to provide this information"
              }
            ]
          }) }}        


  {% elseif (data['region'] == "South Central") %}


   {{ govukRadios({
            name: "yjs-office",
            fieldset: {
              legend: {
                text: "What is the Youth Justice Service office (YJS)?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: ""
            },
            items: [
              {
                value: "Buckinghamshire and Milton Keynes",
                checked: (true if data['yjs-office'] == 'Buckinghamshire and Milton Keynes'),
                text: "Buckinghamshire and Milton Keynes"
                
              },
              {
                value: "East Berkshire",
                checked: (true if data['yjs-office'] == 'East Berkshire'),
                text: "East Berkshire"
                
              },
              {
                value: "Hampshire North and East",
                checked: (true if data['yjs-office'] == 'Hampshire North and East'),
                text: "Hampshire North and East"
                
              },
              {
                value: "Oxfordshire",
                checked: (true if data['yjs-office'] == 'Oxfordshire'),
                text: "Oxfordshire"
                
              },
              {
                value: "Hampshire South West",
                checked: (true if data['yjs-office'] == 'Hampshire South West'),
                text: "Hampshire South West"
                
              },
              {
                value: "Hampshire South and Isle of Wight",
                checked: (true if data['yjs-office'] == 'Hampshire South and Isle of Wight'),
                text: "Hampshire South and Isle of Wight"
              },
              {
                value: "West Berkshire",
                checked: (true if data['yjs-office'] == 'West Berkshire'),
                text: "West Berkshire"
              },
              {
                divider: "or"
              },
              {
                value: "Not able to provide this information",
                checked: (true if data['yjs-office'] == 'Not able to provide this information'),
                text: "Not able to provide this information"
              }
            ]
          }) }}   


{% elseif (data['region'] == "South West") %}


   {{ govukRadios({
            name: "yjs-office",
            fieldset: {
              legend: {
                text: "What is the Youth Justice Service office (YJS)?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: ""
            },
            items: [
              {
                value: "Bath and North Somerset",
                checked: (true if data['yjs-office'] == 'Bath and North Somerset'),
                text: "Bath and North Somerset"
                
              },
              {
                value: "Bristol and South Gloucestershire",
                checked: (true if data['yjs-office'] == 'Bristol and South Gloucestershire'),
                text: "Bristol and South Gloucestershire"
                
              },
              {
                value: "Cornwall and Isles of Scilly",
                checked: (true if data['yjs-office'] == 'Cornwall and Isles of Scilly'),
                text: "Cornwall and Isles of Scilly"
                
              },
              {
                value: "Devon and Torbay",
                checked: (true if data['yjs-office'] == 'Devon and Torbay'),
                text: "Devon and Torbay"
                
              },
              {
                value: "Dorset",
                checked: (true if data['yjs-office'] == 'Dorset'),
                text: "Dorset"
                
              },
              {
                value: "Gloucestershire",
                checked: (true if data['yjs-office'] == 'Gloucestershire'),
                text: "Gloucestershire"
              },
              {
                value: "Plymouth",
                checked: (true if data['yjs-office'] == 'Plymouth'),
                text: "Plymouth"
              },
              {
                value: "Somerset",
                checked: (true if data['yjs-office'] == 'Somerset'),
                text: "Somerset"
              },
              {
                value: "Swindon and Wiltshire",
                checked: (true if data['yjs-office'] == 'Swindon and Wiltshire'),
                text: "Swindon and Wiltshire"
              },
              {
                divider: "or"
              },
              {
                value: "Not able to provide this information",
                checked: (true if data['yjs-office'] == 'Not able to provide this information'),
                text: "Not able to provide this information"
              }
            ]
          }) }}  


  {% elseif (data['region'] == "Wales") %}


   {{ govukRadios({
            name: "yjs-office",
            fieldset: {
              legend: {
                text: "What is the Youth Justice Service office (YJS)?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: ""
            },
            items: [
              {
                value: "Cardiff and the Vale",
                checked: (true if data['yjs-office'] == 'Cardiff and the Vale'),
                text: "Cardiff and the Vale"
                
              },
              {
                value: "Cwm Taf Morgannwg",
                checked: (true if data['yjs-office'] == 'Cwm Taf Morgannwg'),
                text: "Cwm Taf Morgannwg"
                
              },
              {
                value: "Dyfed Powys",
                checked: (true if data['yjs-office'] == 'Dyfed Powys'),
                text: "Dyfed Powys"
                
              },
              {
                value: "Gwent",
                checked: (true if data['yjs-office'] == 'Gwent'),
                text: "Gwent"
                
              },
              {
                value: "North Wales",
                checked: (true if data['yjs-office'] == 'North Wales'),
                text: "North Wales"
                
              },
              {
                value: "Swansea, Neath Port-Talbot",
                checked: (true if data['yjs-office'] == 'Swansea, Neath Port-Talbot'),
                text: "Swansea, Neath Port-Talbot"
              },
              {
                divider: "or"
              },
              {
                value: "Not able to provide this information",
                checked: (true if data['yjs-office'] == 'Not able to provide this information'),
                text: "Not able to provide this information"
              }
            ]
          }) }}       


 {% elseif (data['region'] == "West Midlands") %}


   {{ govukRadios({
            name: "yjs-office",
            fieldset: {
              legend: {
                text: "What is the Youth Justice Service office (YJS)?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: ""
            },
            items: [
              {
                value: "Derby City",
                checked: (true if data['yjs-office'] == 'Derby City'),
                text: "Derby City"
                
              },
              {
                value: "Derbyshire",
                checked: (true if data['yjs-office'] == 'Derbyshire'),
                text: "Derbyshire"
                
              },
              {
                value: "Leicester, Leicestershire and Rutland",
                checked: (true if data['yjs-office'] == 'Leicester, Leicestershire and Rutland'),
                text: "Leicester, Leicestershire and Rutland"
                
              },
              {
                value: "East and West Lincolnshire ",
                checked: (true if data['yjs-office'] == 'East and West Lincolnshire '),
                text: "East and West Lincolnshire "
                
              },
              {
                value: "Nottingham City",
                checked: (true if data['yjs-office'] == 'Nottingham City'),
                text: "Nottingham City"
                
              },
              {
                value: "Nottinghamshire",
                checked: (true if data['yjs-office'] == 'Nottinghamshire'),
                text: "Nottinghamshire"
              },
              {
                divider: "or"
              },
              {
                value: "Not able to provide this information",
                checked: (true if data['yjs-office'] == 'Not able to provide this information'),
                text: "Not able to provide this information"
              }
            ]
          }) }}                    
                                    

        
  {% elseif (data['region'] == "North East") %}


   {{ govukRadios({
            name: "yjs-office",
            fieldset: {
              legend: {
                text: "What is the Youth Justice Service office (YJS)?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: ""
            },
            items: [
              {
                value: "County Durham and Darlington",
                checked: (true if data['yjs-office'] == 'County Durham and Darlington'),
                text: "County Durham and Darlington"
                
              },
              {
                value: "Sunderland",
                checked: (true if data['yjs-office'] == 'Sunderland'),
                text: "Sunderland"
                
              },
              {
                value: "Stockton and Hartlepool",
                checked: (true if data['yjs-office'] == 'Stockton and Hartlepool'),
                text: "Stockton and Hartlepool"
                
              },
              {
                value: "Redcar, Cleveland and Middlesbrough",
                checked: (true if data['yjs-office'] == 'Redcar, Cleveland and Middlesbrough'),
                text: "Redcar, Cleveland and Middlesbrough"
                
              },
              {
                value: "North Tyneside and Northumberland",
                checked: (true if data['yjs-office'] == 'North Tyneside and Northumberland'),
                text: "North Tyneside and Northumberland"
                
              },
              {
                value: "Gateshead and South Tyneside",
                checked: (true if data['yjs-office'] == 'Gateshead and South Tyneside'),
                text: "Gateshead and South Tyneside"
              },
              {
                value: "Newcastle upon Tyne",
                checked: (true if data['yjs-office'] == 'Newcastle upon Tyne'),
                text: "Newcastle upon Tyne"
              },
              {
                divider: "or"
              },
              {
                value: "Not able to provide this information",
                checked: (true if data['yjs-office'] == 'Not able to provide this information'),
                text: "Not able to provide this information"
              }
            ]
          }) }}

   {% else %}     

   {{ govukRadios({
            name: "yjs-office",
            fieldset: {
              legend: {
                text: "What is the Youth Justice Service office (YJS)?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: ""
            },
            items: [
              {
                value: "Barnsley and Rotherham",
                checked: (true if data['yjs-office'] == 'Barnsley and Rotherham'),
                text: "Barnsley and Rotherham"
                
              },
              {
                value: "Bradford and Calderdale",
                checked: (true if data['yjs-office'] == 'Bradford and Calderdale'),
                text: "Bradford and Calderdale"
                
              },
              {
                value: "Doncaster",
                checked: (true if data['yjs-office'] == 'Doncaster'),
                text: "Doncaster"
                
              },
              {
                value: "Hull and East Riding",
                checked: (true if data['yjs-office'] == 'Hull and East Riding'),
                text: "Hull and East Riding"
                
              },
              {
                value: "Kirklees",
                checked: (true if data['yjs-office'] == 'Kirklees'),
                text: "Kirklees"
                
              },
              {
                value: "Leeds",
                checked: (true if data['yjs-office'] == 'Leeds'),
                text: "Leeds"
              },
              {
                value: "North and North East Lincs",
                checked: (true if data['yjs-office'] == 'North and North East Lincs'),
                text: "North and North East Lincs"
              },
              {
                value: "North Yorkshire",
                checked: (true if data['yjs-office'] == 'North Yorkshire'),
                text: "North Yorkshire"
              },
              {
                value: "Sheffield",
                checked: (true if data['yjs-office'] == 'Sheffield'),
                text: "Sheffield"
              },
              {
                value: "York",
                checked: (true if data['yjs-office'] == 'York'),
                text: "York"
              },
              {
                value: "Wakefield",
                checked: (true if data['yjs-office'] == 'Wakefield'),
                text: "Wakefield"
              },
              {
                divider: "or"
              },
              {
                value: "Not able to provide this information",
                checked: (true if data['yjs-office'] == 'Not able to provide this information'),
                text: "Not able to provide this information"
              }
            ]
          }) }}              

  {% endif %}



    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save as draft",
          href: '../new-form',
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
