{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Do you have a licence document to upload? - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     

        <form class="form" action="/specialsquestion" method="post">



       <span class="govuk-caption-l">About the Notifying and Responsible Organisations</span>

   
       

     
       {{ govukRadios({
            classes: "govuk-radios--inline",
            name: "specialsquestion",
            fieldset: {
              legend: {
                text: "Is the device wearer being managed by the National Security Directorate (NSD)?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
              hint: {
              text: "The National Security Directorate manage Critical Public Protection cases, Serious Organised Crime cases, those convicted of Terrorist Offences, or assessed as Terrorist Connected and Terrorist Risk cases"
            },
           
            items: [
              {
                value: "Yes",
                text: "Yes",
                checked: (true if data['specialsquestion'] == 'Yes'),
                conditional: {
                
                }
              },
              {
                value: "No",
                text: "No",
                checked: (true if data['specialsquestion'] == 'No'),
                conditional: {
                 
                }
              }
            ]
          }) }}




     
        

       

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

         {{ govukButton({
          text: "Save as draft",
          href: '../new-form',
          classes: "govuk-button--secondary"
        }) }}


      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
