{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
Details of the changes - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
         <form class="form" action="/sr-question" method="post">



            {{ govukRadios({
            name: "sr-type-simple",
            fieldset: {
              legend: {
                text: "Why do you need to make changes to the order?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: ""
            },
            items: [

             
               {
                value: "I need monitoring equipment reinstalled or checked",
                checked: (true if data['sr-type-simple'] == "I need monitoring equipment reinstalled or checked"),
                disabled: (true if data['view'] == 'true'),
                text: "I need monitoring equipment reinstalled",
                hint: {
                  text: "The device wearer's primary, secondary or tertiary address has changed."
                }
                
              },
               {
                value: "I need monitoring equipment installed at a new address",
                checked: (true if data['sr-type-simple'] == "I need monitoring equipment installed at a new address"),
                disabled: (true if data['view'] == 'true'),
                text: "I need monitoring equipment installed at an additional address",
                 hint: {
                  text: "The device wearer needs to remain at a second or third address during curfew hours. This is a new address where there was no second or third address previously."
                }

              },
              
                {
                value: "I need to end all monitoring for the device wearer",
                checked: (true if data['sr-type-simple'] == 'I need to end all monitoring for the device wearer'),
                disabled: (true if data['view'] == 'true'),
                text: "I need to revoke monitoring for the device wearer",
                 hint: {
                  text: "The device wearer has been recalled to prison. "
                }
              },
              {
                value: "I need to end all monitoring for the device wearer2",
                checked: (true if data['sr-type'] == 'I need to end all monitoring for the device wearer2'),
                disabled: (true if data['view'] == 'true'),
                text: "I need to end all monitoring for a device wearer",
                 hint: {
                  text: "The device wearers circumstances have changed and all monitoring needs to end early."
                }
              },
               {
                value: "I have changed something else in the form",
                checked: (true if data['sr-type-simple'] == 'I have changed something else in the form'),
                disabled: (true if data['view'] == 'true'),
                text: "I need to change something else in the form"
              }
            ]
          }) }}

     
<input type="hidden" id="cyasimple" name="cyasimple" value="false">

          <div class="govuk-button-group">

           
                  {{ govukButton({
                    text: "Save and continue"
                  }) }}

                    <!--  {{ govukButton({
                    text: "Save as draft",
                    href: '../new-form',
                    classes: "govuk-button--secondary"
                  }) }}-->

         

          </div>

      </form>


        

        </div>
      </div>
{% endblock %}
