{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
Details of the changes - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
         <form class="form" action="/sr-question" method="post">



            {{ govukRadios({
            name: "sr-type-simple",
            fieldset: {
              legend: {
                text: "Why do you need to make changes to the order?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: ""
            },
            items: [

             
              {
                value: "I need monitoring equipment installed at a new address",
                checked: (true if data['sr-type-simple'] == "I need monitoring equipment installed at a new address"),
                text: "I need monitoring equipment installed at a new address"
              },
              {
                value: "I need monitoring equipment reinstalled or checked",
                checked: (true if data['sr-type-simple'] == "I need monitoring equipment reinstalled or checked"),
                text: "I need monitoring equipment reinstalled or checked"
              },
                {
                value: "I need to end all monitoring for the device wearer",
                checked: (true if data['sr-type-simple'] == 'I need to end all monitoring for the device wearer'),
                text: "I need to end all monitoring for the device wearer"
              },
               {
                value: "I have changed something else in the form",
                checked: (true if data['sr-type-simple'] == 'I have changed something else in the form'),
                text: "I need to change something else in the form"
              }
            ]
          }) }}

     
<input type="hidden" id="cyasimple" name="cyasimple" value="false">

          <div class="govuk-button-group">

           
                  {{ govukButton({
                    text: "Save and continue"
                  }) }}

                    <!--  {{ govukButton({
                    text: "Save as draft",
                    href: '../new-form',
                    classes: "govuk-button--secondary"
                  }) }}-->

         

          </div>

      </form>


        

        </div>
      </div>
{% endblock %}
