{% extends "layouts/moj.html" %}

{% block pageTitle %}
 Search for an Electronic Monitoring Order form - Electronic Monitoring
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <h1 class="govuk-heading-xl">Accessibility statement for apply, change or end an Electronic Monitoring Order</h1>
  
          <p>This website is run by the Ministry of Justice (MOJ). We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>change colours, contrast levels and fonts using browser or device settings</li>
            <li>zoom in up to 400% without the text spilling off the screen</li>
            <li>navigate most of the website using a keyboard or speech recognition software</li>
            <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
          </ul>

          <p>We’ve also made the website text as simple as possible to understand.</p>

          <p><a rel="external" href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

          <h2 class="govuk-heading-l">How accessible this website is</h2>


          <p>We know some parts of this website are not fully accessible:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>Curfew timetable</li>
            <li>xxx</li>
            <li>xxx</li>
          </ul>

          <h2 class="govuk-heading-l">Feedback and contact information</h2>

          <p>If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact: <a href="mailto:digitalmonitoringqueries@justice.gov.uk">digitalmonitoringqueries@justice.gov.uk</a>.</p>

          <p>If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>digitalmonitoringqueries@justice.gov.uk</li>
          </ul>

          <p>We’ll consider your request and get back to you in 5 working days.</p>

       <!--   <p>If you cannot view the map on our ‘contact us’ page, call or email us [add link to contact details page] for directions.</p>-->

          <h2 class="govuk-heading-l">Enforcement procedure</h2>


          <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a rel="external" href="https://www.equalityadvisoryservice.com/" class="govuk-link">contact the Equality Advisory and Support Service (EASS)</a>.</p>


          <h2 class="govuk-heading-l">Technical information about this website’s accessibility</h2>

          <p>The Ministry of Justice (MOJ) is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

          <h2 class="govuk-heading-l">Compliance status</h2>

          <p>The website has been tested against the Web Content Accessibility Guidelines (WCAG) 2.2 AA standard.</p>

          <p>[Select (a) only if all requirements of the technical specification are fully met without exceptions for WCAG 2.2.]</p>

          <p>(a) This website is fully compliant with the <a rel="external" href="https://www.w3.org/TR/WCAG22/" class="govuk-link">Web Content Accessibility Guidelines version 2.2</a> AA standard.</p>

          <p>[Select (b) if most requirements of the technical specification are met, but with some exceptions. This means not yet fully compliant and that the necessary measures are to be taken in order to reach full compliance.]</p>

          <p>(b) This website is partially compliant with the <a rel="external" href="https://www.w3.org/TR/WCAG22/" class="govuk-link">Web Content Accessibility Guidelines version 2.2</a> AA standard, due to [insert one of the following: ‘the non-compliances’, ‘the exemptions’ or ‘the non-compliances and exemptions’] listed below.</p>

          <p>[Select (c) if most requirements of the technical specification are not met.]</p>

          <p>(c) This website is not compliant with the <a rel="external" href="https://www.w3.org/TR/WCAG22/" class="govuk-link">Web Content Accessibility Guidelines version 2.2</a> AA standard. The [insert one of the following: ‘non-compliances’, ‘exemptions’ or ‘non-compliances and exemptions’] are listed below.</p>


          <h2 class="govuk-heading-l">Non-accessible content</h2>


          <p>The content listed below is non-accessible for the following reasons.</p>

          <h3 class="govuk-heading-m">Non-compliance with the accessibility regulations</h3>


          <p>xxxxxxx</p>

          <!-- We should not be using this at MOJ without approval!!!

          <h2 class="govuk-heading-m">Disproportionate burden</h2>

          <h3 class="govuk-heading-s">xxxxx</h3>

          <p>xxxxxxx</p>

          -->

         
          <h2 class="govuk-heading-m">What we’re doing to improve accessibility</h2>

          <p>Our accessibility roadmap [add link to roadmap] shows how and when we plan to improve accessibility on this website.</p>

          <h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>


          <p>This statement was prepared on [date when it was first published]. It was last reviewed on [date when it was last reviewed].</p>

          <p>This website was last tested on [date] against the WCAG  2.2 AA standard.</p>

          <p>The test was carried out by [add name of organisation that carried out test, or indicate that you did your own testing]. The most viewed pages were tested using automated testing tools by our website team. A further audit of the website was carried out to the WCAG 2.2 AA standard.</p>


          <p>You can read the full accessibility test report [add link to report].</p>



    </div>
  </div>
{% endblock %}
         