{% extends "layouts/moj.html" %}



{% block pageTitle %}
  Electronic Monitoring Notification forms - Electronic Monitoring
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

         <form class="form" action="new-form?section-1-complete=false&section-2-complete=false&section-3-complete=false&section-4-complete=false&section-5-complete=false" method="post">

        <div class="moj-page-header-actions">
          <div class="moj-page-header-actions__title">
            <h1 class="govuk-heading-l">Electronic Monitoring Notification forms</h1>
          </div>

          <div class="moj-page-header-actions__actions">
            <div class="moj-button-group moj-button-group--inline">

              <button type="submit" class="govuk-button" data-module="govuk-button">
                Start new form
              </button>

              

            </div>
          </div>

        </div>

      </form>

  
        <p>
          View and edit your draft forms or search for a form someone else has submitted to edit or cancel it.
        </p>


          <div class="govuk-tabs" data-module="govuk-tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#past-week">
               Search for a submitted form
              </a>
            </li>
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="?searchresults=false#past-day">
                Your draft forms
              </a>
            </li>  
          </ul>

       <div class="govuk-tabs__panel" id="past-day">    
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name of device wearer</th>
                <th scope="col" class="govuk-table__header">Last updated on</th>
                <th scope="col" class="govuk-table__header">Status</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="new-form?section-1-complete=true&section-2-complete=true&section-3-complete=true&section-4-complete=true&section-5-complete=true">David Francis</a></td>
                <td class="govuk-table__cell">29 December 2024</td>
                <td class="govuk-table__cell">Draft</td>
              </tr>
          <!--     <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="submitted-form?view=false&section-1-complete=false&section-2-complete=false&section-3-complete=false&section-4-complete=false&section-5-complete=false">Bobbie Gibb</a></td>
                <td class="govuk-table__cell">2 January 2025</td>
                <td class="govuk-table__cell">12453</td>
                <td class="govuk-table__cell">Draft variation</td>
              </tr>-->
            </tbody>
          </table>
      </div>

     <div class="govuk-tabs__panel" id="past-week">   



      
        <div class="moj-search">

    

           {% if (data['searchresults'] == 'true') %}

          <form action="dashboard2?searchresults=false" method="post">

            {% else %}

            <form action="dashboard2?searchresults=true" method="post">

             {% endif %}

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                 <label class="govuk-label moj-search__label govuk-visually-hidden govuk-!-font-weight-bold" for="search">
                    Search for a submitted form
                  </label>

              <div id="search-hint" class="govuk-hint moj-search__hint ">
                You can search by the device wearer's name, date of birth or personal identity number. 
                <br>For example Bob Smith 19/1/1990 NHEFTH
              </div>

              <input class="govuk-input moj-search__input" id="search" name="search" type="search" aria-describedby="search-hint" value="{{ data['search'] }} ">

            </div>

            <button class="govuk-button govuk-button--secondary moj-search__button">
              Search
            </button>

          </form>
        
      </fieldset>
      </div>

  

     



  

     {% if (data['searchresults'] == 'true') %}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  

      <div class="govuk-form-group">
               <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Name of device wearer</th>
                      <th scope="col" class="govuk-table__header">Date of birth</th>
                      <th scope="col" class="govuk-table__header">Town or city</th>
                      <th scope="col" class="govuk-table__header">Last updated on</th>
                      <th scope="col" class="govuk-table__header">Status</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a href="submitted-form?view=true&variation=false&view-variation=false">Fred Bloggs</a></td>
                      <td class="govuk-table__cell">19 January 2001</td>
                      <td class="govuk-table__cell">Glossop</td>
                      <td class="govuk-table__cell">18 December 2024</td>
                      <td class="govuk-table__cell">Submitted</td>
                    </tr>
                     <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a href="submitted-form?view=true&variation=true&view-variation=false">Fred Bloggs</a></td>
                      <td class="govuk-table__cell">5 July 1974</td>
                     <td class="govuk-table__cell">Salford</td>    
                      <td class="govuk-table__cell">15 November 2024</td>
                      <td class="govuk-table__cell">Submitted (variation)</td>
                    </tr>
                     <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a href="submitted-form?view=true&variation=false&view-variation=cancelled">Fred Bloggs</a></td>
                      <td class="govuk-table__cell">Glossop</td>  
                      <td class="govuk-table__cell">19 January 2001</td>
                      <td class="govuk-table__cell">2 March 2022</td>         
                      <td class="govuk-table__cell">Cancelled</td>
                    </tr>
                   
                    
                  </tbody>
                </table>

          </div>

       {% else %}

       {% endif %}



</div>

    
        
         
    </div>
</div>

{% endblock %}
