{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
   Order information - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      
  {%- from "moj/components/interruption-card/macro.njk" import interruptionCard -%}
      
  {% call interruptionCard({
      heading: "  Important information about this form",
      primaryAction: {
        text: "Continue",
        href: "/v1/variations/sr-question?view=false"
      }
      }) -%}
       <p>The information on this form may be out of date:</p>
      <ul class="govuk-list govuk-list--bullet">
  
        <li>This is the most recent version sent through the EMO service.</li>
        <li>It does not include any updates that were sent by email.</li>
      </ul>

       <p>What you need to do:</p>
       <ul class="govuk-list govuk-list--bullet">
                    <li>Do not correct details that you have already emailed to EMS.</li>
                    <li>Only provide information for the changes you want to make now.</li>
                    <li>You must include all details you want to change, even if they already appear on this form.</li>
                  </ul>

    <p>For example, If you are changing the device wearer’s address, you must submit the form again, even if the address is already shown on this version.</p>

    {%- endcall %}

   
 

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
