{% extends "layouts/moj.html" %}

{% block pageTitle %}
  Delete form confirmation - Electronic Monitoring
{% endblock %}

{% block beforeContent %}

{% endblock %}
    
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            The notification form has been deleted
          </h1>
          <div class="govuk-panel__body">
            Reference number<br><strong>123654</strong>
          </div>
         
        </div>
        
      <p class="govuk-body">
          Go back to your <a href="dashboard" class="govuk-link">Electronic Monitoring notification forms</a>. 

        </p>
     <!--     {{ govukButton({
          text: "Back to your notification forms",
          href: "dashboard"
        }) }}
        -->



      </div>
    </div>
  </main>
</div>

{% endblock %}
