{% extends "layouts/moj.html" %}

{% block pageTitle %}
  Are you sure that you want to make changes to this notification form? - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Are you sure that you want to make changes to this notification form for {{ data['fullname'] or "David Murphy" }}?</h1>




        {% from "govuk/components/button/macro.njk" import govukButton %}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Yes, create a new version of the form",
              href: 'submitted-form?view=false&section-1-complete=false&section-2-complete=false&section-3-complete=false&section-4-complete=false&section-5-complete=false&section-6-complete=false',
              classes: "govuk-button--warning"
            }) }}

            {{ govukButton({
              text: "No and return to form",
              href: 'submitted-form?view=true',
              classes: "govuk-button--secondary"
            }) }}
          </div>
     
        </div>
      </div>
{% endblock %}
