{% extends "layouts/moj.html" %}

{% block pageTitle %}
 Feedback confirmation - Electronic Monitoring
{% endblock %}

{% block beforeContent %}

{% endblock %}
    
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Thank you for your feedback
          </h1>
         
        </div>
        <p class="govuk-body">
          Your feedback is used to improve the service.
        </p>
        <p class="govuk-body">
          Go back to your <a href="dashboard" class="govuk-link">Electronic Monitoring forms</a>. 
        </p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
