{% extends "layouts/moj.html" %}

{% block pageTitle %}
  Give feedback on Electronic Monitoring - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Give feedback on the Electronic Monitoring Notification form</h1>

      <form class="form" action="feedback-confirmation" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            name: "feedback",
            fieldset: {
              legend: {
                text: "
                        Overall how did you find completing the form?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "very easy",
                text: "very easy"
              },
              {
                value: "Easy",
                text: "Easy"
              },
              {
                value: "Neither easy or hard",
                text: "Neither easy or hard"
              },
              {
                value: "Hard",
                text: "Hard"
              },
              {
                value: "Very hard",
                text: "Very hard"
              }
            ]
          }) }}

          {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

          

              {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

              {{ govukCharacterCount({
                name: "withHint",
                id: "with-hint",
                maxlength: 200,
                label: {
                  text: "How could we improve the form to make it easier to complete?",
                  classes: "govuk-label--s",
                  isPageHeading: false
                },
                hint: {
                  text: "Don’t include personal details about yourself or anyone else in your answer."
                }
              }) }}


    <button type="submit" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
      Send feedback
    </button>
 
    </form>

    </div>
  </div>
{% endblock %}
