{% extends "layouts/moj.html" %}

{% block pageTitle %}
  Give feedback on Electronic Monitoring - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <h1 class="govuk-heading-l">Information in this form could be out of date</h1>

      <form class="form" action="submitted-form" method="post">


                   
 <p>This is the most recent version sent through the EMO service. It does not include any changes that have been sent to EMS by email.</p>        

  <!--  <p>Make all the changes you need now. You do not need to update anything that has already been sent by email.</p>-->
             

    <h2 class="govuk-heading-s">The change you want to make could already be in this version of the form</h2>

    <p>This is because the information is out of date, not because someone else has already made the change.</p>

           <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-visually-hidden">Warning</span>
            You still need to notify EMS, even if the change you want to make is already included in this version of the form.
                </strong>
              </div>
              




      

       
           
    <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button" data-govuk-button-init="">
    I confirm that I understand
    </button>
 
    </form>

    </div>
  </div>
{% endblock %}
