{% extends "layouts/moj.html" %}

{% block pageTitle %}
  Give feedback on Electronic Monitoring - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="dashboard" action="action" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">





          <div class="moj-search">

            

            <form action="search?searchresults=true" method="post">

        

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Search for an Electronic Monitoring Order form
                  </h1>
                </legend>

              <div id="search-hint" class="govuk-hint moj-search__hint ">
                You can search by the device wearer's name or date of birth. or personal identity number.
                <br>For example Matthew Jones 19/01/1990
              </div>

              <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint" value="{{ data['search'] }} ">

            </div>

            <button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
              Search
            </button>

          </form>
        </div>
      </fieldset>

      {% if (data['searchresults'] == "true") %}

      {% if (data['search'] == "mohammed mulin" or data['search'] == "Mohammed mulin" or data['search'] == " mohammed mulin" or data['search'] == "mohammed mulin ") or data['search'] == "mohammed mulin  " or data['search'] == "mohammed" %}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

       <h2 class="govuk-heading-m">There are no results for 'Mohammed Mulin'</h2>

      <p>Search by the full first and last name - and how it appears in the service, for example Tom Smith-Johnson. </p>

      <p>Check the date of birth is the correct format. For example, 19/01/1990.</p>

      <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            You can only search for Electronic Monitoring Order forms that were created in the online service. To change or cancel a notification form that was sent by email <a href="new-form?section-1-complete=false&section-2-complete=false&section-3-complete=false&section-4-complete=false&section-5-complete=false&section-6-complete=false&view=none&newform=false">complete a new form with the changes</a>.
          </strong>
        </div>

      <p></p>
    

      {% elseif (data['search'] == "" or data['search'] == " " or data['search'] == "  " or data['search'] == NULL) %}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">You have not entered any search terms</h2>

      <p>  Enter a search term, which needs to be either one or a combination of the:</p>

      <ul class="govuk-list govuk-list--bullet">
        
       <li>first and last name of the device wearer, for example Matthew Jones</li>
       <li>the device wearer's date of birth. For example 19/01/1990</li>
       <li>a personal identity number, for example their NOMIS ID, Delius ID or PNC number</li>

      </ul>  

      {% else %}

   

</div>
 <div class="govuk-grid-column-full">

     <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


      <div class="govuk-form-group">
         <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name of device wearer</th>
                <th scope="col" class="govuk-table__header">Date of birth</th>
                 <th scope="col" class="govuk-table__header">Town or city</th>
                 <th scope="col" class="govuk-table__header">Start date</th>
                 <th scope="col" class="govuk-table__header">End date</th>
                <th scope="col" class="govuk-table__header">Last updated on</th>
                <th scope="col" class="govuk-table__header">Status</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="submitted-form?view=true&variation=false&view-variation=false&fullname=David Murphy&newform=true">David Murphy</a></td>
                <td class="govuk-table__cell">19/01/2001</td>
                <td class="govuk-table__cell">Glossop</td>
                <td class="govuk-table__cell">18/12/2024</td>
                <td class="govuk-table__cell">18/12/2025</td>
                <td class="govuk-table__cell">14/12/2024</td>
                <td class="govuk-table__cell">Submitted</td>
              </tr>
               <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="submitted-form?view=true&variation=true&view-variation=false&fullname=David Murphy&newform=true">David Murphy</a></td>
                <td class="govuk-table__cell">5/6/1974</td>
                <td class="govuk-table__cell">Salford</td>
                <td class="govuk-table__cell">01/09/2024</td>
                <td class="govuk-table__cell">01/09/2025</td>
                <td class="govuk-table__cell">15/01/2025</td>
                <td class="govuk-table__cell">Submitted</td>
              </tr>
               <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="submitted-form?view=true&variation=false&view-variation=cancelled&fullname=David Murphy&newform=true">David Murphy</a></td>
                <td class="govuk-table__cell">19/01/2001</td>
                <td class="govuk-table__cell">Glossop</td>
                <td class="govuk-table__cell">01/12/2021</td>
                <td class="govuk-table__cell">18/07/2022</td>
                <td class="govuk-table__cell">02/03/2022</td>
                <td class="govuk-table__cell">Ended early</td>
              </tr>
             
              
            </tbody>
          </table>

      </div>
  </div>

      {% endif %}

      {% else %}



      {% endif %}



      

 
    </form>

    </div>
  </div>
{% endblock %}
