{% extends "layouts/moj.html" %}

{% block pageTitle %}
 The notification form has been successfully submitted - Electronic Monitoring
{% endblock %}

{% block beforeContent %}

{% endblock %}
    
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
             {% if (data['variation'] == 'true') %}
             The variation to the notification form has been successfully submitted

           {% else %} 

           The notification form has been successfully submitted

           {% endif %} 
          
          </h1>
          <div class="govuk-panel__body">
            Reference number<br><strong>123654</strong>
          </div>
         
        </div>
      
        <img src="/public/images/form_download.svg" alt="PDF download icon">

         {% if (data['variation'] == 'true') %}

         {{ govukButton({
          text: "View submitted variation to the notification form",
          href: '#',
          classes: "govuk-button--secondary"
        }) }}

         {% else %} 

           {{ govukButton({
          text: "View submitted notification form",
          href: '#',
          classes: "govuk-button--secondary"
        }) }}

           {% endif %} 
 

  <div class="govuk-button-group">
        {{ govukButton({
          text: "Back to your notification forms",
          href: "dashboard"
        }) }}
       
</div>

<p><a href="feedback">What did you think of this service? (takes 30 seconds)</a></p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
