{% extends "layouts/moj.html" %}

{% block pageTitle %}
 The notification form has been successfully submitted - Electronic Monitoring
{% endblock %}

{% block scripts %}

<!-- Spinner --->
  <script>
      document.onreadystatechange = function () {
         if (document.readyState !== "complete") {
            document.getElementById("content-hide").style.visibility = "hidden";
            document.getElementById("loading_indicator").style.visibility = "visible";
         } else {
            setTimeout(() => {
               document.getElementById("loading_indicator").style.display ="none";
               document.getElementById("content-hide").style.visibility = "visible";
            }, 2000)
         }
      };
   </script>
   <script>
     $(document).ready(function() {
      $("#content-hide").css("display", "block");
    });
  </script>

{% endblock %}  

{% block beforeContent %}

{% endblock %}
    
{% block content %}

<div id='loading_indicator'>
  <div class="hods-loading-spinner">
  <div
    class="hods-loading-spinner__spinner"
    aria-live="polite"
    role="status"
  ></div>
  <div class="hods-loading-spinner__content">
    <h1 class="govuk-heading-m">Submitting the notification form ...</h1>
  </div>
</div>
</div>


<div id='content-hide'> 

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
             {% if (data['variation'] == 'true') %}
             The changes to the notification form have been successfully submitted

           {% else %} 

           The notification form has been successfully submitted

           {% endif %} 
          
          </h1>
          <div class="govuk-panel__body">
            Reference number<br><strong>123654</strong>
          </div>
         
        </div>
      
        <img src="/public/images/form_download.svg" alt="PDF download icon">

         {% if (data['variation'] == 'true') %}

         {{ govukButton({
          text: "View submitted version of the notification form",
          href: '#',
          classes: "govuk-button--secondary"
        }) }}

         {% else %} 

           {{ govukButton({
          text: "View submitted notification form",
          href: '#',
          classes: "govuk-button--secondary"
        }) }}

           {% endif %} 
 

  <div class="govuk-button-group">
        {{ govukButton({
          text: "Back to your notification forms",
          href: "dashboard"
        }) }}
       
  </div>

<p><a href="feedback">What did you think of this service? (takes 30 seconds)</a></p>
      </div>
    </div>
  </main>
</div>

</div>


{% endblock %}
