{% extends "layouts/moj.html" %}

{% block pageTitle %}
 The notification form has failed to submit - Electronic Monitoring
{% endblock %}

{% block beforeContent %}

{% endblock %}
    
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #d4351c;">
          <h1 class="govuk-panel__title">
           
            The notification form failed to submit

          </h1>

        </div>


        <h2 class="govuk-heading-s">What you need to do</h2>

        <p>You need to create a new email as follows:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Write (subject line) as the subject line </li>
          <li>Download and attach the notification form  </li>
          <li>Attach documents such as the licence or photo ID if required </li>
          <li>In the body of the email explain why you are emailing the form. For example, the form failed to submit when you used the online form</li>
          <li>Include your team contact details and team email address so we can contact you if there are any problems </li>
        </ul>

        <p>You need to send the email to:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>hoieorders@ems.co.uk if you work at the Home Office </li>
          <li>EMNotifications@ems.co.uk if you work in any other service or department</li>
        </ul>
      
    
        <img src="/public/images/form_download.svg" alt="PDF download icon">


           {{ govukButton({
          text: "View and download notification form",
          href: '#',
          classes: "govuk-button--secondary"
        }) }}


 

  <div class="govuk-button-group">
        {{ govukButton({
          text: "Back to your notification forms",
          href: "dashboard"
        }) }}
       
</div>

<p><a href="feedback">What did you think of this service? (takes 30 seconds)</a></p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
