{% extends "layouts/moj.html" %}

{% block pageTitle %}
  Electronic Monitoring notification form - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<!-- Breadcrumb -->
<a href="dashboard" action="action" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <!-- {% set html %}
        <p class="govuk-notification-banner__heading">
         This form was submitted on the 14 December 2024.
        </p>
      {% endset %}

   {% if (data['view'] == 'true') %}

      {{ govukNotificationBanner({
        html: html
      }) }}

    {% else %}
              
    {% endif %}   -->

      <h1 class="govuk-heading-l">Electronic Monitoring notification form</h1>

       {% if (data['view'] == 'true') %}

           {% if (data['variation'] == 'false') %}

           <p> This notification form was submitted on the 14 December 2024. You can edit this form to create a variation.</p>

                 <form class="form" action="edit-form" method="post">
            {% else %}

            <p> This notification form was submitted on the 14 December 2024. It is a variation of a <a href="#">form</a> that was submitted on 1 December 2024. </p>
            <p>You can edit this form to create another variation.</p>

                 <form class="form" action="edit-form" method="post">

            {% endif %} 

        {% else %}

         <p> You are creating a variation of a notification form that was submitted on the 14 December 2024. Edit the sections that you need to change.</p>


              <form class="form" action="submit-confirmation?variation=true" method="post">
              
       {% endif %}   



  <!-- <h2 class="govuk-heading-m">Notification form sections</h2>-->

      {% set completedStatus = {
        text: "Completed"
      } %}

      {% set viewStatus = {
        text: ""
      } %}

      {% set tocheckStatus = {
        tag: {
          text: "To check",
          classes: "govuk-tag--blue"
        }
      } %}

      {% set incompleteStatus = {
        tag: {
          text: "Incomplete",
          classes: "govuk-tag--blue"
        }
      } %}

 {% if (data['view'] == 'true') %}


      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "About the responsible organisation"
            },
            href: ("organisation/check-answers-view"),
             status: ( viewStatus)
          },
          {
            title: {
              text: "About the device wearer"
            },
            href: ("device-wearer/check-answers-view"),
            status: (viewStatus)
          },
          {
            title: {
              text: "Monitoring conditions"
            },
            href: ("monitoring-conditions/check-answers-view"),
             status: ( viewStatus)
          },
          {
            title: {
              text: "Access needs and installation risk information"
            },
            href: ("installation/check-answers-view"),
            status: ( viewStatus)
          },
          {
            title: {
              text: "Attachments"
            },
            href: ("attachments/check-answers-view"),
            status: ( viewStatus)
          },
          {
            title: {
              text: "Information about the variation"
            },
            href: ("#"),
            classes: ("govuk-visually-hidden" if data['variation'] == 'false'),
            status: ( viewStatus )
          }

        ]
      }) }}

      {% else %}

        {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "About the responsible organisation"
            },
            href: ("organisation/check-answers-view"),
            status: ( completedStatus if data['section-2-complete'] == 'true' else tocheckStatus)
          },
          {
            title: {
              text: "About the device wearer"
            },
            href: ("device-wearer/check-answers-view"),
            status: ( completedStatus if data['section-1-complete'] == 'true' else tocheckStatus)
          },
          {
            title: {
              text: "Monitoring conditions"
            },
            href: ("monitoring-conditions/check-answers-view"),
            status: (completedStatus if data['section-4-complete'] == 'true' else tocheckStatus)
          },
          {
            title: {
              text: "Access needs and installation risk information"
            },
            href: ("installation/check-answers-view"),
           status: ( completedStatus if data['section-3-complete'] == 'true' else tocheckStatus)
          },
          {
            title: {
              text: "Attachments"
            },
            href: ("attachments/check-answers-view"),
           status: ( completedStatus if data['section-5-complete'] == 'true' else tocheckStatus)
          },
          {
            title: {
              text: "About the variation"
            },
            href: ("edit-form-question"),
           status: ( completedStatus if data['section-6-complete'] == 'true' else incompleteStatus)
          }

        ]
      }) }}

      {% endif%}

       {% if (data['view'] == 'true') %}

          <img src="/public/images/form_download.svg" alt="PDF download icon">

           {{ govukButton({
          text: ("View submitted variation to the notification form" if data['variation'] == 'true' else "View submitted notification form"),
          href: '#',
          classes: "govuk-button--secondary"
        }) }}


         
          {% else %}    

          

          {% endif %}  




      <div class="govuk-!-margin-top-5">
       <div class="govuk-button-group">

           {% if (data['view'] == 'true') %}
          <button type="submit" class="govuk-button" data-module="govuk-button">
           Edit or cancel form
          </button>
          {% else %}
              {% if (data['section-1-complete'] == 'true' and data['section-2-complete'] == 'true' and data['section-3-complete'] == 'true' and data['section-4-complete'] == 'true' and data['section-5-complete'] == 'true') %}
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Submit variation of the form
              </button>

              <a class="govuk-link" href="delete-form">Delete variation</a>
              {% else %}
              <button type="submit" class="govuk-button" disabled data-module="govuk-button">
                Submit variation of the form
              </button>

               <a class="govuk-link" href="delete-form">Delete variation</a>

              {% endif %}
          {% endif %}



        
        </div>
      </div>
    </form>

    </div>
  </div>
{% endblock %}
