{% extends "layouts/moj.html" %}

{% block pageTitle %}
 The notification form has been successfully submitted - Electronic Monitoring
{% endblock %}

{% block beforeContent %}

{% endblock %}
    
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            The notification form has been successfully submitted
          </h1>
          <div class="govuk-panel__body">
            Reference number<br><strong>123654</strong>
          </div>
         
        </div>
      
        <img src="/public/images/form_download.svg" alt="PDF download icon">

         {{ govukButton({
          text: "View submitted notification form",
          href: '#',
          classes: "govuk-button--secondary"
        }) }}
 

  <div class="govuk-button-group">
        {{ govukButton({
          text: "Back to your notification forms",
          href: "dashboard"
        }) }}
       
</div>
      </div>
    </div>
  </main>
</div>

{% endblock %}
