{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Responsible adult details - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Monitoring conditions</span>
        Alcohol monitoring dates
      </h1>


      <form class="form" action="alcohol-2" method="post">


         <div class="moj-datepicker" data-module="moj-date-picker">

            <div class="govuk-form-group">
              <label class="govuk-label  govuk-label--s" for="date">
               What is the date the alcohol monitoring starts?
              </label>

              <div id="date-hint" class="govuk-hint">
                For example, 17/5/2024.
              </div>

              <input class="govuk-input moj-js-datepicker-input " id="date" name="alcoholstart-date" type="text" aria-describedby="date-hint" autocomplete="off" value="{{ data['alcoholstart-date'] }}">

            </div>

          </div>

         <div class="moj-datepicker" data-module="moj-date-picker">

            <div class="govuk-form-group">
              <label class="govuk-label  govuk-label--s" for="date">
               What is the date the alcohol monitoring ends? (optional)
              </label>

              <div id="date-hint" class="govuk-hint">
                For example, 17/5/2024.
              </div>

              <input class="govuk-input moj-js-datepicker-input " id="date" name="alcoholend-date" type="text" aria-describedby="date-hint" autocomplete="off" value="{{ data['alcoholend-date'] }}">

            </div>

          </div>


       

       <!--

            <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-label govuk-label--s">
                What is the date the alcohol monitoring starts?
              </legend>
              <div id="passport-issued-hint" class="govuk-hint">
                For example, 27 3 2020
              </div>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="alcoholmonitoring-day" name="alcoholmonitoringstart-day" type="text" inputmode="numeric" value="{{ data['alcoholmonitoringstart-day'] }}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="alcoholmonitoring-month" name="alcoholmonitoringstart-month" type="text" inputmode="numeric" value="{{ data['alcoholmonitoringstart-month'] }}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="alcoholmonitoring-year" name="alcoholmonitoringstart-year" type="text" inputmode="numeric" value="{{ data['alcoholmonitoringstart-year'] }}">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

            <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-label govuk-label--s">
                What is the date alcohol monitoring ends? (optional)
              </legend>
              <div id="passport-issued-hint" class="govuk-hint">
                For example, 27 3 2020
              </div>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="alcoholmonitoringend-day" name="alcoholmonitoringend-day" type="text" inputmode="numeric" value="{{ data['alcoholmonitoringend-day'] }}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="alcoholmonitoringend-month" name="alcoholmonitoringend-month" type="text" inputmode="numeric" value="{{ data['alcoholmonitoringend-month'] }}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="alcoholmonitoringend-year" name="alcoholmonitoringend-year" type="text" inputmode="numeric" value="{{ data['alcoholmonitoringend-year'] }}">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

         
       -->


       

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save and come back later",
          href: '../new-form',
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
