{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Do you want to use the standard curfew times for the curfew timetable? - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     {% if (data['monitoringtypeadded'] == "Yes") %}

       <form class="form" action="/appointment-address2" method="post">

      {% else %}

      <form class="form" action="/appointment-address" method="post">

      {% endif %}




   <span class="govuk-caption-l">Electronic monitoring required</span>

{% if (data['notifying-org'] == "Home Office") %} 

                   {% if (data['addressquestion'] == "No") %}

                  {{ govukRadios({
                    classes: "govuk-radios",
                    name: "appointmentquestion",
                    fieldset: {
                      legend: {
                        text: "Where will installation of the electronic monitoring device take place?",   
                        isPageHeading: true,
                       classes: "govuk-fieldset__legend--l"
                      }
                    },
                    hint: {
                            text: ""
                          },
                    items: [

                      {
                      value: "Device wearer has no fixed address",
                      checked: (true if data['appointmentquestion'] == 'Device wearer has no fixed address'),
                      disabled: (true if data['addressquestion'] == 'No'),
                      text: "Device wearer has no fixed address"
                      },
                   
                      {
                        value: "At a prison",
                        checked: (true if data['appointmentquestion'] == 'At a prison'),
                        text: "At a prison"
                      },
                      {
                        value: "At a probation office",
                        checked: (true if data['appointmentquestion'] == 'At a probation office'),
                        text: "At a probation office"
                      },
                      {
                        value: "At an immigration removal centre",
                        checked: (true if data['appointmentquestion'] == 'At an immigration removal centre'),
                        text: "At an immigration removal centre"
                      },
                      {
                        value: "At another address",
                        checked: (true if data['appointmentquestion'] == 'At another address'),
                        text: "At another address (for example, a relatives address they don't live at)"
                      }
                    ]
                  }) }}

          {% else %}    


                  {{ govukRadios({
                    classes: "govuk-radios",
                    name: "appointmentquestion",
                    fieldset: {
                      legend: {
                        text: "Where will installation of the electronic monitoring device take place?",   
                        isPageHeading: true,
                       classes: "govuk-fieldset__legend--l"
                      }
                    },
                    hint: {
                            text: ""
                          },
                    items: [

                      {
                      value: "123 Glossop Road, Little Hayfield, High Peak, SK22 2NG",
                      checked: (true if data['appointmentquestion'] == '123 Glossop Road, Little Hayfield, High Peak, SK22 2NG'),
                      text: "123 Glossop Road, Little Hayfield, High Peak, SK22 2NG"
                      },
                   
                      {
                        value: "At a prison",
                        checked: (true if data['appointmentquestion'] == 'At a prison'),
                        text: "At a prison"
                      },
                      {
                        value: "At a probation office",
                        checked: (true if data['appointmentquestion'] == 'At a probation office'),
                        text: "At a probation office"
                      },
                      {
                        value: "At an immigration removal centre",
                        checked: (true if data['appointmentquestion'] == 'At an immigration removal centre'),
                        text: "At an immigration removal centre"
                      }
                    ]
                  }) }}

          {% endif %} 


{% else %}    

          {% if (data['addressquestion'] == "No") %}

                  {{ govukRadios({
                    classes: "govuk-radios",
                    name: "appointmentquestion",
                    fieldset: {
                      legend: {
                        text: "Where will installation of the electronic monitoring device take place?",   
                        isPageHeading: true,
                       classes: "govuk-fieldset__legend--l"
                      }
                    },
                    hint: {
                            text: ""
                          },
                    items: [

                      {
                      value: "Device wearer has no fixed address",
                      checked: (true if data['appointmentquestion'] == 'Device wearer has no fixed address'),
                      disabled: (true if data['addressquestion'] == 'No'),
                      text: "Device wearer has no fixed address"
                      },
                   
                      {
                        value: "At a prison",
                        checked: (true if data['appointmentquestion'] == 'At a prison'),
                        text: "At a prison"
                      },
                      {
                        value: "At a probation office",
                        checked: (true if data['appointmentquestion'] == 'At a probation office'),
                        text: "At a probation office"
                      },
                      {
                        value: "At another address",
                        checked: (true if data['appointmentquestion'] == 'At another address'),
                        text: "At another address (for example, a relatives address they don't live at)"
                      }
                    ]
                  }) }}

          {% else %}    


                  {{ govukRadios({
                    classes: "govuk-radios",
                    name: "appointmentquestion",
                    fieldset: {
                      legend: {
                        text: "Where will installation of the electronic monitoring device take place?",   
                        isPageHeading: true,
                       classes: "govuk-fieldset__legend--l"
                      }
                    },
                    hint: {
                            text: ""
                          },
                    items: [

                      {
                      value: "123 Glossop Road, Little Hayfield, High Peak, SK22 2NG",
                      checked: (true if data['appointmentquestion'] == '123 Glossop Road, Little Hayfield, High Peak, SK22 2NG'),
                      text: "123 Glossop Road, Little Hayfield, High Peak, SK22 2NG"
                      },
                   
                      {
                        value: "At a prison",
                        checked: (true if data['appointmentquestion'] == 'At a prison'),
                        text: "At a prison"
                      },
                      {
                        value: "At a probation office",
                        checked: (true if data['appointmentquestion'] == 'At a probation office'),
                        text: "At a probation office"
                      }
                    ]
                  }) }}

          {% endif %} 

{% endif %} 

  <input type="hidden" id="sectionid" name="sectionid" value="Electronic monitoring required">
<input type="hidden" id="postcodetype" name="postcodetype" value="installation">

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save as draft",
          href: ('../submitted-form' if data['view'] == 'false' else '../new-form' ),
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
