{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Check your answers - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Monitoring conditions</span>
        Check your answers
      </h1>

      <p>Check and save the information about the monitoring conditions.</p>

      <form class="form" action="../new-form?section-4-complete=true" method="post">

       


    <h2 class="govuk-heading-m">Monitoring details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          
           
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the type of the order?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['order-type'] or 'Civil' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="order-information?cya4=true">Change<span class="govuk-visually-hidden"> What is the type of the order? </span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the description of the order?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['order-description'] or "Not able to provide this information" }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="order-information?cya4=true">Change<span class="govuk-visually-hidden"> What is the description of the order? </span></a>
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What are the conditions of the order?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['order-conditions'] or 'Requirement of a community order' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="order-information?cya4=true">Change<span class="govuk-visually-hidden"> What are the conditions of the order? </span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the date the monitoring starts?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['monitoring-date-start'] or "12/01/2025" }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="monitoring-dates?cya4=true">Change<span class="govuk-visually-hidden"> What is the date the monitoring starts? </span></a>
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the time the monitoring starts?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['starttime-hours'] or "13" }}:{{ data['starttime-minutes'] or "00" }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="monitoring-dates?cya4=true">Change<span class="govuk-visually-hidden"> What is the time the monitoring starts? </span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the date the monitoring ends? 
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['monitoring-date-end'] or "12/01/2026" }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="monitoring-dates?cya4=true">Change<span class="govuk-visually-hidden"> What is the date the monitoring ends? (optional) </span></a>
            </dd>
          </div>

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the time the monitoring ends? 
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['endtime-hours']  or "13"  }}:{{ data['endtime-minutes']  or "00"  }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="monitoring-dates?cya4=true">Change<span class="govuk-visually-hidden"> What is the time the monitoring ends? (optional) </span></a>
            </dd>
          </div>
         
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the address where the tag or tags will be installed?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if (data['installaddressquestion'] == "No") %}
              {{ data['installaddressLine1'] }}<br>
              {{ data['installaddressTown'] }}<br>
              {{ data['installaddressPostcode'] }}
              {% else %}
              123 Carter Bar<br>
              Glossop<br>
              High Peak<br>
              SK22 2NG
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="install-address-question?cya4=true">Change<span class="govuk-visually-hidden"> Installation address </span></a>
            </dd>
          </div>  
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What monitoring does the device wearer need?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['monitoringtype'] or 'Trail monitoring' }}<br>
              {{ data['monitoringtype2'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="monitoring-needed?cya4=true">Change<span class="govuk-visually-hidden"> What monitoring does the device wearer need? </span></a>
            </dd>
          </div>     
         
 </dl>

  {% if (data['monitoringtype'] == "Curfew with electronic monitoring" or data['monitoringtype2'] == "Curfew with electronic monitoring")  %}

 <h2 class="govuk-heading-m">Curfew with electronic monitoring</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


   

         <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Are there any other addresses where the device wearer will spend curfew hours?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['curfewaddressquestion'] or 'No'}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="curfew?cya4=true">Change<span class="govuk-visually-hidden"> What is the address where the device wearer will spend curfew hours? </span></a>
            </dd>
          </div>

          {% if (data['curfewaddressquestion'] == 'Yes') %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other addresses the device wearer will spend curfew hours
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['curfewaddressname'] }}<br>
              {{ data['curfewaddressLine1'] }}<br>
              {{ data['curfewaddressTown'] }}<br>
              {{ data['curfewaddressPostcode'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="curfew?cya4=true">Change<span class="govuk-visually-hidden"> What is the address where the device wearer will spend curfew hours? </span></a>
            </dd>
          </div>
            {% endif %}

             <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the date the curfew monitoring starts?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['curfewstart-date'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="curfew-2?cya4=true">Change<span class="govuk-visually-hidden"> What is the date the curfew monitoring starts? </span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the date the curfew monitoring ends? 
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['curfewend-date'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="curfew-2?cya4=true">Change<span class="govuk-visually-hidden"> What is the date the curfew monitoring ends? </span></a>
            </dd>
          </div>
        </dl>


    <h2 class="govuk-heading-m">Curfew on the day of release</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the release date?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['release-date'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="curfew-3?cya4=true">Change<span class="govuk-visually-hidden"> What is the release date? </span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the start time for curfew this day?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['release-starttime-hours'] }}:{{ data['release-starttime-minutes'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="curfew-3?cya4=true">Change<span class="govuk-visually-hidden"> WWhat is the start time for curfew this day? </span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the end time for curfew?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['release-endtime-hours'] }}:{{ data['release-endtime-hours'] }} {{ data['curfew-same-next-day'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="curfew-3?cya4=true">Change<span class="govuk-visually-hidden"> WWhat is the end time for curfew? </span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Where will the device wearer be staying during curfew hours on their release day?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if (data['release-address'] == "Contact") %}

              123 Carter Bar<br>
              Glossop<br>
              High Peak<br>
              SK22 2NG</p>

              {% elseif (data['release-address'] == "Installation") %}


              {{ data['installaddressLine1'] }}<br>
              {{ data['installaddressTown'] }}<br>
              {{ data['installaddressPostcode'] }}
         
              {% else %}
              {{ data['curfewaddressname'] }}:<br>
              {{ data['curfewaddressLine1'] }}<br>
              {{ data['curfewaddressTown'] }}<br>
              {{ data['curfewaddressPostcode'] }}
              {% endif %}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="curfew-3?cya4=true">Change<span class="govuk-visually-hidden"> Where will the device wearer be staying during curfew hours on their release day? </span></a>
            </dd>
          </div>
        </dl>
        
    <h2 class="govuk-heading-m">Curfew timetable</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
  
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             {{ data['contactaddressLine1']  or "123 Carter Bar" }}
            </dt>
            <dd class="govuk-summary-list__value">
           

                 {% if (data['curfewstandard'] == "false") %}
                     {{ data['curfewchange-starttime-hours']}}:{{ data['curfewchange-starttime-minutes']}} Monday until {{ data['curfewchange-endtime-hours']}}:{{ data['curfewchange-endtime-minutes']}} Tuesday
                {% else %} 
                    19:00 Monday until 07:00 Tuesday
                 {% endif %} 
                 <br>
                  {% if (data['curfewstandard'] == "false") %}
                     {{ data['curfewchange-starttime-hours']}}:{{ data['curfewchange-starttime-minutes']}} Tuesday until {{ data['curfewchange-endtime-hours']}}:{{ data['curfewchange-endtime-minutes']}} Wednesday
                {% else %} 
                    19:00 Tuesday until 07:00 Wednesday
                 {% endif %} 
                 <br>
                  {% if (data['curfewstandard'] == "false") %}
                     {{ data['curfewchange-starttime-hours']}}:{{ data['curfewchange-starttime-minutes']}} Wednesday until {{ data['curfewchange-endtime-hours']}}:{{ data['curfewchange-endtime-minutes']}} Thursday
                {% else %} 
                    19:00 Wednesday until 07:00 Thursday
                 {% endif %} 
                 <br>
                  {% if (data['curfewstandard'] == "false") %}
                     {{ data['curfewchange-starttime-hours']}}:{{ data['curfewchange-starttime-minutes']}} Thursday until {{ data['curfewchange-endtime-hours']}}:{{ data['curfewchange-endtime-minutes']}} Friday
                {% else %} 
                    19:00 Thursday until 07:00 Friday
                 {% endif %} 
                 <br>
                  {% if (data['curfewstandard'] == "false") %}
                     {{ data['curfewchange-starttime-hours']}}:{{ data['curfewchange-starttime-minutes']}} Friday until {{ data['curfewchange-endtime-hours']}}:{{ data['curfewchange-endtime-minutes']}} Saturday
                {% else %} 
                    19:00 Friday until 07:00 Saturday
                 {% endif %} 
                 <br>
                  {% if (data['curfewstandard'] == "false") %}
                     {{ data['curfewchange-starttime-hours']}}:{{ data['curfewchange-starttime-minutes']}} Saturday until {{ data['curfewchange-endtime-hours']}}:{{ data['curfewchange-endtime-minutes']}} Sunday
                {% else %} 
                    19:00 Saturday until 07:00 Sunday
                 {% endif %} 
                 <br>
                  {% if (data['curfewstandard'] == "false") %}
                     {{ data['curfewchange-starttime-hours']}}:{{ data['curfewchange-starttime-minutes']}} Sunday until {{ data['curfewchange-endtime-hours']}}:{{ data['curfewchange-endtime-minutes']}} Monday
                {% else %} 
                    19:00 Sunday until 07:00 Monday
                 {% endif %} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="curfew-4?cya4=true">Change<span class="govuk-visually-hidden"> Curfew timetable </span></a>
            </dd>
          </div>
           

        </dl>
      
{% endif %}

 {% if (data['monitoringtype'] == "Exclusion and inclusion zone monitoring" or data['monitoringtype2'] == "Exclusion and inclusion zone monitoring") %}

 <h2 class="govuk-heading-m">Exclusion and inclusion zone monitoring</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


    <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the date the exclusion and inclusion monitoring starts?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['exclusionstart-date'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="exclusion?cya4=true">Change<span class="govuk-visually-hidden"> What is the date the exclusion and inclusion monitoring starts? </span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the date the exclusion and inclusion monitoring ends? 
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['exclusionend-date'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="exclusion?cya4=true">Change<span class="govuk-visually-hidden"> What is the date the exclusion and inclusion monitoring ends? </span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is the monitoring for an exclusion or inclusion zone?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['exclusion-type'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="exclusion-2?cya4=true">Change<span class="govuk-visually-hidden"> Is the monitoring for an exclusion or inclusion zone?</span></a>
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What name would you give to the exclusion or inclusion zone?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['exclusion-name'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="exclusion-2?cya4=true">Change<span class="govuk-visually-hidden"> What name would you give to the exclusion or inclusion zone?</span></a>
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Where is the exclusion or inclusion zone?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['exclusion-description'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="exclusion-2?cya4=true">Change<span class="govuk-visually-hidden"> Where is the exclusion or inclusion zone?</span></a>
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              When must the exclusion or inclusion zone be followed?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['exclusion-dates'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="exclusion-2?cya4=true">Change<span class="govuk-visually-hidden"> When must the exclusion or inclusion zone be followed?</span></a>
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you have a map to upload to show us where the exclusion or inclusion zone is?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['exclusionquestion'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="exclusion-3?cya4=true">Change<span class="govuk-visually-hidden"> Do you have a map to upload to show us where the exclusion or inclusion zone is?</span></a>
            </dd>
          </div>

         {% if (data['exclusionquestion'] == "Yes") %}

         <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Map of the exclusion or inclusion zone
            </dt>
            <dd class="govuk-summary-list__value">
             <a href="#">{{ data['map'] }}</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="exclusion-4?cya4=true">Change<span class="govuk-visually-hidden">Map of the exclusion or inclusion zone</span></a>
            </dd>
          </div>

         {% endif %}  
       </dl>



   {% endif %}   
   
    {% if (data['monitoringtype'] == "Trail monitoring" or data['monitoringtype'] == "Trail monitoring (Home Office)" or data['monitoringtype2'] == "Trail monitoring" or data['monitoringtype2'] == "Trail monitoring (Home Office)" or data['monitoringtype'] == NULL or data['monitoringtype'] == '') %}

 <h2 class="govuk-heading-m">

  {% if (data['monitoringtype'] == "Trail monitoring (Home Office)") %}
   Trail monitoring (Home Office)
  {% else %}
    Trail monitoring
  {% endif %}

</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the date the trail monitoring starts?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['trailstart-date'] or '12/01/2025' }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="trail?cya4=true">Change<span class="govuk-visually-hidden"> What is the date the trail monitoring starts? </span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the date the trail monitoring ends? (optional)
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['trailend-date'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="trail?cya4=true">Change<span class="govuk-visually-hidden"> What is the date the trail monitoring ends? </span></a>
            </dd>
          </div>

          {% if (data['monitoringtype'] == "Trail monitoring (Home Office)") %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What type of trail monitoring device is needed?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['type-trail'] or 'A fitted GPS tag'}} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="trail?cya4=true">Change<span class="govuk-visually-hidden"> What is the date the trail monitoring ends? </span></a>
            </dd>
          </div>

          {% endif %}  

         
       </dl>

   {% endif %}   

    {% if (data['monitoringtype'] == "Mandatory attendance monitoring" or data['monitoringtype2'] == "Mandatory attendance monitoring") %}

 <h2 class="govuk-heading-m">Mandatory attendance monitoring</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

         <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the date the mandatory attendance monitoring starts?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['attendancestart-date'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="attendance?cya4=true">Change<span class="govuk-visually-hidden"> What is the date the mandatory attendance monitoring starts? </span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the date the mandatory attendance monitoring ends? 
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['attendanceend-date'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="attendance?cya4=true">Change<span class="govuk-visually-hidden"> What is the date the mandatory attendance monitoring ends? </span></a>
            </dd>
          </div>
  

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             What is the appointment for?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['appointment-reason'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="attendance-2?cya4=true">Change<span class="govuk-visually-hidden"> What is the appointment for?</span></a>
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            What time does the appointment start?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['appointment-start-hours'] }}:{{ data['appointment-start-minutes'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="attendance-2?cya4=true">Change<span class="govuk-visually-hidden"> What time does the appointment start?</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
           What time does the appointment end?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['appointment-end-hours'] }}:{{ data['appointment-end-minutes'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="attendance-2?cya4=true">Change<span class="govuk-visually-hidden"> What time does the appointment end?</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the address where the appointment will take place?
            </dt>
            <dd class="govuk-summary-list__value">
           
              {{ data['appointmentaddressLine1'] }}<br>
              {{ data['appointmentaddressTown'] }}<br>
              {{ data['appointmentaddressPostcode'] }}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="attendance-3?cya4=true">Change<span class="govuk-visually-hidden"> What is the address where the appointment will take place? </span></a>
            </dd>
          </div>


       </dl>    

   {% endif %}    

    {% if (data['monitoringtype'] == "Alcohol monitoring" or data['monitoringtype2'] == "Alcohol monitoring") %}

 <h2 class="govuk-heading-m">Alcohol monitoring</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


   

         
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the date the alcohol monitoring starts?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['alcoholstart-date'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="alcohol?cya4=true">Change<span class="govuk-visually-hidden"> What is the date the alcohol monitoring starts? </span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the date the alcohol monitoring ends? 
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['alcoholend-date'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="alcohol?cya4=true">Change<span class="govuk-visually-hidden"> What is the date the alcohol monitoring ends? </span></a>
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Which type of alcohol monitoring is needed?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['type-alcohol'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="alcohol-2?cya4=true">Change<span class="govuk-visually-hidden"> What type of alcohol monitoring is needed? </span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Where will alcohol base station monitoring equipment be installed?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if (data['alcoholaddress'] == "Contact") %}

              123 Carter Bar<br>
              Glossop<br>
              High Peak<br>
              SK22 2NG</p>

              {% elseif (data['alcoholaddress'] == "Installation") %}


              {{ data['installaddressLine1'] }}<br>
              {{ data['installaddressTown'] }}<br>
              {{ data['installaddressPostcode'] }}
         
              {% else %}
              {{ data['alcoholaddressLine1'] }}<br>
              {{ data['alcoholaddressTown'] }}<br>
              {{ data['alcoholaddressPostcode'] }}
              {% endif %}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="alcohol-2?cya4=true">Change<span class="govuk-visually-hidden">  Where will alcohol base station monitoring equipment be installed? </span></a>
            </dd>
          </div>



       </dl>

   {% endif %}   


 


    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and go to next section",
          href: ("../installation/check-answers?section-4-complete=true" if data['section-4-complete'] == 'true' else "../installation/disability?section-4-complete=true")
        }) }}

        {{ govukButton({
          text: "Save and return to main form menu",
          classes: "govuk-button--secondary"
        }) }}

        



      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
