{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Check your answers - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% set html %}
        <p class="govuk-notification-banner__heading">
         You are viewing a submitted form. This form was submitted on the 14 December 2024.
        </p>
      {% endset %}

      {% set htmlcancelled %}
        <p class="govuk-notification-banner__heading">
         You are viewing a cancelled form. This form was cancelled on the 22 December 2024.
        </p>
      {% endset %}

       {% set htmlfail %}
        <p class="govuk-notification-banner__heading">
         This form failed to submit on 14 December 2024. This was due to a technical problem. For more information <a href="https://ministryofjustice.github.io/hmpps-electronic-monitoring-create-an-order-docs/problems-submitting-forms.html#problems-submitting-forms">View the guidance (opens in a new tab)</a>.
        </p>
      {% endset %}


          {% if (data['view-variation'] == 'cancelled') %}

           {{ govukNotificationBanner({
              html: htmlcancelled
            }) }}

              {% elseif (data['view-variation'] == 'fail') %}

           {{ govukNotificationBanner({
              html: htmlfail
            }) }}

          {% elseif (data['view'] == 'true') %}

          {{ govukNotificationBanner({
              html: html
            }) }}

          {% else %}

          
                    
          {% endif %}

          
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Electronic monitoring required</span>
        Check your answers
      </h1>

      {% if (data['view'] == 'true') %}


      {% else %}

      <p>Check and save the information about the monitoring conditions.</p>

      {% endif %}

      <form class="form" action="../submitted-form?section-4-complete=true" method="post">

       


    <h2 class="govuk-heading-m">Monitoring details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the order type?
            </dt>
            <dd class="govuk-summary-list__value">
             Civil
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is the device wearer part of any pilots?
            </dt>
            <dd class="govuk-summary-list__value">
             They are not part of any of these pilots
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>
                  <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What are the order type conditions?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['order-conditions'] or 'Requirement of a community order' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>
         
      <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What type of sentence has the device wearer been given?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['order-sentence'] or 'Standard Determinate Sentence' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>

         
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Is the device wearer on the Intensive Supervision and Surveillance Programme (ISSP)?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['issp'] or 'No' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Is the device wearer being released on a Home Detention Curfew (HDC)?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['hdc'] or 'No' }}
            </dd>
            <dd class="govuk-summary-list__actions">
               {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Is the device wearer being released under a Presumptive Risk Assessed Release Review P-RARR?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['prarr'] or 'No' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>


            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the date for the first day of all monitoring?
            </dt>
            <dd class="govuk-summary-list__value">
              23 December 2024
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the start time on the first day of monitoring?
            </dt>
            <dd class="govuk-summary-list__value">
              11:00
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             What is the date when all monitoring ends?
            </dt>
            <dd class="govuk-summary-list__value">
              23 December 2025
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            What is the end time on the last day of monitoring?
            </dt>
            <dd class="govuk-summary-list__value">
             11:00
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>
           
         
          
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What monitoring does the device wearer need?
            </dt>
            <dd class="govuk-summary-list__value">
              Curfew with electronic monitoring<br>
              {{ data['monitoringtype2'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="monitoring-needed?monitoringtype=Curfew with electronic monitoring">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>     
         
 </dl>

 <h2 class="govuk-heading-m">Curfew</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Are there any other addresses where the device wearer will spend curfew hours?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['curfewaddressquestion'] or 'No'}}
            </dd>
            <dd class="govuk-summary-list__actions">
               {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>

          {% if (data['curfewaddressquestion'] == 'Yes') %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other addresses the device wearer will spend curfew hours
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['curfewaddressname'] }}<br>
              {{ data['curfewaddressLine1'] }}<br>
              {{ data['curfewaddressTown'] }}<br>
              {{ data['curfewaddressPostcode'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
               {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>
            {% endif %}

             <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Do you want to change the standard curfew address boundary of “front door to back door” for any of the curfew addresses?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['curfew-boundary-question'] or "No" }}
               
            </dd>
            <dd class="govuk-summary-list__actions">
                {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}            </dd>
          </div>  

          {% if (data['curfew-boundary-question'] == 'No') %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Enter details of what the curfew address boundary should include
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['curfew-boundary'] or "Patio up to the lawn" }}
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>
            {% endif %}

             <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What date does curfew start?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['curfewstart-date'] or '18/12/2024' }} 
            </dd>
            <dd class="govuk-summary-list__actions">
               {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What date does curfew end? 
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['curfewend-date'] or '18/12/2025' }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>

        </dl>

            <h2 class="govuk-heading-m">Curfew on release day</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             What date is the device wearer released from custody?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['release-date'] or '18/12/2024' }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             On the day of release, what time does the curfew start?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['release-starttime-hours'] or '19' }}:{{ data['release-starttime-minutes'] or '00' }}
            </dd>
            <dd class="govuk-summary-list__actions">
               {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              On the day of release, what time does the curfew end?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['release-endtime-hours'] or "07" }}:{{ data['release-endtime-hours'] or '00' }} {{ data['curfew-same-next-day'] or 'The next day' }}
            </dd>
            <dd class="govuk-summary-list__actions">
               {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             On the day of release, where will the device wearer be during curfew hours?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if (data['release-address'] == "Contact") %}

              123 Carter Bar<br>
              Glossop<br>
              High Peak<br>
              SK22 2NG</p>

              {% elseif (data['release-address'] == "Installation") %}


              {{ data['installaddressLine1'] }}<br>
              {{ data['installaddressTown'] }}<br>
              {{ data['installaddressPostcode'] }}
         
              {% else %}
              {{ data['curfewaddressname'] or '123 Carter Bar' }}<br>
              {{ data['curfewaddressLine1'] or 'Glossop' }}<br>
              {{ data['curfewaddressTown'] or 'High Peak'}}<br>
              {{ data['curfewaddressPostcode'] or 'SK22 2NG' }}
              {% endif %}

            </dd>
            <dd class="govuk-summary-list__actions">
               {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>
        </dl>
        
    <h2 class="govuk-heading-m">Curfew timetable</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
  
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{ data['contactaddressLine1']  or "123 Carter Bar" }}
            </dt>
            <dd class="govuk-summary-list__value">
             
                 {% if (data['curfewstandard'] == "false") %}
                     {{ data['curfewchange-starttime-hours']}}:{{ data['curfewchange-starttime-minutes']}} Monday until {{ data['curfewchange-endtime-hours']}}:{{ data['curfewchange-endtime-minutes']}} Tuesday
                {% else %} 
                    19:00 Monday until 07:00 Tuesday
                 {% endif %} 
                 <br>
                  {% if (data['curfewstandard'] == "false") %}
                     {{ data['curfewchange-starttime-hours']}}:{{ data['curfewchange-starttime-minutes']}} Tuesday until {{ data['curfewchange-endtime-hours']}}:{{ data['curfewchange-endtime-minutes']}} Wednesday
                {% else %} 
                    19:00 Tuesday until 07:00 Wednesday
                 {% endif %} 
                 <br>
                  {% if (data['curfewstandard'] == "false") %}
                     {{ data['curfewchange-starttime-hours']}}:{{ data['curfewchange-starttime-minutes']}} Wednesday until {{ data['curfewchange-endtime-hours']}}:{{ data['curfewchange-endtime-minutes']}} Thursday
                {% else %} 
                    19:00 Wednesday until 07:00 Thursday
                 {% endif %} 
                 <br>
                  {% if (data['curfewstandard'] == "false") %}
                     {{ data['curfewchange-starttime-hours']}}:{{ data['curfewchange-starttime-minutes']}} Thursday until {{ data['curfewchange-endtime-hours']}}:{{ data['curfewchange-endtime-minutes']}} Friday
                {% else %} 
                    19:00 Thursday until 07:00 Friday
                 {% endif %} 
                 <br>
                  {% if (data['curfewstandard'] == "false") %}
                     {{ data['curfewchange-starttime-hours']}}:{{ data['curfewchange-starttime-minutes']}} Friday until {{ data['curfewchange-endtime-hours']}}:{{ data['curfewchange-endtime-minutes']}} Saturday
                {% else %} 
                    19:00 Friday until 07:00 Saturday
                 {% endif %} 
                 <br>
                  {% if (data['curfewstandard'] == "false") %}
                     {{ data['curfewchange-starttime-hours']}}:{{ data['curfewchange-starttime-minutes']}} Saturday until {{ data['curfewchange-endtime-hours']}}:{{ data['curfewchange-endtime-minutes']}} Sunday
                {% else %} 
                    19:00 Saturday until 07:00 Sunday
                 {% endif %} 
                 <br>
                  {% if (data['curfewstandard'] == "false") %}
                     {{ data['curfewchange-starttime-hours']}}:{{ data['curfewchange-starttime-minutes']}} Sunday until {{ data['curfewchange-endtime-hours']}}:{{ data['curfewchange-endtime-minutes']}} Monday
                {% else %} 
                    19:00 Sunday until 07:00 Monday
                 {% endif %} 
            </dd>
            <dd class="govuk-summary-list__actions">
               {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="curfew-4?monitoringtype=Curfew with electronic monitoring&curfewtimetableday=false&curfewstandard=true&curfewchange-starttime-hours=19&curfewchange-starttime-minutes=00&curfewchange-endtime-hours=07&curfewchange-endtime-minutes=00&installaddressquestion=Yes">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="curfew-4?monitoringtype=Curfew with electronic monitoring&curfewtimetableday=false&curfewstandard=true&curfewchange-starttime-hours=19&curfewchange-starttime-minutes=00&curfewchange-endtime-hours=07&curfewchange-endtime-minutes=00&installaddressquestion=Yes">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>
           

        </dl>


        {% if (data['monitoringtype2'] == "Exclusion and inclusion zone monitoring") %}

 <h2 class="govuk-heading-m">Exclusion and inclusion zone monitoring</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the address where the tag or tags will be installed?
            </dt>
            <dd class="govuk-summary-list__value">
             
               {% if (data['installaddressquestion'] == "No") %}
              {{ data['installaddressLine1'] }}<br>
              {{ data['installaddressTown'] }}<br>
              {{ data['installaddressPostcode'] }}
              {% else %}
             {{ data['contactaddressLine1'] or "123 Carter Bar" }}<br>
              {{ data['contactaddressTown'] or "Glossop" }}<br>
              {{ data['contactaddressCounty'] or "High Peak" }}<br>
              {{ data['contactaddressPostcode'] or "SK22 2NG "}}<br>
              {% endif %}
             
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>  


    <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What date does exclusion and inclusion monitoring start?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['exclusionstart-date'] or '12/12/2024' }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> What is the date the exclusion and inclusion monitoring starts? </span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What date does exclusion and inclusion monitoring end? 
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['exclusionend-date'] or '12/12/2025 '}} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> What is the date the exclusion and inclusion monitoring ends? </span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is the monitoring for an exclusion or inclusion zone?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['exclusion-type'] or 'Exclusion zone' }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Is the monitoring for an exclusion or inclusion zone?</span></a>
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What name would you give to the exclusion or inclusion zone?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['exclusion-name'] or "Partner's house" }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> What name would you give to the exclusion or inclusion zone?</span></a>
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Where is the exclusion or inclusion zone?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['exclusion-description'] or "2 miles from the partner's property" }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Where is the exclusion or inclusion zone?</span></a>
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              When must the exclusion or inclusion zone be followed?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['exclusion-dates'] or 'At all times' }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> When must the exclusion or inclusion zone be followed?</span></a>
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do you have a map to upload to show us where the exclusion or inclusion zone is?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['exclusionquestion'] or 'No' }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Do you have a map to upload to show us where the exclusion or inclusion zone is?</span></a>
            </dd>
          </div>

         {% if (data['exclusionquestion'] == "Yes") %}

         <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Map of the exclusion or inclusion zone
            </dt>
            <dd class="govuk-summary-list__value">
             <a href="#">{{ data['map'] }}</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Map of the exclusion or inclusion zone</span></a>
            </dd>
          </div>

         {% endif %}  
       </dl>



   {% endif %}   
   
    {% if (data['monitoringtype2'] == "Trail monitoring" or data['monitoringtype2'] == "Trail monitoring (Home Office)") %}

 <h2 class="govuk-heading-m">

  {% if (data['monitoringtype'] == "Trail monitoring (Home Office)") %}
   Trail monitoring (Home Office)
  {% else %}
    Trail monitoring
  {% endif %}

</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the address where the tag or tags will be installed?
            </dt>
            <dd class="govuk-summary-list__value">
             
               {% if (data['installaddressquestion'] == "No") %}
              {{ data['installaddressLine1'] }}<br>
              {{ data['installaddressTown'] }}<br>
              {{ data['installaddressPostcode'] }}
              {% else %}
             {{ data['contactaddressLine1'] or "123 Carter Bar" }}<br>
              {{ data['contactaddressTown'] or "Glossop" }}<br>
              {{ data['contactaddressCounty'] or "High Peak" }}<br>
              {{ data['contactaddressPostcode'] or "SK22 2NG "}}<br>
              {% endif %}
             
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>  


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What date does trail monitoring start?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['trailstart-date'] or '12/01/2025' }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> What is the date the trail monitoring starts? </span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What date does trail monitoring end? 
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['trailend-date'] or '12/07/2025' }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> What is the date the trail monitoring ends? </span></a>
            </dd>
          </div>

          {% if (data['monitoringtype'] == "Trail monitoring (Home Office)") %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What type of trail monitoring device is needed?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['type-trail'] or 'A fitted GPS tag' }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> What is the date the trail monitoring ends? </span></a>
            </dd>
          </div>

          {% endif %}  

         
       </dl>

   {% endif %}   

    {% if (data['monitoringtype2'] == "Mandatory attendance monitoring") %}

 <h2 class="govuk-heading-m">Mandatory attendance monitoring</h2>

   <dl class="govuk-summary-list govuk-!-margin-bottom-9">

         <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the address where the tag or tags will be installed?
            </dt>
            <dd class="govuk-summary-list__value">
             
               {% if (data['installaddressquestion'] == "No") %}
              {{ data['installaddressLine1'] }}<br>
              {{ data['installaddressTown'] }}<br>
              {{ data['installaddressPostcode'] }}
              {% else %}
             {{ data['contactaddressLine1'] or "123 Carter Bar" }}<br>
              {{ data['contactaddressTown'] or "Glossop" }}<br>
              {{ data['contactaddressCounty'] or "High Peak" }}<br>
              {{ data['contactaddressPostcode'] or "SK22 2NG "}}<br>
              {% endif %}
             
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>  

      

         <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What date does mandatory attendance monitoring start?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['attendancestart-date'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> What is the date the mandatory attendance monitoring starts? </span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What date does mandatory attendance monitoring end? 
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['attendanceend-date'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> What is the date the mandatory attendance monitoring ends? </span></a>
            </dd>
          </div>
  

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             What is the appointment for?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['appointment-reason'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> What is the appointment for?</span></a>
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            What time does the appointment start?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['appointment-start-hours'] }}:{{ data['appointment-start-minutes'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> What time does the appointment start?</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
           What time does the appointment end?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['appointment-end-hours'] }}:{{ data['appointment-end-minutes'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> What time does the appointment end?</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              At what address will the appointment take place?
            </dt>
            <dd class="govuk-summary-list__value">
           
              {{ data['appointmentaddressLine1'] }}<br>
              {{ data['appointmentaddressTown'] }}<br>
              {{ data['appointmentaddressPostcode'] }}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> What is the address where the appointment will take place? </span></a>
            </dd>
          </div>


       </dl>    

   {% endif %}    

    {% if (data['monitoringtype2'] == "Alcohol monitoring") %}

 <h2 class="govuk-heading-m">Alcohol monitoring</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the address where the tag or tags will be installed?
            </dt>
            <dd class="govuk-summary-list__value">
             
               {% if (data['installaddressquestion'] == "No") %}
              {{ data['installaddressLine1'] }}<br>
              {{ data['installaddressTown'] }}<br>
              {{ data['installaddressPostcode'] }}
              {% else %}
             {{ data['contactaddressLine1'] or "123 Carter Bar" }}<br>
              {{ data['contactaddressTown'] or "Glossop" }}<br>
              {{ data['contactaddressCounty'] or "High Peak" }}<br>
              {{ data['contactaddressPostcode'] or "SK22 2NG "}}<br>
              {% endif %}
             
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>  


   

         
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What date does alcohol monitoring start?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['alcoholstart-date'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> What is the date the alcohol monitoring starts? </span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What date does alcohol monitoring end? 
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['alcoholend-date'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> What is the date the alcohol monitoring ends? </span></a>
            </dd>
          </div>
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What alcohol monitoring does the device wearer need?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['type-alcohol'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> What type of alcohol monitoring is needed? </span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               What is the address of the base station? 
            </dt>
            <dd class="govuk-summary-list__value">
              {% if (data['alcoholaddress'] == "Contact") %}

              {{ data['contactaddressLine1'] or "123 Carter Bar" }}<br>
              {{ data['contactaddressTown'] or "Glossop" }}<br>
              {{ data['contactaddressCounty'] or "High Peak" }}<br>
              {{ data['contactaddressPostcode'] or "SK22 2NG "}}<br>

              {% elseif (data['alcoholaddress'] == "Installation") %}


              {{ data['installaddressLine1'] }}<br>
              {{ data['installaddressTown'] }}<br>
              {{ data['installaddressPostcode'] }}
         
              {% else %}
              {{ data['alcoholaddressLine1'] }}<br>
              {{ data['alcoholaddressTown'] }}<br>
              {{ data['alcoholaddressPostcode'] }}
              {% endif %}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">  Where will alcohol base station monitoring equipment be installed? </span></a>
            </dd>
          </div>



       </dl>

   {% endif %}  





 




      <div class="govuk-button-group">
          {% if (data['view'] == 'true') %}

          {{ govukButton({
          text: "Go to next section",
          href: "../installation/check-answers-view"
        }) }}

           {{ govukButton({
          text: "Return to main form menu",
          href: "../submitted-form",
          classes: "govuk-button--secondary"
        }) }}
               

         {% else %}
         {{ govukButton({
          text: "Save and go to next section",
          href: "../installation/check-answers-view?section-4-complete=true"
        }) }}

          {{ govukButton({
          text: "Save as draft",
          href: "../submitted-form?section-4-complete=true",
          classes: "govuk-button--secondary"
        }) }}
                
          {% endif %}



      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
