{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Check your answers - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Monitoring conditions</span>
        Check your answers
      </h1>

      <p>Check and save the information about the monitoring conditions.</p>

      <form class="form" action="../new-form?section-4-complete=true" method="post">

       


    <h2 class="govuk-heading-m">Monitoring details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the date the monitoring starts?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['monitoringstart-day'] }} {{ data['monitoringstart-month']  | monthName }} {{ data['monitoringstart-year'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="monitoring-dates">Change<span class="govuk-visually-hidden"> What is the date the monitoring starts? </span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the date the monitoring ends? (optional)
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['monitoringend-day'] }} {{ data['monitoringend-month']  | monthName  }} {{ data['monitoringend-year'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="monitoring-dates">Change<span class="govuk-visually-hidden"> What is the date the monitoring ends? </span></a>
            </dd>
          </div>
         
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the address where the tag or tags will be installed?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if (data['installaddressquestion'] == "No") %}
              {{ data['installaddressLine1'] }}<br>
              {{ data['installaddressTown'] }}<br>
              {{ data['installaddressPostcode'] }}
              {% else %}
              123 Carter Bar<br>
              Glossop<br>
              High Peak<br>
              SK22 2NG
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="install-address-question">Change<span class="govuk-visually-hidden"> Installation address </span></a>
            </dd>
          </div>  
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What monitoring does the device wearer need?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['monitoringtype'] }}<br>
              {{ data['monitoringtype2'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="monitoring-needed">Change<span class="govuk-visually-hidden"> What monitoring does the device wearer need? </span></a>
            </dd>
          </div>     
         
 </dl>

  {% if (data['monitoringtype'] == "Curfew with electronic monitoring" or data['monitoringtype2'] == "Curfew with electronic monitoring")  %}

 <h2 class="govuk-heading-m">Curfew with electronic monitoring</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


   

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other addresses the device wearer will spend curfew hours
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['curfewaddressname'] }}<br>
              {{ data['curfewaddressLine1'] }}<br>
              {{ data['curfewaddressTown'] }}<br>
              {{ data['curfewaddressPostcode'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="curfew">Change<span class="govuk-visually-hidden"> What is the address where the device wearer will spend curfew hours? </span></a>
            </dd>
          </div>




          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the release date?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['release-day'] }} {{ data['release-month'] | monthName }} {{ data['release-year'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="curfew-2">Change<span class="govuk-visually-hidden"> What is the release date? </span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What are the curfew times on the day of release?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['curfewTimesStartMinutes'] }}:{{ data['curfewTimesStartHours'] }} to {{ data['curfewTimesEndMinutes'] }}:{{ data['curfewTimesEndHours'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="curfew-2">Change<span class="govuk-visually-hidden"> What are the curfew times on the day of release? </span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What address will the device wearer be at during curfew hours on their day of release?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if (data['release-address'] == "Contact") %}

              123 Carter Bar<br>
              Glossop<br>
              High Peak<br>
              SK22 2NG</p>

              {% elseif (data['release-address'] == "Installation") %}


              {{ data['installaddressLine1'] }}<br>
              {{ data['installaddressTown'] }}<br>
              {{ data['installaddressPostcode'] }}
         
              {% else %}
              {{ data['curfewaddressname'] }}:<br>
              {{ data['curfewaddressLine1'] }}<br>
              {{ data['curfewaddressTown'] }}<br>
              {{ data['curfewaddressPostcode'] }}
              {% endif %}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="curfew-2">Change<span class="govuk-visually-hidden"> What address will the device wearer be at during curfew hours on their day of release? </span></a>
            </dd>
          </div>

        </dl>
      
{% endif %}

 {% if (data['monitoringtype'] == "Exclusion and inclusion zone monitoring" or data['monitoringtype2'] == "Exclusion and inclusion zone monitoring") %}

 <h2 class="govuk-heading-m">Exclusion and inclusion zone monitoring</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


   

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Question
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['answer'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> What is the address where the device wearer will spend curfew hours? </span></a>
            </dd>
          </div>
       </dl>

   {% endif %}   
   
    {% if (data['monitoringtype'] == "Trail monitoring" or data['monitoringtype'] == "Trail monitoring") %}

 <h2 class="govuk-heading-m">Trail monitoring</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


   

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Question
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['answer'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> What is the address where the device wearer will spend curfew hours? </span></a>
            </dd>
          </div>
       </dl>

   {% endif %}   

    {% if (data['monitoringtype'] == "Mandatory attendance monitoring" or data['monitoringtype2'] == "Mandatory attendance monitoring") %}

 <h2 class="govuk-heading-m">Mandatory attendance monitoring</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Question
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['answer'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> What is the address where the device wearer will spend curfew hours? </span></a>
            </dd>
          </div>
       </dl>

   {% endif %}    

    {% if (data['monitoringtype'] == "Alcohol monitoring" or data['monitoringtype2'] == "Alcohol monitoring") %}

 <h2 class="govuk-heading-m">Alcohol monitoring</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


   

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What type of alcohol monitoring is needed?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['type-alcohol'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="alcohol">Change<span class="govuk-visually-hidden"> What type of alcohol monitoring is needed? </span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the date the alcohol monitoring starts?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['alcoholmonitoringstart-day'] }} {{ data['alcoholmonitoringstart-month']  | monthName }} {{ data['alcoholmonitoringstart-year'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="alcohol">Change<span class="govuk-visually-hidden"> What is the date the alcohol monitoring starts? </span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the date the alcohol monitoring ends? (optional)
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['alcoholmonitoringend-day'] }} {{ data['alcoholmonitoringend-month']  | monthName  }} {{ data['alcoholmonitoringend-year'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="alcohol">Change<span class="govuk-visually-hidden"> What is the date the alcohol monitoring ends? </span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Where will alcohol base station monitoring equipment be installed?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if (data['alcoholaddress'] == "Contact") %}

              123 Carter Bar<br>
              Glossop<br>
              High Peak<br>
              SK22 2NG</p>

              {% elseif (data['alcoholaddress'] == "Installation") %}


              {{ data['installaddressLine1'] }}<br>
              {{ data['installaddressTown'] }}<br>
              {{ data['installaddressPostcode'] }}
         
              {% else %}
              {{ data['alcoholaddressLine1'] }}<br>
              {{ data['alcoholaddressTown'] }}<br>
              {{ data['alcoholaddressPostcode'] }}
              {% endif %}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="alcohol">Change<span class="govuk-visually-hidden">  Where will alcohol base station monitoring equipment be installed? </span></a>
            </dd>
          </div>



       </dl>

   {% endif %}   

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and go to next section",
          href: "../installation/disability?section-4-complete=true"
        }) }}

        {{ govukButton({
          text: "Save and return to main form menu",
          classes: "govuk-button--secondary"
        }) }}

        



      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
