{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Responsible adult details - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Monitoring conditions</span>
        Curfew timetable for {{ data['curfewtimetableday'] }}
      </h1>

      <form class="form" action="curfew-4" method="post">  

       <div data-module="moj-add-another">

    <fieldset class="govuk-fieldset moj-add-another__item">

      <legend class="govuk-fieldset__legend moj-add-another__title govuk-fieldset__legend--m">

        Curfew times

      </legend>

          <div id="curfewTimes-form" class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">What are the start and end times of the curfew this day?</legend>

      <div class="govuk-date-input ">
        <div class="govuk-hint">For example 19:00 to 07:00 for a curfew spanning 19:00 on the day until 07:00 the next day</div>
        

        <div class="govuk-date-input__item">
          <div class="govuk-form-group form-group-start-hours">
              <label class="govuk-label govuk-date-input__label" for="curfewTimes-start-hours"><span class="govuk-visually-hidden">Start</span> Hour</label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="curfewTimes-start-hours" name="dayStartHours" value="">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <label class="govuk-label govuk-date-input__label">:</label>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group form-group-start-minutes">
              <label class="govuk-label govuk-date-input__label" for="curfewTimes-start-minutes"><span class="govuk-visually-hidden">Start</span> Minutes</label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="curfewTimes-start-minutes" name="dayStartMinutes" value="">
          </div>
        </div>

        <div class="govuk-date-input__item" style="text-align: center; width:40px">
          <label class="govuk-label govuk-date-input__label">to</label>
        </div>

        <div class="govuk-date-input__item">
          <div class="govuk-form-group form-group-end-hours">
              <label class="govuk-label govuk-date-input__label" for="curfewTimes-end-hours"><span class="govuk-visually-hidden">End</span> Hour</label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="curfewTimes-end-hours" name="dayEndHours" value="">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <label class="govuk-label govuk-date-input__label">:</label>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group form-group-end-minutes">
              <label class="govuk-label govuk-date-input__label" for="curfewTimes-end-minutes"><span class="govuk-visually-hidden">End</span> Minutes</label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="curfewTimes-end-minutes" name="dayEndMinutes" value="">
          </div>
        </div>

        
      </div>
    </fieldset>
  </div>

  
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-label govuk-label--s">
        What address will the device wearer be at during curfew hours?
    </legend>
    <div id="address-hint" class="govuk-hint">
     Select one option
    </div>
    <div class="govuk-radios" data-module="govuk-radios">
      {% if (data['installaddressquestion'] == "Yes") %}
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="day-address" type="radio" value="Contact address - 123 Carter Bar">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
          Contact address - 123 Carter Bar
        </label>
      </div>
      {% endif %}
      {% if (data['installaddressquestion'] == "No") %}
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="day-address" type="radio" value="Contact address - 123 Carter Bar">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
         
          Contact address -
          123 Carter Bar
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="day-address" type="radio" value="Tag installation address - {{ data['installaddressLine1'] }}">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
         Tag installation address - {{ data['installaddressLine1'] }}
        </label>
      </div>
      {% endif %}
      {% if (data['addcurfewaddress'] == "Yes") %}
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-3" name="day-address" type="radio" value="{{ data['curfewaddressname'] }} - {{ data['curfewaddressLine1'] }}">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
          {{ data['curfewaddressname'] }} - {{ data['curfewaddressLine1'] }}
        </label>
      </div>
      {% endif %}
      
    </div>
  </fieldset>
</div>
       

   
 

    </fieldset>

    <div class="moj-button-action">

      <button type="submit" class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4" data-module="govuk-button">
        Add another time
      </button>

    </div>




</div>


       

     

       

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save and come back later",
          href: '../new-form',
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
