

{% extends "layouts/moj-level2.html" %}




{% block pageTitle %}
  Responsible adult details - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

         {% set html %}
        <p class="govuk-notification-banner__heading">
         You are viewing a submitted form. This form was submitted on the 14 December 2024.
        </p>
      {% endset %}

      {% set htmlcancelled %}
        <p class="govuk-notification-banner__heading">
         You are viewing a cancelled form. This form was cancelled on the 22 December 2024.
        </p>
      {% endset %}


          {% if (data['view-variation'] == 'cancelled') %}

           {{ govukNotificationBanner({
              html: htmlcancelled
            }) }}

          {% elseif (data['view'] == 'true') %}

          {{ govukNotificationBanner({
              html: html
            }) }}

          {% else %}

           {% endif %}

      

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Monitoring conditions</span>
        Check the curfew timetable
      </h1>

     {% if (data['view'] == 'true') %}
      {% else %}
      <p>Change the times or location for any given day or <a href='curfew-3-question'>change the times of all days</a> </p>
      {% endif %}


 

         <form class="form" action="monitoring-needed" method="post">






        <table class="govuk-table govuk-table--small-text-until-tablet">
            <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Curfew times</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">From</th>
                <th scope="col" class="govuk-table__header">To</th>
                <th scope="col" class="govuk-table__header">Location</th>
                <th scope="col" class="govuk-table__header">
                  {% if (data['view'] == 'true') %}

                  {% else %}
                  Actions
                  {% endif %}  
                </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
              
                 {% if (data['curfewtimetableday'] == "Monday") %}
                 {{ data['curfewchange-starttime-hours'] }}:{{ data['curfewchange-starttime-minutes'] }} Monday

                {% elseif (data['curfewstandard'] == "false") %}
                 {{ data['curfewchange-starttime-hours']}}:{{ data['curfewchange-starttime-minutes']}} Monday
                 {% else %} 

                 19:00 Monday

                 {% endif %}  </th>
                <td class="govuk-table__cell">
                  {% if (data['curfewtimetableday'] == "Monday") %}
                 until {{ data['curfewchange-endtime-hours'] }}:{{ data['curfewchange-endtime-minutes'] }} Tuesday

                {% elseif (data['curfewstandard'] == "false") %}
                 until {{ data['curfewchange-endtime-hours']}}:{{ data['curfewchange-endtime-minutes']}} Tuesday
                 {% else %} 

                 until 07:00 Tuesday

                 {% endif %} 
                </td>
                <td class="govuk-table__cell">
                {% if (data['curfewtimetableday'] == "Monday") %}
                   {{ data['day-address'] }}
                {% elseif (data['curfewstandard'] == "false") %}
                   {{ data['day-address'] }}
                {% else %}
                123 Carter Bar
                 {% endif %}  </td>
                <td class="govuk-table__cell">
                  {% if (data['view'] == 'true') %}

                  {% else %}
                  <a class="govuk-link" href="curfew-change?curfewtimetableday=Monday&curfewstandard=true&day=Monday">Change<span class="govuk-visually-hidden"> name</span></a>
                  {% endif %}  
                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {% if (data['curfewtimetableday'] == "Tuesday") %}
                 {{ data['curfewchange-starttime-hours'] }}:{{ data['curfewchange-starttime-minutes'] }} Tuesday

                {% elseif (data['curfewstandard'] == "false") %}
                 {{ data['curfewchange-starttime-hours']}}:{{ data['curfewchange-starttime-minutes']}} Tuesday
                 {% else %} 

                 19:00 Tuesday

                 {% endif %}  </th>
                <td class="govuk-table__cell">
                  {% if (data['curfewtimetableday'] == "Tuesday") %}
                 until {{ data['curfewchange-endtime-hours'] }}:{{ data['curfewchange-endtime-minutes'] }} Wednesday

                {% elseif (data['curfewstandard'] == "false") %}
                 until {{ data['curfewchange-endtime-hours']}}:{{ data['curfewchange-endtime-minutes']}} Wednesday
                 {% else %} 

                 until 07:00 Wednesday

                 {% endif %}  
                </td>
                <td class="govuk-table__cell">
                 {% if (data['curfewtimetableday'] == "Tuesday") %}
                   {{ data['day-address'] }}
                {% elseif (data['curfewstandard'] == "false") %}
                   {{ data['day-address'] }}
                {% else %}
                123 Carter Bar
                 {% endif %} </td>
                <td class="govuk-table__cell">
                  {% if (data['view'] == 'true') %}

                  {% else %}
                  <a class="govuk-link" href="curfew-change?curfewtimetableday=Tuesday">Change<span class="govuk-visually-hidden"> name</span></a>
                  {% endif %}  
                </td>
              </tr>

               <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {% if (data['curfewtimetableday'] == "Wednesday") %}
                 {{ data['curfewchange-starttime-hours'] }}:{{ data['curfewchange-starttime-minutes'] }} Wednesday

                {% elseif (data['curfewstandard'] == "false") %}
                 {{ data['curfewchange-starttime-hours']}}:{{ data['curfewchange-starttime-minutes']}} Wednesday
                 {% else %} 

                 19:00 Wednesday

                 {% endif %}  </th>
                <td class="govuk-table__cell">
                   {% if (data['curfewtimetableday'] == "Wednesday") %}
                 until {{ data['curfewchange-endtime-hours'] }}:{{ data['curfewchange-endtime-minutes'] }} Thursday

                {% elseif (data['curfewstandard'] == "false") %}
                 until {{ data['curfewchange-endtime-hours']}}:{{ data['curfewchange-endtime-minutes']}} Thursday
                 {% else %} 

                 until 07:00 Thursday

                 {% endif %}  
                </td>
                <td class="govuk-table__cell">
                 {% if (data['curfewtimetableday'] == "Wednesday") %}
                   {{ data['day-address'] }}
                {% elseif (data['curfewstandard'] == "false") %}
                   {{ data['day-address'] }}
                {% else %}
                123 Carter Bar
                 {% endif %} </td>
                <td class="govuk-table__cell">
                  {% if (data['view'] == 'true') %}

                  {% else %}
                  <a class="govuk-link" href="curfew-change?curfewtimetableday=Wednesday">Change<span class="govuk-visually-hidden"> name</span></a>
                  {% endif %}  
                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {% if (data['curfewtimetableday'] == "Thursday") %}
                 {{ data['curfewchange-starttime-hours'] }}:{{ data['curfewchange-starttime-minutes'] }} Thursday

                {% elseif (data['curfewstandard'] == "false") %}
                 {{ data['curfewchange-starttime-hours']}}:{{ data['curfewchange-starttime-minutes']}} Thursday
                 {% else %} 

                 19:00 Thursday

                 {% endif %}  </th>
                <td class="govuk-table__cell">
                   {% if (data['curfewtimetableday'] == "Thursday") %}
                 until {{ data['curfewchange-endtime-hours'] }}:{{ data['curfewchange-endtime-minutes'] }} Friday

                {% elseif (data['curfewstandard'] == "false") %}
                 until {{ data['curfewchange-endtime-hours']}}:{{ data['curfewchange-endtime-minutes']}} Friday
                 {% else %} 

                 until 07:00 Friday

                 {% endif %}  
                </td>
                <td class="govuk-table__cell">
                 {% if (data['curfewtimetableday'] == "Thursday") %}
                   {{ data['day-address'] }}
                {% elseif (data['curfewstandard'] == "false") %}
                   {{ data['day-address'] }}
                {% else %}
                123 Carter Bar
                 {% endif %} </td>
                <td class="govuk-table__cell">
                  {% if (data['view'] == 'true') %}

                  {% else %}
                  <a class="govuk-link" href="curfew-change?curfewtimetableday=Thursday">Change<span class="govuk-visually-hidden"> name</span></a>
                  {% endif %}  
                </td>
              </tr>

               <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {% if (data['curfewtimetableday'] == "Friday") %}
                 {{ data['curfewchange-starttime-hours'] }}:{{ data['curfewchange-starttime-minutes'] }} Friday

                {% elseif (data['curfewstandard'] == "false") %}
                 {{ data['curfewchange-starttime-hours']}}:{{ data['curfewchange-starttime-minutes']}} Friday
                 {% else %} 

                 19:00 Friday

                 {% endif %}  </th>
                <td class="govuk-table__cell">
                   {% if (data['curfewtimetableday'] == "Friday") %}
                 until {{ data['curfewchange-endtime-hours'] }}:{{ data['curfewchange-endtime-minutes'] }} Saturday

                {% elseif (data['curfewstandard'] == "false") %}
                 until {{ data['curfewchange-endtime-hours']}}:{{ data['curfewchange-endtime-minutes']}} Saturday
                 {% else %} 

                 until 07:00 Saturday

                 {% endif %}   
                </td>
                <td class="govuk-table__cell">
                 {% if (data['curfewtimetableday'] == "Friday") %}
                   {{ data['day-address'] }}
                {% elseif (data['curfewstandard'] == "false") %}
                   {{ data['day-address'] }}
                {% else %}
                123 Carter Bar
                 {% endif %} </td>
                <td class="govuk-table__cell">
                  {% if (data['view'] == 'true') %}

                  {% else %}
                  <a class="govuk-link" href="curfew-change?curfewtimetableday=Friday">Change<span class="govuk-visually-hidden"> name</span></a>
                  {% endif %}  
                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {% if (data['curfewtimetableday'] == "Saturday") %}
                 {{ data['curfewchange-starttime-hours'] }}:{{ data['curfewchange-starttime-minutes'] }} Saturday

                {% elseif (data['curfewstandard'] == "false") %}
                 {{ data['curfewchange-starttime-hours']}}:{{ data['curfewchange-starttime-minutes']}} Saturday
                 {% else %} 

                 19:00 Saturday

                 {% endif %}  </th>
                <td class="govuk-table__cell">
                  {% if (data['curfewtimetableday'] == "Saturday") %}
                 until {{ data['curfewchange-endtime-hours'] }}:{{ data['curfewchange-endtime-minutes'] }} Sunday

                {% elseif (data['curfewstandard'] == "false") %}
                 until {{ data['curfewchange-endtime-hours']}}:{{ data['curfewchange-endtime-minutes']}} Sunday
                 {% else %} 

                 until 07:00 Sunday

                 {% endif %}  
                </td>
                <td class="govuk-table__cell">
                 {% if (data['curfewtimetableday'] == "Saturday") %}
                   {{ data['day-address'] }}
                {% elseif (data['curfewstandard'] == "false") %}
                   {{ data['day-address'] }}
                {% else %}
                123 Carter Bar
                 {% endif %}  </td>
                <td class="govuk-table__cell">
                  {% if (data['view'] == 'true') %}

                  {% else %}
                  <a class="govuk-link" href="curfew-change?curfewtimetableday=Saturday">Change<span class="govuk-visually-hidden"> name</span></a>
                  {% endif %}  
                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {% if (data['curfewtimetableday'] == "Sunday") %}
                 {{ data['curfewchange-starttime-hours'] }}:{{ data['curfewchange-starttime-minutes'] }} Sunday

                {% elseif (data['curfewstandard'] == "false") %}
                 {{ data['curfewchange-starttime-hours']}}:{{ data['curfewchange-starttime-minutes']}} Sunday
                 {% else %} 

                 19:00 Sunday

                 {% endif %}  </th>
                <td class="govuk-table__cell">
                   {% if (data['curfewtimetableday'] == "Sunday") %}
                 until {{ data['curfewchange-endtime-hours'] }}:{{ data['curfewchange-endtime-minutes'] }} Monday

                {% elseif (data['curfewstandard'] == "false") %}
                 until {{ data['curfewchange-endtime-hours']}}:{{ data['curfewchange-endtime-minutes']}} Monday
                 {% else %} 

                 until 07:00 Monday

                 {% endif %} 
                </td>
                <td class="govuk-table__cell">
                 {% if (data['curfewtimetableday'] == "Sunday") %}
                   {{ data['day-address'] }}
                {% elseif (data['curfewstandard'] == "false") %}
                   {{ data['day-address'] }}
                {% else %}
                123 Carter Bar
                 {% endif %} </td>
                <td class="govuk-table__cell">
                  {% if (data['view'] == 'true') %}

                  {% else %}
                  <a class="govuk-link" href="curfew-change?curfewtimetableday=Sunday">Change<span class="govuk-visually-hidden"> name</span></a>
                  {% endif %}  
                </td>
              </tr>
            
            </tbody>
          </table>



    
       



      

      <div class="govuk-button-group">
         {% if (data['view'] == 'true') %}

                {{ govukButton({
                text: "Return to check your answers",
                href: 'check-answers-view'
              }) }}

          {% else %}

             {{ govukButton({
                text: "Save and continue"
              }) }}

              {{ govukButton({
                text: "Save and return to main form menu",
                href: ('../submitted-form' if data['view'] == 'false' else '../new-form' ),
                classes: "govuk-button--secondary"
              }) }}

           {% endif %}   
      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
