

{% extends "layouts/moj-level2.html" %}




{% block pageTitle %}
  Check the curfew timetable - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

         {% set html %}
        <p class="govuk-notification-banner__heading">
         You are viewing a submitted form. This form was submitted on the 14 December 2024.
        </p>
      {% endset %}

      {% set htmlcancelled %}
        <p class="govuk-notification-banner__heading">
         You are viewing a cancelled form. This form was cancelled on the 22 December 2024.
        </p>
      {% endset %}


          {% if (data['view-variation'] == 'cancelled') %}

           {{ govukNotificationBanner({
              html: htmlcancelled
            }) }}

          {% elseif (data['view'] == 'true') %}

          {{ govukNotificationBanner({
              html: html
            }) }}

          {% else %}

           {% endif %}

      

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Electronic monitoring required</span>
        Check the curfew timetable
      </h1>

     {% if (data['view'] == 'true') %}
      {% else %}
      <p>Change the times or location for any given day or <a href='curfew-3-question?Monday=false&Tuesday=false&Wednesday=false&Thursday=false&Friday=false&Saturday=false&Sunday=false'>change the times of all days</a> </p>
      {% endif %}


 

         <form class="form" action="curfew-boundary" method="post">






        <table class="govuk-table govuk-table--small-text-until-tablet">
            <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Curfew times</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Day</th>
                <th scope="col" class="govuk-table__header">From</th>
                <th scope="col" class="govuk-table__header">To</th>
                <th scope="col" class="govuk-table__header">Location</th>
                <th scope="col" class="govuk-table__header">
                  {% if (data['view'] == 'true') %}

                  {% else %}
                  Actions
                  {% endif %}  
                </th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                 <td class="govuk-table__cell">
                  Monday
                  </td>
                <td class="govuk-table__cell">
              
                 {% if (data['curfewtimetableday'] == "true" and data['Monday'] == "true") %}
                 {{ data['curfewchange-starttimeMonday-hours'] }}:{{ data['curfewchange-starttimeMonday-minutes'] }} 

                {% else %}
                 {{ data['curfewchange-starttime-hours']}}:{{ data['curfewchange-starttime-minutes']}} 
               

                 {% endif %}  </th>
                <td class="govuk-table__cell">
                  {% if (data['curfewtimetableday'] == "true" and data['Monday'] == "true") %}
                 until {{ data['curfewchange-endtimeMonday-hours'] }}:{{ data['curfewchange-endtimeMonday-minutes'] }} 
                {% else %}
                 until {{ data['curfewchange-endtime-hours']}}:{{ data['curfewchange-endtime-minutes']}}
               
                 {% endif %} 
                </td>
                <td class="govuk-table__cell">
                {% if (data['curfewtimetableday'] == "true" and data['Monday'] == "true") %}
                   {{ data['day-addressMonday'] }}
                {% elseif (data['curfewstandard'] == "true") %}  
                    {{ data['contactaddressLine1']  or "123 Carter Bar" }}
                {% else %}
                   {{ data['day-address'] }}
                 {% endif %}  </td>
                <td class="govuk-table__cell">
                  {% if (data['view'] == 'true') %}

                  {% else %}
                  <a class="govuk-link" href="curfew-change?curfewtimetableday=true&day=Monday&Monday=true">Change<span class="govuk-visually-hidden"> name</span></a>
                  {% endif %}  
                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  Tuesday
                  </td>
                <td class="govuk-table__cell">
                  {% if (data['curfewtimetableday'] == "true" and data['Tuesday'] == "true") %}
                 {{ data['curfewchange-starttimeTuesday-hours'] }}:{{ data['curfewchange-starttimeTuesday-minutes'] }} 

                {% else %}
                 {{ data['curfewchange-starttime-hours']}}:{{ data['curfewchange-starttime-minutes']}} 
                 

                 {% endif %}  </th>
                <td class="govuk-table__cell">
                  {% if (data['curfewtimetableday'] == "true" and data['Tuesday'] == "true") %}
                 until {{ data['curfewchange-endtimeTuesday-hours'] }}:{{ data['curfewchange-endtimeTuesday-minutes'] }} 

                {% else %}
                 until {{ data['curfewchange-endtime-hours']}}:{{ data['curfewchange-endtime-minutes']}} 
                

                 {% endif %}  
                </td>
                <td class="govuk-table__cell">
                 {% if (data['curfewtimetableday'] == "true" and data['Tuesday'] == "true") %}
                   {{ data['day-addressTuesday'] }}
                {% elseif (data['curfewstandard'] == "true") %}  
                    {{ data['contactaddressLine1']  or "123 Carter Bar" }}
                {% else %}
                   {{ data['day-address'] }}
                 {% endif %}
                  </td>
                <td class="govuk-table__cell">
                  {% if (data['view'] == 'true') %}

                  {% else %}
                  <a class="govuk-link" href="curfew-change?curfewtimetableday=true&day=Tuesday&Tuesday=true">Change<span class="govuk-visually-hidden"> name</span></a>
                  {% endif %}  
                </td>
              </tr>

               <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  Wednesday
                  </td>
                <td class="govuk-table__cell">
                  {% if (data['curfewtimetableday'] == "true" and data['Wednesday'] == "true") %}
                 {{ data['curfewchange-starttimeWednesday-hours'] }}:{{ data['curfewchange-starttimeWednesday-minutes'] }} 

                {% else %}
                 {{ data['curfewchange-starttime-hours']}}:{{ data['curfewchange-starttime-minutes']}} 
                

                 {% endif %}  </th>
                <td class="govuk-table__cell">
                  {% if (data['curfewtimetableday'] == "true" and data['Wednesday'] == "true") %}
                 until {{ data['curfewchange-endtimeWednesday-hours'] }}:{{ data['curfewchange-endtimeWednesday-minutes'] }} 

                {% else %}
                 until {{ data['curfewchange-endtime-hours']}}:{{ data['curfewchange-endtime-minutes']}} 
              

                 {% endif %}  
                </td>
                <td class="govuk-table__cell">
                {% if (data['curfewtimetableday'] == "true" and data['Wednesday'] == "true") %}
                   {{ data['day-addressWednesday'] }}
                {% elseif (data['curfewstandard'] == "true") %}  
                    {{ data['contactaddressLine1']  or "123 Carter Bar" }}
                {% else %}
                   {{ data['day-address'] }}
                 {% endif %} </td>
                <td class="govuk-table__cell">
                  {% if (data['view'] == 'true') %}

                  {% else %}
                  <a class="govuk-link" href="curfew-change?curfewtimetableday=true&day=Wednesday&Wednesday=true">Change<span class="govuk-visually-hidden"> name</span></a>
                  {% endif %}  
                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  Thursday
                  </td>
                <td class="govuk-table__cell">
                  {% if (data['curfewtimetableday'] == "true" and data['Thursday'] == "true") %}
                 {{ data['curfewchange-starttimeThursday-hours'] }}:{{ data['curfewchange-starttimeThursday-minutes'] }} 

                {% else %}
                 {{ data['curfewchange-starttime-hours']}}:{{ data['curfewchange-starttime-minutes']}} 
                

                 {% endif %}  </th>
                <td class="govuk-table__cell">
                 {% if (data['curfewtimetableday'] == "true" and data['Thursday'] == "true") %}
                 until {{ data['curfewchange-endtimeThursday-hours'] }}:{{ data['curfewchange-endtimeThursday-minutes'] }} 

                {% else%}
                 until {{ data['curfewchange-endtime-hours']}}:{{ data['curfewchange-endtime-minutes']}} 
              

                 {% endif %}  
                </td>
                <td class="govuk-table__cell">
                {% if (data['curfewtimetableday'] == "true" and data['Thursday'] == "true") %}
                   {{ data['day-addressThursday'] }}
                {% elseif (data['curfewstandard'] == "true") %}  
                    {{ data['contactaddressLine1']  or "123 Carter Bar" }}
                {% else %}
                   {{ data['day-address'] }}
                 {% endif %} </td>
                <td class="govuk-table__cell">
                  {% if (data['view'] == 'true') %}

                  {% else %}
                  <a class="govuk-link" href="curfew-change?curfewtimetableday=true&day=Thursday&Thursday=true">Change<span class="govuk-visually-hidden"> name</span></a>
                  {% endif %}  
                </td>
              </tr>

               <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  Friday
                  </td>
                <td class="govuk-table__cell">
                  {% if (data['curfewtimetableday'] == "true" and data['Friday'] == "true") %}
                 {{ data['curfewchange-starttimeFriday-hours'] }}:{{ data['curfewchange-starttimeFriday-minutes'] }} 

                {% else %}
                 {{ data['curfewchange-starttime-hours']}}:{{ data['curfewchange-starttime-minutes']}} 
               

                 {% endif %}  </th>
                <td class="govuk-table__cell">
                  {% if (data['curfewtimetableday'] == "true" and data['Friday'] == "true") %}
                 until {{ data['curfewchange-endtimeFriday-hours'] }}:{{ data['curfewchange-endtimeFriday-minutes'] }} 

                {% else %}
                 until {{ data['curfewchange-endtime-hours']}}:{{ data['curfewchange-endtime-minutes']}} 
             

                 {% endif %}   
                </td>
                <td class="govuk-table__cell">
                 {% if (data['curfewtimetableday'] == "true" and data['Friday'] == "true") %}
                   {{ data['day-addressFriday'] }}
                {% elseif (data['curfewstandard'] == "true") %}  
                    {{ data['contactaddressLine1']  or "123 Carter Bar" }}
                {% else %}
                   {{ data['day-address'] }}
                 {% endif %}  </td>
                <td class="govuk-table__cell">
                  {% if (data['view'] == 'true') %}

                  {% else %}
                  <a class="govuk-link" href="curfew-change?curfewtimetableday=true&day=Friday&Friday=true">Change<span class="govuk-visually-hidden"> name</span></a>
                  {% endif %}  
                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  Saturday
                  </td>
                <td class="govuk-table__cell">
                  {% if (data['curfewtimetableday'] == "true" and data['Saturday'] == "true") %}
                 {{ data['curfewchange-starttimeSaturday-hours'] }}:{{ data['curfewchange-starttimeSaturday-minutes'] }} 

                {% else %}
                 {{ data['curfewchange-starttime-hours']}}:{{ data['curfewchange-starttime-minutes']}} 
              

                 {% endif %}  </th>
                <td class="govuk-table__cell">
                  {% if (data['curfewtimetableday'] == "true" and data['Saturday'] == "true") %}
                 until {{ data['curfewchange-endtimeSaturday-hours'] }}:{{ data['curfewchange-endtimeSaturday-minutes'] }} 

                {% elseif (data['curfewstandard'] == "false") %}
                 until {{ data['curfewchange-endtime-hours']}}:{{ data['curfewchange-endtime-minutes']}} 
                 {% else %} 

                 until 07:00 

                 {% endif %}  
                </td>
                <td class="govuk-table__cell">
                 {% if (data['curfewtimetableday'] == "true" and data['Saturday'] == "true") %}
                   {{ data['day-addressSaturday'] }}
                {% elseif (data['curfewstandard'] == "true") %}  
                    {{ data['contactaddressLine1']  or "123 Carter Bar" }}
                {% else %}
                   {{ data['day-address'] }}
                 {% endif %} </td>
                <td class="govuk-table__cell">
                  {% if (data['view'] == 'true') %}

                  {% else %}
                  <a class="govuk-link" href="curfew-change?curfewtimetableday=true&day=Saturday&Saturday=true">Change<span class="govuk-visually-hidden"> name</span></a>
                  {% endif %}  
                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                 Sunday
                  </td>
                <td class="govuk-table__cell">
                  {% if (data['curfewtimetableday'] == "true" and data['Sunday'] == "true") %}
                 {{ data['curfewchange-starttimeSunday-hours'] }}:{{ data['curfewchange-starttimeSunday-minutes'] }} 

                {% else %}
                 {{ data['curfewchange-starttime-hours']}}:{{ data['curfewchange-starttime-minutes']}} 
              

                 {% endif %}  </th>
                <td class="govuk-table__cell">
                  {% if (data['curfewtimetableday'] == "true" and data['Sunday'] == "true") %}
                 until {{ data['curfewchange-endtimeSunday-hours'] }}:{{ data['curfewchange-endtimeSunday-minutes'] }} 

                {% else %}
                 until {{ data['curfewchange-endtime-hours']}}:{{ data['curfewchange-endtime-minutes']}} 
            

                 {% endif %} 
                </td>
                <td class="govuk-table__cell">
                 {% if (data['curfewtimetableday'] == "true" and data['Sunday'] == "true") %}
                   {{ data['day-addressSunday'] }}
               {% elseif (data['curfewstandard'] == "true") %}  
                    {{ data['contactaddressLine1']  or "123 Carter Bar" }}
                {% else %}
                   {{ data['day-address'] }}
                 {% endif %} </td>
                <td class="govuk-table__cell">
                  {% if (data['view'] == 'true') %}

                  {% else %}
                  <a class="govuk-link" href="curfew-change?curfewtimetableday=true&day=Sunday&Sunday=true">Change<span class="govuk-visually-hidden"> name</span></a>
                  {% endif %}  
                </td>
              </tr>
            
            </tbody>
          </table>



    
       



      

      <div class="govuk-button-group">
         {% if (data['view'] == 'true') %}

                {{ govukButton({
                text: "Return to check your answers",
                href: 'check-answers-view'
              }) }}

          {% else %}

             {{ govukButton({
                text: "Save and continue"
              }) }}

              {{ govukButton({
                text: "Save as draft",
                href: ('../submitted-form' if data['view'] == 'false' else '../new-form' ),
                classes: "govuk-button--secondary"
              }) }}

           {% endif %}   
      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
