{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Responsible adult details - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

   

       <form class="form" action="monitoring-needed" method="post">





        <span class="govuk-caption-l">Monitoring conditions</span>

          {{ govukFileUpload({
            id: "map",
            name: "map",
            isPageHeading: true,
            label: {
              text: "Upload your map showing the inclusion or exclusion zone",
              classes: 'govuk-label--l'
            },
            hint: {
              text: 'You can upload a PDF or JPEG under 10MB.'
            }
          }) }}



      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save and return to main form menu",
          href: '../new-form',
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
