{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
 Exclusion and inclusion monitoring dates - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Electronic monitoring required</span>
        Exclusion monitoring dates
      </h1>



       <form class="form" action="exclusion-2" method="post">

  




        <div class="moj-datepicker" data-module="moj-date-picker">


             <div class="govuk-form-group">
              <label class="govuk-label  govuk-label--s" for="date">
               What date does exclusion monitoring start?
              </label>

              <div id="date-hint" class="govuk-hint">
                For example, 17/5/2024.
              </div>

              <input class="govuk-input moj-js-datepicker-input " id="date" name="exclusionstart-date" type="text" aria-describedby="date-hint" autocomplete="off" value="{{ data['exclusionstart-date'] }}">

            </div>

          </div>

         <div class="moj-datepicker" data-module="moj-date-picker">

            <div class="govuk-form-group">
              <label class="govuk-label  govuk-label--s" for="date">
              
               {% if (data['order-type'] == "Pre trial") or (data['order-type'] == "Immigration") %}
               What date does exclusion monitoring end? (optional)
               {% else %}
               What date does exclusion monitoring end? 
               {% endif %}
              </label>

              <div id="date-hint" class="govuk-hint">
                For example, 17/5/2024.
              </div>

              <input class="govuk-input moj-js-datepicker-input " id="date" name="exclusionend-date" type="text" aria-describedby="date-hint" autocomplete="off" value="{{ data['exclusionend-date'] }}">

            </div>

          </div>


        <!--

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-label govuk-label--s">
                What is the date the exclusion and inclusion monitoring starts?
              </legend>
              <div id="passport-issued-hint" class="govuk-hint">
                For example, 27 3 2020
              </div>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="monitoring-day" name="exclusionstart-day" type="text" inputmode="numeric" value="{{ data['exclusionstart-day'] }}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="monitoring-month" name="exclusionstart-month" type="text" inputmode="numeric" value="{{ data['exclusionstart-month'] }}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="monitoring-year" name="exclusionstart-year" type="text" inputmode="numeric" value="{{ data['exclusionstart-year'] }}">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

            <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
              <legend class="govuk-label govuk-label--s">
                What is the date the exclusion and inclusion monitoring ends? (optional)
              </legend>
              <div id="passport-issued-hint" class="govuk-hint">
                For example, 27 3 2020
              </div>
              <div class="govuk-date-input" id="passport-issued">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="monitoringend-day" name="exclusionend-day" type="text" inputmode="numeric" value="{{ data['exclusionend-day'] }}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="monitoringend-month" name="exclusionend-month" type="text" inputmode="numeric" value="{{ data['exclusionend-month'] }}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="monitoringend-year" name="exclusionend-year" type="text" inputmode="numeric" value="{{ data['exclusionend-year'] }}">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

       
-->

       

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save as draft",
           href: ('../submitted-form' if data['view'] == 'false' else '../new-form' ),
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
