{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
 Types of monitoring needed - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

         {% set html %}
        <p class="govuk-notification-banner__heading">
         You are viewing a submitted form. This form was submitted on the 14 December 2024.
        </p>
      {% endset %}

      {% set htmlcancelled %}
        <p class="govuk-notification-banner__heading">
         You are viewing a cancelled form. This form was cancelled on the 22 December 2024.
        </p>
      {% endset %}


          {% if (data['view-variation'] == 'cancelled') %}

           {{ govukNotificationBanner({
              html: htmlcancelled
            }) }}

          {% elseif (data['view'] == 'true') %}

          {{ govukNotificationBanner({
              html: html
            }) }}

          {% else %}

           {% endif %}

      

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Monitoring conditions</span>
       Types of monitoring needed
      </h1>


        {% if (data['view'] == 'false') %}

           <form class="form" action="/monitoring-list-edit" method="post">

          {% else %}

           <form class="form" action="/monitoring-list" method="post">

           {% endif %}

   

          <dl class="govuk-summary-list">
       
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  {{ data['monitoringtype'] }}
                </dt>
                <dd class="govuk-summary-list__value">
                   {% if (data['monitoringtype'] == "Mandatory attendance monitoring") %}
                  {{ data['appointment-reason'] or 'Anger management meetings' }}   <br>
                  From {{ data['attendancestart-date'] or '12/12/2024' }} to {{ data['attendanceend-date' or '12/12/2025'] }}

                   {% endif %}     

                   {% if (data['monitoringtype'] == "Exclusion and inclusion zone monitoring") %}
                  {{ data['exclusion-name'] or 'Partners house' }}   <br>
                  From {{ data['exclusionstart-date'] or '12/12/2024' }} to {{ data['exclusionend-date'] or '12/12/2025' }}
                   {% endif %} 

                   {% if (data['monitoringtype'] == "Curfew with electronic monitoring") %}
                   From {{ data['curfewstart-date'] or '12/12/2024' }} to {{ data['curfewend-date'] or '12/06/2025' }}
                   {% endif %} 

                    {% if (data['monitoringtype'] == "Trail monitoring") or (data['monitoringtype'] == "Trail monitoring (Home Office)")%}
                     From {{ data['trailstart-date'] or '12/12/2024' }} to {{ data['trailend-date'] or '12/12/2025' }}
                   {% endif %} 

                   {% if (data['monitoringtype'] == "Alcohol monitoring") %}
                   From {{ data['alcoholstart-date'] or '12/12/2024'  }} to {{ data['alcoholend-date'] or '12/12/2025'  }}
                   {% endif %} 

                            
                </dd>  
                </dd>  
                <dd class="govuk-summary-list__actions">
                  <ul class="govuk-summary-list__actions-list">
                     <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> {{ data['monitoringtype'] }}</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> {{ data['monitoringtype'] }}</span></a>
                    </li>       
                  </ul>
                </dd>
              </div>

              {% if (data['monitoringtypeadded'] == "Yes") %}

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  {{ data['monitoringtype2'] }}
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if (data['monitoringtype2'] == "Mandatory attendance monitoring") %}
                  {{ data['appointment-reason'] or 'Anger management meetings' }}   <br>
                  From {{ data['attendancestart-date'] or '12/12/2024' }} to {{ data['attendanceend-date' or '12/12/2025'] }}

                   {% endif %}     

                   {% if (data['monitoringtype2'] == "Exclusion and inclusion zone monitoring") %}
                  {{ data['exclusion-name'] or 'Partners house' }}   <br>
                  From {{ data['exclusionstart-date'] or '12/12/2024' }} to {{ data['exclusionend-date'] or '12/12/2025' }}
                   {% endif %} 

                   {% if (data['monitoringtype2'] == "Curfew with electronic monitoring") %}
                   From {{ data['curfewstart-date'] or '12/12/2024' }} to {{ data['curfewend-date'] or '12/06/2025' }}
                   {% endif %} 

                    {% if (data['monitoringtype2'] == "Trail monitoring" or (data['monitoringtype2'] == "Trail monitoring (Home Office)")) %}
                     From {{ data['trailstart-date'] or '12/12/2024' }} to {{ data['trailend-date'] or '12/12/2025' }}
                   {% endif %} 

                   {% if (data['monitoringtype2'] == "Alcohol monitoring") %}
                   From {{ data['alcoholstart-date'] or '12/12/2024'  }} to {{ data['alcoholend-date'] or '12/12/2025'  }}
                   {% endif %} 


                </dd>  
                </dd>  
                <dd class="govuk-summary-list__actions">
                  <ul class="govuk-summary-list__actions-list">
                     <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="are-you-sure">Delete<span class="govuk-visually-hidden"> {{ data['monitoringtype2'] }}</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> {{ data['monitoringtype2'] }}</span></a>
                    </li>       
                  </ul>
                </dd>
              </div>

              {% endif %}
  
            </dl>



          {{ govukRadios({
            classes: "govuk-radios--inline",
            name: "monitoringtypesquestion",
            fieldset: {
              legend: {
                text: "Are there any other types of monitoring needed for the device wearer?",
               classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
           
              {
                value: "Yes",
                text: "Yes"
              },
              {
                value: "No",
                text: "No"
              }
            ]
          }) }}

       

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
            {% if (data['view'] == 'true') %}

                {{ govukButton({
                text: "Return to check your answers",
                href: 'check-answers-view'
              }) }}

          {% else %}

             {{ govukButton({
                text: "Save and continue"
              }) }}

              {{ govukButton({
                text: "Save and return to main form menu",
                href: ('../submitted-form' if data['view'] == 'false' else '../new-form' ),
                classes: "govuk-button--secondary"
              }) }}

           {% endif %}   

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
