{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Monitoring type - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Electronic monitoring required</span>
        Monitoring type
      </h1>

    {% if (data['addressquestion'] == "No" and data['eighteen'] == "No") %}

      {{ govukInsetText({
        text: "Curfew is not an option because the device wearer does not have a fixed address. Alcohol monitoring is not an option because the device wearer is not 18 years old or older when the electronic monitoring device is installed."
      }) }}


     {% elseif (data['addressquestion'] == "No") %}

 

      {{ govukInsetText({
        text: "Curfew is not an option because the device wearer does not have a fixed address."
      }) }}


     {% elseif (data['eighteen'] == "Yes") %}


      {{ govukInsetText({
        text: "Alcohol monitoring is not an option because the device wearer is not 18 years old or older when the electronic monitoring device is installed."
      }) }}

     {% endif %}  

      <form class="form" action="/monitoring-question" method="post">
    
     


        {{ govukRadios({
            name: "monitoringtype",
            fieldset: {
              legend: {
                text: "What monitoring does the device wearer need?",
                classes: "govuk-fieldset__legend--s"

              }
            },
            hint: {
              text: "Select one, if you need to you will be able to add other monitoring types later"
            },
            items: [
              {
                value: "Curfew",
                checked: (true if data['monitoringtype'] == 'Curfew'),
                disabled: (true if data['addressquestion'] == 'No'),
                hint: {
                  text: "Monitoring the device wearer adheres to set times and days that they must remain at a location."
                },
                text: "Curfew"
              },
              {
                value: "Exclusion zone monitoring",
                checked: (true if data['monitoringtype'] == 'Exclusion zone monitoring'),
                hint: {
                  text: "Prevents the device wearer entering areas or visiting locations at set times."
                },
                text: "Exclusion zone monitoring"
              },
              {
                value: "Inclusion zone monitoring",
                checked: (true if data['monitoringtype'] == 'Inclusion zone monitoring'),
                hint: {
                  text: "Prevents the device wearer leaving areas or locations at set times."
                },
                text: "Inclusion zone monitoring"
              },
              {
                value: "Trail monitoring",
                checked: (true if data['monitoringtype'] == 'Trail monitoring'),
                hint: {
                  text: "Recording and gathering data on movements of the device wearer throughout the day. Trail monitoring must be selected if the device wearer is part of the Acquisitive Crime Project."
                },
                text: "Trail monitoring"
              },
              {
                value: "Trail monitoring (Home Office)",
                checked: (true if data['monitoringtype'] == 'Trail monitoring (Home Office)'),
                hint: {
                  text: "Recording and gathering data on movements of the device wearer throughout the day. "
                },
                text: "Trail monitoring (Home Office only)"
              },
              {
                value: "Alcohol monitoring",
                checked: (true if data['monitoringtype'] == 'Alcohol monitoring'),
                disabled: (true if data['eighteen'] == 'Yes'),
                hint: {
                  text: "Measuring alcohol levels of the device wearer or recording they are abstaining from drinking alcohol."
                },
                text: "Alcohol monitoring"
              },
              {
                value: "Mandatory attendance monitoring",
                checked: (true if data['monitoringtype'] == 'Mandatory attendance monitoring'),
                hint: {
                  text: "Recording the device wearer's attendance at arranged meetings or places."
                },
                text: "Mandatory attendance monitoring"
              }
              
          ]
        }) }}








       

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save as draft",
          href: '../new-form',
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
