{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Personal details - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Monitoring conditions</span>
        Monitoring type
      </h1>

    {% if (data['addressquestion'] == "No, they have no fixed address" and data['eighteen'] == "No") %}

      {{ govukInsetText({
        text: "Curfew with electronic monitoring is not an option because the device wearer does not have a fixed address. Alcohol monitoring is not an option because the device wearer is not 18 years old or older when the electronic monitoring device is installed."
      }) }}


     {% elseif (data['addressquestion'] == "No, they have no fixed address") %}

 

      {{ govukInsetText({
        text: "Curfew with electronic monitoring is not an option because the device wearer does not have a fixed address."
      }) }}


     {% elseif (data['eighteen'] == "Yes") %}


      {{ govukInsetText({
        text: "Alcohol monitoring is not an option because the device wearer is not 18 years old or older when the electronic monitoring device is installed."
      }) }}

     {% endif %}  

      <form class="form" action="/monitoring-type" method="post">
    
     


        {{ govukRadios({
            name: "monitoringtype",
            fieldset: {
              legend: {
                text: "What monitoring does the device wearer need?",
                classes: "govuk-fieldset__legend--s"

              }
            },
            hint: {
              text: "Select one, if you need to you will be able to add other monitoring types later"
            },
            items: [
              {
                value: "Curfew with electronic monitoring",
                checked: (true if data['monitoringtype'] == 'Curfew with electronic monitoring'),
                disabled: (true if data['addressquestion'] == 'No, they have no fixed address'),
                hint: {
                  text: "The device wearer must stay inside an address at specific times during the day and night."
                },
                text: "Curfew with electronic monitoring"
              },
              {
                value: "Exclusion and inclusion zone monitoring",
                checked: (true if data['monitoringtype'] == 'Exclusion and inclusion zone monitoring'),
                hint: {
                  text: "The device wearer must not enter identified areas or can only enter identified areas at specified times."
                },
                text: "Exclusion and inclusion zone monitoring"
              },
              {
                value: "Trail monitoring",
                checked: (true if data['monitoringtype'] == 'Trail monitoring'),
                hint: {
                  text: "GPS tracking will record the movements of the device wearer throughout the day. Must be monitored if the device wearer is part of the Acquisitive Crime Project."
                },
                text: "Trail monitoring"
              },
              {
                value: "Trail monitoring (Home Office)",
                checked: (true if data['monitoringtype'] == 'Trail monitoring (Home Office)'),
                hint: {
                  text: "For the Home Office only. Fitted GPS tracking or non-fitted devices to record the movements of the device wearer throughout the day. "
                },
                text: "Trail monitoring (Home Office)"
              },
              {
                value: "Alcohol monitoring",
                checked: (true if data['monitoringtype'] == 'Alcohol monitoring'),
                disabled: (true if data['eighteen'] == 'Yes'),
                hint: {
                  text: "The device wearer's levels of alcohol or abstinence from alcohol is monitored."
                },
                text: "Alcohol monitoring"
              },
              {
                value: "Mandatory attendance monitoring",
                checked: (true if data['monitoringtype'] == 'Mandatory attendance monitoring'),
                hint: {
                  text: "Attendance of the device wearer at appointments is monitored."
                },
                text: "Mandatory attendance monitoring"
              }
              
          ]
        }) }}








       

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save and return to main form menu",
          href: '../new-form',
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
