{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
   Order information - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

       <span class="govuk-caption-l">Electronic monitoring required</span>
       <!--   <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Electronic monitoring required</span>
        What pilot project is the device wearer part of?
      </h1>-->
       
      <form class="form" action="/pilots" method="post">


{% if (data['order-type'] == "Post release") %}

            {{ govukRadios({
              classes: "govuk-radios",
              name: "order-description",
              fieldset: {
                legend: {
                  text: "What pilot project is the device wearer part of?",
                  isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
                }
              },
              items: [
               
                {
                  value: "Domestic Abuse Perpetrator on Licence (DAPOL)",
                  checked: (true if data['order-type'] == 'Domestic Abuse Perpetrator on Licence (DAPOL)'),
                  text: "Domestic Abuse Perpetrator on Licence (DAPOL)"
                },
                {
                  value: "Domestic Abuse Perpetrator on Licence Home Detention Curfew (DAPOL HDC)",
                  checked: (true if data['order-description'] == 'Domestic Abuse Perpetrator on Licence Home Detention Curfew (DAPOL HDC)'),
                  text: "Domestic Abuse Perpetrator on Licence Home Detention Curfew (DAPOL HDC)"
                },
                {
                  value: "GPS acquisitive crime Home Detention Curfew",
                  checked: (true if data['order-description'] == 'GPS acquisitive crime Home Detention Curfew'),
                  text: "GPS acquisitive crime Home Detention Curfew"
                },
                {
                  value: "GPS acquisitive crime parole",
                  checked: (true if data['order-description'] == 'GPS acquisitive crime parole'),
                  text: "GPS acquisitive crime parole"
                },
                 {
                  divider: "or"
                },
                {
                  value: "They are not part of any of these pilots",
                  checked: (true if data['order-description'] == 'They are not part of any of these pilots'),
                  text: "They are not part of any of these pilots",
                  behaviour: "exclusive"
                }
              ]
            }) }}

    {% else %}    

        {{ govukRadios({
              classes: "govuk-radios",
              name: "order-description",
              fieldset: {
                legend: {
                  text: "What pilot project is the device wearer part of?",
                   isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
                }
              },
              items: [
                {
                  value: "Domestic Abuse Protection Order (DAPO)",
                  checked: (true if data['order-description'] == 'Domestic Abuse Protection Order (DAPO)'),
                  text: "Domestic Abuse Protection Order (DAPO)"
                },
                 {
                  divider: "or"
                },
                {
                  value: "They are not part of any of these pilots",
                  checked: (true if data['order-description'] == 'They are not part of any of these pilots'),
                  text: "They are not part of any of these pilots",
                  behaviour: "exclusive"
                }
              ]
            }) }}


    {% endif %}    

       

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save as draft",
          href: ('../submitted-form' if data['view'] == 'false' else '../new-form' ),
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
