{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
   Order information - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

    

  
       
      <form class="form" action="/order-sentence" method="post">

  


{% if (data['order-type'] == "Post release") %}

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Electronic monitoring required</span>
        What type of sentence has the device wearer been given?
      </h1>

            {{ govukRadios({
              classes: "govuk-radios",
              name: "order-sentence",
              fieldset: {
                legend: {
                  text: "What type of sentence has the device wearer been given?",
                  isPageHeading: false,
                  classes: "govuk-visually-hidden"
                }
              },
              items: [
                {
                  value: "Extended Determinate Sentence",
                  checked: (true if data['order-sentence'] == 'Extended Determinate Sentence'),
                  text: "Extended Determinate Sentence"
                },
                {
                  value: "Imprisonment for Public Protection (IPP)",
                  checked: (true if data['order-sentence'] == 'Imprisonment for Public Protection (IPP)'),
                  text: "Imprisonment for Public Protection (IPP)"
                },
                {
                  value: "Life Sentence",
                  checked: (true if data['order-sentence'] == 'Life Sentence'),
                  text: "Life Sentence"
                },
                {
                  value: "Section 236A Special Custodial Sentences for Offenders of Particular Concern (SOPC)",
                  checked: (true if data['order-sentence'] == 'Section 236A Special Custodial Sentences for Offenders of Particular Concern (SOPC)'),
                  text: "Section 236A Special Custodial Sentences for Offenders of Particular Concern (SOPC)"
                },
                {
                  value: "Section 227/228 Extended Sentence for Public Protection (EPP)",
                  checked: (true if data['order-sentence'] == 'Section 227/228 Extended Sentence for Public Protection (EPP)'),
                  text: "Section 227/228 Extended Sentence for Public Protection (EPP)"
                },
                {
                  value: "Section 85 Extended Sentences",
                  checked: (true if data['order-sentence'] == 'Section 85 Extended Sentences'),
                  text: "Section 85 Extended Sentences"
                },
                {
                  value: "Standard Determinate Sentence",
                  checked: (true if data['order-sentence'] == 'Standard Determinate Sentence'),
                  text: "Standard Determinate Sentence"
                }
              ]
            }) }}


{% elseif (data['order-type'] == "Pre trial") %}

  <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Electronic monitoring required</span>
        What order has the device wearer been given?
      </h1>


            {{ govukRadios({
              classes: "govuk-radios",
              name: "order-sentence",
              fieldset: {
                legend: {
                  text: "What order has the device wearer been given?",
                  isPageHeading: false,
                  classes: "govuk-visually-hidden"
                }
              },
              items: [
                {
                  value: "Bail",
                  checked: (true if data['order-type'] == 'Bail'),
                  text: "Bail"
                },
                {
                  value: "Bail Supervision & Support",
                  checked: (true if data['order-type'] == 'Bail Supervision & Support'),
                  text: "Bail Supervision & Support"
                },
                {
                  value: "Bail Remand to Local Authority Accommodation (RLAA)",
                  checked: (true if data['order-type'] == 'Bail Remand to Local Authority Accommodation (RLAA)'),
                  text: "Bail Remand to Local Authority Accommodation (RLAA)"
                }
              ]
            }) }}

{% elseif (data['order-type'] == "Community") %}

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Electronic monitoring required</span>
        What type of sentence has the device wearer been given?
      </h1>


           {{ govukRadios({
              classes: "govuk-radios",
              name: "order-sentence",
              fieldset: {
                legend: {
                  text: "What type of sentence has the device wearer been given?",
                  isPageHeading: false,
                  classes: "govuk-visually-hidden"
                }
              },
              items: [
                {
                  value: "Community",
                  checked: (true if data['order-type'] == 'Community'),
                  text: "Community"
                },
                {
                  value: "Community Supervision Default Order",
                  checked: (true if data['order-type'] == 'Community Supervision Default Order'),
                  text: "Community Supervision Default Order"
                },
                {
                  value: "Community Suspended Sentence",
                  checked: (true if data['order-type'] == 'Community Suspended Sentence'),
                  text: "Community Suspended Sentence"
                },
                {
                  value: "Community Youth Rehabilitation Order (YRO)",
                  checked: (true if data['order-type'] == 'Community Youth Rehabilitation Order (YRO)'),
                  text: "Community Youth Rehabilitation Order (YRO)"
                }
              ]
            }) }}



 {% endif %}
          

       

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save as draft",
          href: '#',
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
