{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Confirm address - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    
   {% if (data['postcodetype'] == "installation") %}    


      {% if (data['monitoringtypeadded'] == "Yes") %}

       <form class="form" action="/install-type2" method="post">

      {% else %}

      <form class="form" action="/install-type" method="post">

      {% endif %}

 {% else %}
      <form class="form" action="/postcode" method="post">
{% endif %}  

           {% from "govuk/components/button/macro.njk" import govukButton %}
          {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}


          <div class="govuk-width-container">
          <h1 class="govuk-heading-l">  
           <span class="govuk-caption-l"> {{ data['sectionid'] or 'About the device wearer'}}</span>
          Confirm the {{ data['postcodetype'] or "device wearer's"}} address
          </h1>

          <p>6 addresses found for <b>wr11nl</b> and <b>1</b>. <a href="postcode">Search again</a></p>

          {{ govukInsetText({
          html: "1 Washington Street<br>Worcester<br>WR1 1NL"
          }) }}

      

          <p class="govuk-body"><a href="postcode-list" class="govuk-link">Use a different address</a></p>
          <p class="govuk-body"><a href="enter-manually" class="govuk-link">Enter address manually</a></p>
          </div>
                 

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Use this address"
        }) }}

        {{ govukButton({
          text: "Save as draft",
          href: '../new-form',
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
