{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
   Order information - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

       <span class="govuk-caption-l">Electronic monitoring required</span>
       <!--   <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Electronic monitoring required</span>
        What pilot project is the device wearer part of?
      </h1>-->


       
      <form class="form" action="/order-region" method="post">


{% if (data['order-description'] == "GPS acquisitive crime") %}      

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                 Which police force area does the device wearer live in? 
                </h1>
              </legend>
              <div id="region-eligibility-hint" class="govuk-hint">
                To be eligible for the acquisitive crime pilot the device wearer must live in an in-scope police area. Use the <a target=blank href="https://www.police.uk/pu/your-area/">police force lookup (opens in a new tab)</a> check which police force area the device wearer lives in.
              </div>

         
              
              <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="region-eligibility" name="region-eligibility" type="radio" value="Avon and Somerset">
                    <label class="govuk-label govuk-radios__label" for="region-eligibility">
                      Avon and Somerset
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="region-eligibility1" name="region-eligibility" type="radio" value="Bedfordshire">
                    <label class="govuk-label govuk-radios__label" for="region-eligibility1">
                      Bedfordshire
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="region-eligibility2" name="region-eligibility" type="radio" value="Cheshire">
                    <label class="govuk-label govuk-radios__label" for="region-eligibility2">
                      Cheshire
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="region-eligibility3" name="region-eligibility" type="radio" value="City of London">
                    <label class="govuk-label govuk-radios__label" for="region-eligibility3">
                      City of London
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="region-eligibility4" name="region-eligibility" type="radio" value="Cumbria">
                    <label class="govuk-label govuk-radios__label" for="region-eligibility4">
                      Cumbria
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="region-eligibility5" name="region-eligibility" type="radio" value="Derbyshire">
                    <label class="govuk-label govuk-radios__label" for="region-eligibility5">
                      Derbyshire
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="region-eligibility6" name="region-eligibility" type="radio" value="Durham">
                    <label class="govuk-label govuk-radios__label" for="region-eligibility6">
                      Durham
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="region-eligibility7" name="region-eligibility" type="radio" value="Essex">
                    <label class="govuk-label govuk-radios__label" for="region-eligibility7">
                      Essex
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="region-eligibility8" name="region-eligibility" type="radio" value="Gloucestershire">
                    <label class="govuk-label govuk-radios__label" for="region-eligibility8">
                      Gloucestershire
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="region-eligibility9" name="region-eligibility" type="radio" value="Gwent">
                    <label class="govuk-label govuk-radios__label" for="region-eligibility9">
                      Gwent
                    </label>
                  </div>
                   <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="region-eligibility10" name="region-eligibility" type="radio" value="Hampshire">
                    <label class="govuk-label govuk-radios__label" for="region-eligibility10">
                      Hampshire
                    </label>
                  </div>
                   <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="region-eligibility11" name="region-eligibility" type="radio" value="Hertfordshire">
                    <label class="govuk-label govuk-radios__label" for="region-eligibility11">
                      Hertfordshire
                    </label>
                  </div>
                   <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="region-eligibility12" name="region-eligibility" type="radio" value="Humberside">
                    <label class="govuk-label govuk-radios__label" for="region-eligibility12">
                      Humberside
                    </label>
                  </div>
                   <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="region-eligibility13" name="region-eligibility" type="radio" value="Kent">
                    <label class="govuk-label govuk-radios__label" for="region-eligibility13">
                      Kent
                    </label>
                  </div>
                   <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="region-eligibility14" name="region-eligibility" type="radio" value="Metropolitan Police">
                    <label class="govuk-label govuk-radios__label" for="region-eligibility14">
                      Metropolitan Police
                    </label>
                  </div>
                   <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="region-eligibility15" name="region-eligibility" type="radio" value="North Wales">
                    <label class="govuk-label govuk-radios__label" for="region-eligibility15">
                      North Wales
                    </label>
                  </div>
                   <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="region-eligibility16" name="region-eligibility" type="radio" value="Nottinghamshire">
                    <label class="govuk-label govuk-radios__label" for="region-eligibility16">
                      Nottinghamshire
                    </label>
                  </div>
                   <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="region-eligibility17" name="region-eligibility" type="radio" value="Sussex">
                    <label class="govuk-label govuk-radios__label" for="region-eligibility17">
                      Sussex
                    </label>
                  </div>
                   <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="region-eligibility18" name="region-eligibility" type="radio" value="West Midlands">
                    <label class="govuk-label govuk-radios__label" for="region-eligibility18">
                      West Midlands
                    </label>
                  </div>
                 
                </div>
            </fieldset>
          </div>

       
{% else %}   

  <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                 Which probation region does the device wearer live in?
                </h1>
              </legend>
            <div id="region-eligibility-hint" class="govuk-hint">
                To be eligible for the DAPOL pilot the device wearer must live in an in-scope probation region. 
              </div>
              

              <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="region-eligibility" name="region-eligibility" type="radio" value="London">
                    <label class="govuk-label govuk-radios__label" for="region-eligibility">
                      London
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="region-eligibility1" name="region-eligibility" type="radio" value="East of England">
                    <label class="govuk-label govuk-radios__label" for="region-eligibility1">
                      East of England
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="region-eligibility2" name="region-eligibility" type="radio" value="South West">
                    <label class="govuk-label govuk-radios__label" for="region-eligibility2">
                      South West
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="region-eligibility3" name="region-eligibility" type="radio" value="Kent Surrey & Sussex">
                    <label class="govuk-label govuk-radios__label" for="region-eligibility3">
                      Kent Surrey & Sussex
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="region-eligibility4" name="region-eligibility" type="radio" value="Wales">
                    <label class="govuk-label govuk-radios__label" for="region-eligibility4">
                      Wales
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="region-eligibility5" name="region-eligibility" type="radio" value="South Central">
                    <label class="govuk-label govuk-radios__label" for="region-eligibility5">
                      South Central
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="region-eligibility6" name="region-eligibility" type="radio" value="East Midlands">
                    <label class="govuk-label govuk-radios__label" for="region-eligibility6">
                      East Midlands
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="region-eligibility7" name="region-eligibility" type="radio" value="West Midlands">
                    <label class="govuk-label govuk-radios__label" for="region-eligibility7">
                      West Midlands
                    </label>
                  </div>
                 
                 
                </div>
            </fieldset>
          </div>

              


         
       
{% endif %}     

       

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save as draft",
          href: ('../submitted-form' if data['view'] == 'false' else '../new-form' ),
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
