{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
   Order information - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

    

  
       
      <form class="form" action="/order-sentence" method="post">

  


{% if (data['order-type'] == "Post release") %}

    <span class="govuk-caption-l">Electronic monitoring required</span>

    <!--  <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Electronic monitoring required</span>
        What type of sentence has the device wearer been given?
      </h1>-->

            {{ govukRadios({
              classes: "govuk-radios",
              name: "order-sentence",
              fieldset: {
                legend: {
                  text: "What type of sentence has the device wearer been given?",
                   isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
                }
              },
              items: [
                {
                  value: "Standard Determinate Sentence",
                  checked: (true if data['order-sentence'] == 'Standard Determinate Sentence'),
                  text: "Standard Determinate Sentence"
                },
                {
                  value: "Extended Determinate Sentence",
                  checked: (true if data['order-sentence'] == 'Extended Determinate Sentence'),
                  text: "Extended Determinate Sentence"
                },
                {
                  value: "Imprisonment for Public Protection (IPP)",
                  checked: (true if data['order-sentence'] == 'Imprisonment for Public Protection (IPP)'),
                  text: "Imprisonment for Public Protection (IPP)"
                },
                {
                  value: "Life Sentence",
                  checked: (true if data['order-sentence'] == 'Life Sentence'),
                  text: "Life Sentence"
                },
                {
                  value: "Section 236A Special Custodial Sentences for Offenders of Particular Concern (SOPC)",
                  checked: (true if data['order-sentence'] == 'Section 236A Special Custodial Sentences for Offenders of Particular Concern (SOPC)'),
                  text: "Section 236A Special Custodial Sentences for Offenders of Particular Concern (SOPC)"
                },
                {
                  value: "Section 227/228 Extended Sentence for Public Protection (EPP)",
                  checked: (true if data['order-sentence'] == 'Section 227/228 Extended Sentence for Public Protection (EPP)'),
                  text: "Section 227/228 Extended Sentence for Public Protection (EPP)"
                },
                {
                  value: "Section 85 Extended Sentences",
                  checked: (true if data['order-sentence'] == 'Section 85 Extended Sentences'),
                  text: "Section 85 Extended Sentences"
                },
                {
                  value: "Section 250 / Section 91",
                  checked: (true if data['order-sentence'] == 'Section 250 / Section 91'),
                  text: "Section 250 / Section 91"
                },
                {
                  value: "Detention and Training Order (DTO)",
                  checked: (true if data['order-sentence'] == 'Detention and Training Order (DTO)'),
                  text: "Detention and Training Order (DTO)"
                }
              ]
            }) }}


{% elseif (data['order-type'] == "Pre trial") %}

    <span class="govuk-caption-l">Electronic monitoring required</span>

 <!-- <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Electronic monitoring required</span>
        What type of bail has the device wearer been given?
      </h1>-->


            {{ govukRadios({
              classes: "govuk-radios",
              name: "order-sentence",
              fieldset: {
                legend: {
                  text: "What type of bail has the device wearer been given?",
                   isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
                }
              },
              items: [
                {
                  value: "Bail Supervision & Support",
                  checked: (true if data['order-type'] == 'Bail Supervision & Support'),
                  text: "Bail Supervision & Support"
                },
                {
                  value: "Bail Remand to Local Authority Accommodation (RLAA)",
                  checked: (true if data['order-type'] == 'Bail Remand to Local Authority Accommodation (RLAA)'),
                  text: "Bail Remand to Local Authority Accommodation (RLAA)"
                },
                {
                  divider: "or"
                },
                {
                  value: "The type of bail they have been given is not in the list",
                  checked: (true if data['order-type'] == 'The type of bail they have been given is not in the list'),
                  text: "The type of bail they have been given is not in the list"
                }
              ]
            }) }}

{% elseif (data['order-type'] == "Community") %}

    <span class="govuk-caption-l">Electronic monitoring required</span>

     <!-- <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Electronic monitoring required</span>
        What type of sentence has the device wearer been given?
      </h1>-->


           {{ govukRadios({
              classes: "govuk-radios",
              name: "order-sentence",
              fieldset: {
                legend: {
                  text: "What type of sentence has the device wearer been given?",
                   isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
                }
              },
              items: [
                
                {
                  value: "Supervision Default Order",
                  checked: (true if data['order-type'] == 'Supervision Default Order'),
                  text: "Supervision Default Order"
                },
                {
                  value: "Suspended Sentence",
                  checked: (true if data['order-type'] == 'Suspended Sentence'),
                  text: "Suspended Sentence"
                },
                {
                  value: "Youth Rehabilitation Order (YRO)",
                  checked: (true if data['order-type'] == 'Youth Rehabilitation Order (YRO)'),
                  text: "Youth Rehabilitation Order (YRO)"
                },
                {
                  divider: "or"
                },
                {
                  value: "The sentence they have been given is not in the list",
                  checked: (true if data['order-type'] == 'The sentence they have been given is not in the list'),
                  text: "The sentence they have been given is not in the list"
                }
              ]
            }) }}



 {% endif %}
          

       

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}

  <!--      {{ govukButton({
          text: "Save as draft",
          href: ('../submitted-form' if data['view'] == 'false' else '../new-form' ),
          classes: "govuk-button--secondary"
        }) }}-->

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
