{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
   Order information - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Electronic monitoring required</span>    

  <!--    <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Electronic monitoring required</span>
        Is the device wearer on the Intensive Supervision and Surveillance Programme (ISSP)?
      </h1>-->


       
      <form class="form" action="/order-issp" method="post">




{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "issp",
  fieldset: {
    legend: {
      text: "Is the device wearer on the Intensive Supervision and Surveillance Programme (ISS)?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "ISS is for device wearers between the ages of 10-17"
  },
  items: [
    {
      value: "Yes",
      text: "Yes",
      checked: (true if data['issp'] == 'Yes')
    },
    {
      value: "No",
      text: "No",
      checked: (true if data['issp'] == 'No')
    }
  ]
}) }}
       

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}

  <!--      {{ govukButton({
          text: "Save as draft",
          href: ('../submitted-form' if data['view'] == 'false' else '../new-form' ),
          classes: "govuk-button--secondary"
        }) }}-->

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
