{% extends "layouts/moj.html" %}

{% block pageTitle %}
  Are you sure that you want to delete this electronic monitoring type? - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l"><span class="govuk-caption-l">Electronic monitoring required</span>

     Has the device wearer committed an offence that is excluded under the Sentencing Act 2026?</h1>


      <p>If you are not sure whether the device wearer's offence is excluded, check the <a href='https://www.gov.uk/government/publications/sentencing-act-offence-exclusions#full-publication-update-history' target="_blank">full list of excluded offences (opens in new tab)</a>.</p>



       {{ govukRadios({
      
          name: "hdcpause",
          fieldset: {
            legend: {
              text: "Has the device wearer committed an excluded offence?",
              isPageHeading: false,
              classes: "govuk-visually-hidden"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "Unlawful killing",
              text: "Unlawful killing",
              checked: (true if data['hdcpause'] == 'Unlawful killing')
            },
            {
              value: "Rape",
              text: "Rape",
              checked: (true if data['hdcpause'] == 'Rape')
            },
            {
              value: "Serious child sex offences",
              text: "Serious child sex offences",
              checked: (true if data['hdcpause'] == 'Serious child sex offences')
            },
            {
              value: "Grooming offences",
              text: "Grooming offences",
              checked: (true if data['hdcpause'] == 'Grooming offences')
            },
            {
              value: "Indecent assault",
              text: "Indecent assault",
              checked: (true if data['hdcpause'] == 'Indecent assault')
            },
            {
              divider: "or"
            },
            {
              value: "They have not committed an excluded offence",
              text: "They have not committed an excluded offence",
              checked: (true if data['hdcpause'] == 'They have not committed an excluded offence')
            }
          ]
        }) }}


        {% from "govuk/components/button/macro.njk" import govukButton %}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Save and continue",
              href: 'order-pilots',
              classes: "govuk-button"
            }) }}

            {{ govukButton({
              text: "Save as draft",
              href: '#',
              classes: "govuk-button--secondary"
            }) }}
          </div>
     
        </div>
      </div>
{% endblock %}
