{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Check your answers - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Additional documents</span>
        Check your answers
      </h1>



      <form class="form" action="../new-form?section-5-complete=true" method="post">


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Do you have a licence or court order document to upload?
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['licencequestion'] or "No" }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="licence-question">Change<span class="govuk-visually-hidden"> Do you have a licence document to upload? </span></a>
            </dd>
          </div>
       
          {% if (data['licencequestion'] == "Yes") %}-->

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             {% if (data['notifying-org'] == 'Home Office') %}

              Upload a copy of the Grant of Bail document (optional)

               {% else %}

             Upload a copy of the licence or court order document

              {% endif %}
            </dt>
            <dd class="govuk-summary-list__value">
             <a href="#">{{ data['licence'] }}</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              
               
              
                  <a class="govuk-link" href="licence">Change<span class="govuk-visually-hidden"> Licence </span></a>
         
       
            </dd>
          </div>

       <!--    {% endif %}-->


           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Do you have a photo to upload?
            </dt>
            <dd class="govuk-summary-list__value">
             {{ data['photoquestion'] or 'No' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="photo-question">Change<span class="govuk-visually-hidden"> Licence </span></a>
            </dd>
          </div>
          {% if (data['photoquestion'] == "Yes") %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Upload a copy of the photo
            </dt>
            <dd class="govuk-summary-list__value">
             <a href="#">{{ data['photo'] }}</a>
            </dd>
            <dd class="govuk-summary-list__actions">
             
                  <a class="govuk-link" href="photo">Change<span class="govuk-visually-hidden"> Photo identification </span></a>
        
           </dd>
          </div>

          {% endif %}

        </dl>
     
        

       

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and return to main form menu"
        }) }}

      

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
