{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Check your answers - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% set html %}
        <p class="govuk-notification-banner__heading">
         You are viewing a submitted form. This form was submitted on the 14 December 2024.
        </p>
      {% endset %}

      {% set htmlcancelled %}
        <p class="govuk-notification-banner__heading">
         You are viewing a cancelled form. This form was cancelled on the 22 December 2024.
        </p>
      {% endset %}

       {% set htmlfail %}
        <p class="govuk-notification-banner__heading">
         This form failed to submit on 14 December 2024. This was due to a technical problem. For more information <a href="https://ministryofjustice.github.io/hmpps-electronic-monitoring-create-an-order-docs/problems-submitting-forms.html#problems-submitting-forms">View the guidance (opens in a new tab)</a>.
        </p>
      {% endset %}


          {% if (data['view-variation'] == 'cancelled') %}

           {{ govukNotificationBanner({
              html: htmlcancelled
            }) }}

           {% elseif (data['view-variation'] == 'fail') %}

           {{ govukNotificationBanner({
              html: htmlfail
            }) }}

          {% elseif (data['view'] == 'true') %}

          {{ govukNotificationBanner({
              html: html
            }) }}

          {% else %}

          
                    
          {% endif %}

      



{% if (data['view'] == 'true') %}

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Additional documents</span>
        View answers
      </h1>

   {% else %}

         <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Additional documents</span>
        Check your answers
      </h1>

       <p>Check and save the information about the documents you have uploaded and attached to the form.</p>
    {% endif %}    

      <form class="form" action="../submitted-form?section-5-complete=true" method="post">


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Do you have a licence or court order document to upload?
            </dt>
            <dd class="govuk-summary-list__value">
             Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Upload a copy of the licence or court order document
            </dt>
            <dd class="govuk-summary-list__value">
             <a href="#">{{ data['licence'] or 'Murphy - licence 3245' }}</a>
            </dd>
            <dd class="govuk-summary-list__actions">
               <ul class="govuk-summary-list__actions-list">
                 {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}         
              </ul>
            </dd>
          </div>
          

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Do you have a photo identification document to upload?
            </dt>
            <dd class="govuk-summary-list__value">
             No
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>
          

        </dl>
     
        

       

     {% if (data['view'] == 'true') %}

           {{ govukButton({
          text: "Return to main form menu",
          href: "../submitted-form"
        }) }}
               

         {% else %}
          {{ govukButton({
          text: "Save and return to main form menu"
        }) }}

    
                    
     {% endif %}
      

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
