{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Upload the licence document - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        {% if (data['view'] == 'false') %}
           <form class="form" action="check-answers-view" method="post">

         {% else %}
            <form class="form" action="/licence-question" method="post">

           {% endif %}
     

        <span class="govuk-caption-l">Additional documents</span>

         {% if (data['notifying-org'] == 'Home Office') %}

           {{ govukRadios({
            classes: "govuk-radios--inline",
            name: "licencequestion",
            fieldset: {
              legend: {
                text: "Do you have a Grant of Bail document to upload?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: ""
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                checked: (true if data['licencequestion'] == 'Yes'),
                conditional: {
                
                }
              },
              {
                value: "No",
                text: "No",
                checked: (true if data['licencequestion'] == 'No'),
                conditional: {
                 
                }
              }
            ]
          }) }}

          {% else %}

          {{ govukFileUpload({
            id: "licence",
            name: "licence",
            isPageHeading: true,
            label: {
              text: "Upload a copy of the licence or court order document",
              classes: 'govuk-label--l'
            },
            hint: {
              text: 'Upload a scanned copy or photo of the original licence or court order document. If the licence is draft upload a copy of that. You will be able to change the order once you have the final version of the licence. The file must be a PDF or Word document and under 25MB in size. '
            }
          }) }}

           {% endif %}



      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save as draft",
           href: ('../submitted-form' if data['view'] == 'false' else '../new-form' ),
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
