{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Upload the photo identification document - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="check-answers" method="post">

           <span class="govuk-caption-l">Additional documents</span>
             {{ govukFileUpload({
            id: "photo",
            name: "photo",
            isPageHeading: true,
            label: {
              text: "Upload a copy of the photo identification document",
              classes: 'govuk-label--l'
            },
            hint: {
              text: 'Upload a scanned copy or photo of the original photo identification. The file must be a PDF, PNG, JPEG or JPG and under 10MB in size. '
            }
          }) }}
       

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save and return to main form menu",
          href: '../new-form',
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
