{% extends "layouts/index.html" %}

{% set pageName="Home" %}

{% block content %}


<div class="govuk-width-container">
 <main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">


          <h2 class="govuk-heading-m">Day 2 prototype of the Electronic Monitoring Order form</h2>

           <p> This prototype builds on what has been built to date by the development team. It includes improvements to:</p>
     
              <ul class="govuk-list govuk-list--bullet">
                <li>bring us more inline with GDS patterns</li>
                <li>content enhancements</li>
                <li>enhance the journey for the different types of users using the outputs from the <a href="https://miro.com/app/board/uXjVL88lzJU=/?share_link_id=494713983102">page review workshop</a> on the 3 December</li>
                <li>add variation journeys based on the findings from the discovery user research in December</li>
                <li>include improvements from the variations prototype UR in January</li>
                <li><a href="v1/mvp/index">new questions to determine the order type description</a></li>
              </ul>

              <p>View the <a href="https://docs.google.com/spreadsheets/d/189gFODj3zySQGbDwAEb2IRYVzcyrmfdGJilAzI9Yenw/edit?usp=sharing">EMO prototype change log</a> to see current and outstanding issues the service needs to solve.</p>

             <p> Key journeys:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" id="oauth2-client-microsoft" href="start">Create and send a new order form</a></li>
                <li><a class="govuk-link" id="oauth2-client-microsoft" href="v1/postcode-lookup/postcode">Postcode lookup component</a></li>
              </ul>

               <p> Error pages:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" id="oauth2-client-microsoft" href="v1/submit-failure">Form submit critical failure</a></li>
                <li><a class="govuk-link" id="oauth2-client-microsoft" href="v1/submit-partialfailure">Form submit non critical failure</a></li>
                <li><a class="govuk-link" id="oauth2-client-microsoft" href="v1/error-pages/404">404 page not found</a></li>
                <li><a class="govuk-link" id="oauth2-client-microsoft" href="v1/error-pages/500">500 there was a problem with the service</a></li>
                <li><a class="govuk-link" id="oauth2-client-microsoft" href="v1/error-pages/503">503 shutter page (planned outage)</a></li>
              </ul>

               <p> Older search and dashboard designs:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" id="oauth2-client-microsoft" href="v1/search">Search</a></li>
                <li><a class="govuk-link" id="oauth2-client-microsoft" href="v1/search-other-fields">Alternative search design</a></li>
                <li><a class="govuk-link" id="oauth2-client-microsoft" href="v1/dashboard-old?searchresults=false">Dashboard</a></li>
              </ul>

    
    </div>
  </div>
</main>
</div>

{% endblock %}
