{% extends "layouts/moj-signedout.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">Electronic Monitoring prototype</h1>

          <h2 class="govuk-heading-m">Day 2 prototype of the Electronic Monitoring notification form</h2>

           <p> This prototype builds on what has been built to date by the development team. It includes improvements to:</p>
     
              <ul class="govuk-list govuk-list--bullet">
                <li>bring us more inline with GDS patterns</li>
                <li>content enhancements</li>
                <li>enhance the journey for the different types of users using the outputs from the <a href="https://miro.com/app/board/uXjVL88lzJU=/?share_link_id=494713983102">page review workshop</a> on the 3 Dec</li>
              </ul>

             <p> Version 1 key journeys:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" id="oauth2-client-microsoft" href="signin">Create and send a new notification form</a></li>
                <li><a class="govuk-link" id="oauth2-client-microsoft" href="v1/search">View a submitted form and create a variation</a></li>
                <li><a class="govuk-link" id="oauth2-client-microsoft" href="v1/postcode-lookup/postcode">Postcode lookup component</a></li>
              </ul>

    

  </div>
</div>

{% endblock %}
