{% extends "layouts/moj-signedout-service.html" %}

{% set pageName="Start - Electronic Monitoring" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Apply, change or end an Electronic Monitoring Order (EMO) </h1>

    <form class="form" method="post">

      <p>The online service allows you to apply for installation of electronic monitoring devices. It also allows you to make changes to a submitted application form.</p>

      <p>Use this online service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>submit an Electronic Monitoring Order (EMO) application form</li>
        <li>save draft or incomplete forms</li>
        <li>send attachments with application forms. For example, licence documents, maps of exclusion or inclusion zones and photo identification</li>
        <li>view and download completed application forms submitted by you or other users</li>
        <li>make changes to submitted application forms</li>
        <li>submit notice to end monitoring and installation</li>
      </ul>  

      <h2 class="govuk-heading-s">When to use the online service</h2>

      <p>You will get a notification by email or through your line manager. You’ll get onboarding information and a start date for using the online service.</p>

      <p> Until you receive your notification, continue to send EMO application forms by email. You should follow your team’s process for submitting application forms by email.</p>

      <p>For more information and a timetable of when teams are moving to the online service <a class="govuk-link" target="_blank" href="https://ministryofjustice.github.io/hmpps-electronic-monitoring-create-an-order-docs/index.html#overview">view the guidance (opens in new tab)</a>.</p>




     {{ govukButton({
        text: "Start now",
        href: "signin",
        isStartButton: true
      }) }}

    
  </div>
</div>

{% endblock %}
