{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Give feedback on Electronic Monitoring - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Page not found</h1>

      <p>If you typed the web address, check it is correct.</p>

      <p>If you pasted the web address, check you copied the entire address.</p>

       <p> If the web address is correct or you selected a link or button, go <a href="#">back to your notification forms</a>.</p>



    </div>
  </div>
{% endblock %}
