{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Sorry, there is a problem with the service - Electronic Monitoring
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>

      <p>Try again later.</p>

      <p>We saved your answers.</p>

       <p>If you need to submit an Electronic Monitoring application form or make changes to one that has been submitted.</p>   

       <p> Download, complete and attach the <a href="/public/images/Apply for an Electronic Monitoring Order.pdf" download >Electronic Monitoring application form</a>.</p>

         <p>Submit your application form by email to:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="mailto:hoieorders@ems.co.uk">hoieorders@ems.co.uk</a> if you work at the Home Office </li>
          <li><a href="mailto:EMNotifications@ems.co.uk">EMNotifications@ems.co.uk</a> if you work in any other service or department</li>
        </ul>

        <p>If required, send a copy of the licence and photo identification with your application form.</p>
      
  



    </div>
  </div>
{% endblock %}
