{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Give feedback on Electronic Monitoring - Electronic Monitoring
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>

      <p>Try again later.</p>

      <p>We saved your answers.</p>

       <p> Contact <a href="#">xxxxxxxx</a> if you need to submit an Electronic Monitoring Notification form or make changes to one that has been submitted.</p>



    </div>
  </div>
{% endblock %}
