{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Give feedback on Electronic Monitoring - Electronic Monitoring
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>

      <p>You will be able to use the service from [Time] on [Date].</p>

       <p>If you need to submit an Electronic Monitoring Notification form or make changes to one that has been submitted.</p>
    <p>You need to create a new email as follows:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Write (subject line) as the subject line </li>
          <li>Download, complete and attach the <a href="">notification form</a>  </li>
          <li>Attach documents such as the licence or photo ID if required </li>
          <li>In the body of the email explain why you are emailing the form. For example, the online form is not working  </li>
          <li>Include your team contact details and team email address so we can contact you if there are any problems </li>
        </ul>

        <p>You need to send the email to:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>hoieorders@ems.co.uk if you work at the Home Office </li>
          <li>EMNotifications@ems.co.uk if you work in any other service or department</li>
        </ul>
      


    </div>
  </div>
{% endblock %}
