{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Check your answers - Electronic Monitoring
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       {% set html %}
        <p class="govuk-notification-banner__heading">
         You are viewing a submitted form. This form was submitted on the 14 December 2024.
        </p>
      {% endset %}

         {% if (data['view'] == 'true') %}

            {{ govukNotificationBanner({
              html: html
            }) }}

          {% else %}
                    
          {% endif %}


      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Access needs and installation risk information</span>
        Check your answers
      </h1>

      {% if (data['view'] == 'true') %}

      {% else %}

      <p>Check and save the information about the device wearer's access needs and their installation risk information.</p>

      {% endif %}

      <form class="form" action="../submitted-form?section-3-complete=true" method="post">

       


    <h2 class="govuk-heading-m">Device wearer's access needs</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Does the device wearer have any of these disabilities or health conditions? 
            </dt>
            <dd class="govuk-summary-list__value">
              Not able to provide this information
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Does the device wearer require an interpreter?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>
         
 </dl>

 <h2 class="govuk-heading-m">Installation risk</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What type of offence has been committed by the device wearer?
            </dt>
            <dd class="govuk-summary-list__value">
              Criminal damage and arson
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>

            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             What are the risks that apply to the device wearer?
            </dt>
            <dd class="govuk-summary-list__value">
              There are no risks that apply to the device wearer
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>

         

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is the device wearer a MAPPA offender?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              {% if (data['view'] == 'true') %}
                 <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> </span></a>
                {% else %}
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> </span></a>                  
                {% endif %}
            </dd>
          </div>
         


        </dl>
      

       
      {% if (data['view'] == 'true') %}

           {{ govukButton({
          text: "Return to main form menu",
          href: "../submitted-form"
        }) }}
               

         {% else %}
          {{ govukButton({
          text: "Save and return to main form menu"
        }) }}

    
                    
     {% endif %}
      

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
