{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Check your answers - Electronic Monitoring
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Access needs and installation risk information</span>
        Check your answers
      </h1>

      <p>Check and save the information about the device wearer's access needs and their installation risk information.</p>

      <form class="form" action="../new-form?section-3-complete=true" method="post">

       


    <h2 class="govuk-heading-m">Device wearer's access needs</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Does the device wearer have any of these disabilities or health conditions? 
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['disability'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="disability">Change<span class="govuk-visually-hidden"> Does the device wearer have any of these disabilities or health conditions? </span></a>
            </dd>
          </div>
          {% if (data['disability-needs-question'] !== NULL and data['disability-needs-question'] !== '') %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Is there anything else we should know about the device wearer’s disability or accessibility needs?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['disability-needs-question'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="disability-needs">Change<span class="govuk-visually-hidden"> Is there anything else we should know about the device wearer’s disability or accessibility needs?</span></a>
            </dd>
          </div>
          {% if (data['disability-needs-question'] == "Yes") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               What should we know about the device wearer's disability or accessibility needs?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['needs'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="disability-needs">Change<span class="govuk-visually-hidden"> What should we know about the device wearer's disability or accessibility needs?</span></a>
            </dd>
          </div>

          {% endif %}

          {% endif %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Does the device wearer require an interpreter?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['wearer-language'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="language">Change<span class="govuk-visually-hidden"> Does the device wearer require an interpreter?</span></a>
            </dd>
          </div>
          {% if (data['wearer-language'] == "Yes") %}
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               What language should be used when speaking to the device wearer?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['language'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="language">Change<span class="govuk-visually-hidden"> What language should be used when speaking to the device wearer?</span></a>
            </dd>
          </div>
          {% endif %}
         
 </dl>

 <h2 class="govuk-heading-m">Installation risk</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What type of offence has been committed by the device wearer?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['offence'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="risk">Change<span class="govuk-visually-hidden"> What type of offence has been committed by the device wearer?</span></a>
            </dd>
          </div>

            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             What are the risks that apply to the device wearer?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['risk'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="risk-2">Change<span class="govuk-visually-hidden"> What are the risks that apply to the device wearer?</span></a>
            </dd>
          </div>

          {% if (data['risk'] == "There are no risks that apply to the device wearer") %}

          {% else %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Is there anything else we should know that will help lower risk of violence or threatening behaviour at installation?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['risk-question'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="risk-3">Change<span class="govuk-visually-hidden"> Is there anything else we should know that will help lower risk of violence or threatening behaviour at installation?</span></a>
            </dd>
          </div>
          {% if (data['risk-question'] == "Yes") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               What should we know that will help lower risk of violence or threatening behaviour?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['risk-needs'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="risk-3">Change<span class="govuk-visually-hidden"> What should we know that will help lower risk of violence or threatening behaviour? </span></a>
            </dd>
          </div>


          {% endif %}
          {% endif %}

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is the device wearer a MAPPA offender?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['mappaquestion'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="mappa">Change<span class="govuk-visually-hidden"> Is the device wearer a MAPPA offender?</span></a>
            </dd>
          </div>
          {% if (data['mappaquestion'] == "Yes") %}
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Which level of MAPPA applies to the device wearer?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['mappa-level'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="mapp-2">Change<span class="govuk-visually-hidden"> Which level of MAPPA applies to the device wearer?</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
           What is the MAPPA case type applied to the device wearer?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['mappa-type'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="risk">Change<span class="govuk-visually-hidden"> What is the MAPPA case type applied to the device wearer?</span></a>
            </dd>
          </div>

           {% endif %}


        </dl>
      

       
    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and go to next section",
          href: "../attachments/licence-question?section-3-complete=true"
        }) }}

        {{ govukButton({
          text: "Save and return to main form menu",
          classes: "govuk-button--secondary"
        }) }}


      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
