{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Personal details - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Access needs and installation risk information</span>
        Disability or health conditions additional needs
      </h1>

      <form class="form" action="language" method="post">



          {% set needsHtml %}
          {{ govukTextarea({
            id: "needs",
            name: "needs",
            spellcheck: false,
            value: data['needs'],
            hint: {
              text: "For example, having difficulty climbing steps to a first floor room"
            },
            label: {
              text: "What should we know about the device wearer's disability or accessibility needs?"
            }
          }) }}
          {% endset -%}

         

          {{ govukRadios({
            name: "disability-needs-question",
            fieldset: {
              legend: {
                text: "Is there anything else we should know about the device wearer’s disability or accessibility needs?",
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "Select one option"
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                checked: (true if data['disability-needs-question'] == 'Yes'),
                conditional: {
                  html: needsHtml
                }
              },
              {
                value: "No",
                text: "No",
                checked: (true if data['disability-needs-question'] == 'No'),
                conditional: {
                 
                }
              }
            ]
          }) }}


         


       

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save and come back later",
          href: '../new-form',
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
