{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
   Order information - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      


   <h1 class="govuk-heading-l">
      <span class="govuk-caption-l"> {{ data['sectionid'] or 'Access needs and installation risk'}}</span>
      This is a Special order
      </h1>

     <p>Special orders require higher security clearance must not be sent through the EMO service.</p>

    <p>You can't continue and must:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>complete the <a href="/public/images/EMS NSD CPPC SOC template v1.5 October.docx" download>EMS NSD CPPC SOC order form</a></li>
      <li>send the completed form by email to <a href="mailto:emCCSpecialCase@ems.co.uk">emCCSpecialCase@ems.co.uk</a></li>
    </ul>




  

     {{ govukButton({
          text: "Return to form",
          href: ('../submitted-form' if data['view'] == 'false' else '../new-form' ),
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
