{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Language - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Access needs and installation risk information</span>
        Language spoken
      </h1>

        {% if (data['cya3'] == "true") %}

        <form class="form" action="check-answers" method="post">

        {% else %}

       <form class="form" action="risk" method="post">

        {% endif %}

      


         {% set languageHtml %}

          {% include "/includes/language.html" %}
        
          {% endset -%}

         

          {{ govukRadios({
            name: "wearer-language",
            fieldset: {
              legend: {
                text: "Does the device wearer require an interpreter?",
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "Select one option"
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                checked: (true if data['wearer-language'] == 'Yes'),
                conditional: {
                  html: languageHtml
                }
              },
              {
                value: "No",
                text: "No",
                checked: (true if data['wearer-language'] == 'No'),
                conditional: {
                 
                }
              }
            ]
          }) }}

        




       

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save as draft",
          href: '../new-form',
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
