{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
   Offence committed - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



  <h1 class="govuk-heading-l">
       <span class="govuk-caption-l">Access needs and installation risk</span>
     DAPO order clauses
      </h1>

     

  <form class="form" action="/risk-listdapo" method="post">


              <dl class="govuk-summary-list">
       
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  {{ data['orderclause'] or '32566563334345' }}
                </dt>
                <dd class="govuk-summary-list__value">
                {{ data['offence-date'] or '12/12/2024' }}              
                </dd>  
                </dd>  
                <dd class="govuk-summary-list__actions">
                  <ul class="govuk-summary-list__actions-list">
                     <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> {{ data['monitoringtype'] }}</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> {{ data['monitoringtype'] }}</span></a>
                    </li>       
                  </ul>
                </dd>
              </div>

            
            </dl>



          {{ govukRadios({
            classes: "govuk-radios--inline",
            name: "dapoquestion",
            fieldset: {
              legend: {
                text: "Are there any other DAPO order clauses?",
               classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
           
              {
                value: "Yes",
                text: "Yes"
              },
              {
                value: "No",
                text: "No"
              }
            ]
          }) }}












    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save as draft",
          href: '../new-form',
          classes: "govuk-button--secondary"
        }) }}


 
    </form>

    </div>
  </div>
{% endblock %}
