{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
   Offence committed - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <span class="govuk-caption-l">Access needs and installation risk</span>

    <!--  <h1 class="govuk-heading-l">
       <span class="govuk-caption-l">Access needs and installation risk</span>
      Offence committed
      </h1>-->

       {% if (data['cya3'] == "true") %}

        <form class="form" action="check-answers" method="post">

        {% else %}

       <form class="form" action="risk-1" method="post">

        {% endif %}



{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}

<div data-module="moj-add-another">

  <h2 class="govuk-heading-l moj-add-another__heading" tabindex="-1">Add offences</h2>

  <form method="post">

    {% call govukFieldset({
      classes: "moj-add-another__item",
      legend: {
        text: "Offence",
        classes: "moj-add-another__title govuk-fieldset__legend--m",
        isPageHeading: false
      }
    }) %}

    {% from "govuk/components/select/macro.njk" import govukSelect %}

      {{ govukSelect({
        id: "sort",
        name: "offence",
        label: {
          text: "What type of offence did the device wearer commit?",
          classes: "govuk-fieldset__legend--s"
        },
        items: [
          {
            value: "Select",
            text: "Select",
            selected: true
          },
          {
            value: "Violence against the person",
            text: "Violence against the person"
          },
          {
            value: "Sexual offences",
            text: "Sexual offences"
          },
          {
            value: "Robbery",
            text: "Robbery"
          },
          {
            value: "Theft offences",
            text: "Theft offences"
          },
          {
            value: "Criminal damage and arson",
            text: "Criminal damage and arson"
          },
          {
            value: "Drug offences",
            text: "Drug offences"
          },
          {
            value: "Possession of weapons",
            text: "Possession of weapons"
          },
          {
            value: "Public order offences",
            text: "Public order offences"
          },
          {
            value: "Miscellaneous crimes against society",
            text: "Miscellaneous crimes against society"
          },
          {
            value: "Fraud offences",
            text: "Fraud offences"
          },
          {
            value: "Summary non-motoring",
            text: "Summary non-motoring"
          },
          {
            value: "Summary motoring",
            text: "Summary motoring"
          },
          {
            value: "Offence not recorded",
            text: "Offence not recorded"
          }
        ]
      }) }}

<!--
          {{ govukRadios({
            name: "offence",
            fieldset: {
              legend: {
                text: "What type of offence did the device wearer commit?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "If more than one offence committed, select the main offence"
            },
            items: [
              {
                value: "Violence against the person",
                checked: (true if data['offence'] == 'Violence against the person'),
                text: "Violence against the person"
              },
              {
                value: "Sexual offences",
                checked: (true if data['offence'] == 'Sexual offences'),
                text: "Sexual offences"
              },
              {
                value: "Robbery",
                checked: (true if data['offence'] == 'Robbery'),
                text: "Robbery"
              },
              {
                value: "Theft offences",
                checked: (true if data['offence'] == 'Theft offences'),
                text: "Theft offences"
              },
              {
                value: "Criminal damage and arson",
                checked: (true if data['offence'] == 'Criminal damage and arson'),
                text: "Criminal damage and arson"
              },
              {
                value: "Drug offences",
                checked: (true if data['offence'] == 'Drug offences'),
                text: "Drug offences"
              },
              {
                value: "Possession of weapons",
                checked: (true if data['offence'] == 'Possession of weapons'),
                text: "Possession of weapons"
              },
              {
                value: "Public order offences",
                checked: (true if data['offence'] == 'Public order offences'),
                text: "Public order offences"
              },
              {
                value: "Miscellaneous crimes against society",
                checked: (true if data['offence'] == 'Miscellaneous crimes against society'),
                text: "Miscellaneous crimes against society"
              },
              {
                value: "Fraud offences",
                checked: (true if data['offence'] == 'Fraud offences'),
                text: "Fraud offences"
              },
              {
                value: "Summary non-motoring",
                checked: (true if data['offence'] == 'Summary non-motoring'),
                text: "Summary non-motoring"
              },
              {
                value: "Summary motoring",
                checked: (true if data['offence'] == 'Summary motoring'),
                text: "Summary motoring"
              },

              {
                divider: "or"
              },
              {
                value: "Offence not recorded",
                checked: (true if data['offence'] == 'Offence not recorded'),
                text: "Offence not recorded"
              }
            ]
          }) }}
-->
    

    {{ govukDateInput({
      id: "date-of-birth",
      fieldset: {
        legend: {
          text: "Date of offence",
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "For example, 31 3 1980"
      },
      items: [
        {
          id: "person[0][dob][day]",
          name: "offenceday",
          label: "Day",
          classes: "govuk-input--width-2",
          attributes: {
            "data-name": "person[%index%][dob][day]",
            "data-id": "person[%index%][dob][day]"
          }
        },
        {
          id: "person[0][dob][month]",
          name: "offencemonth",
          label: "Month",
          classes: "govuk-input--width-2",
          attributes: {
            "data-name": "person[%index%][dob][month]",
            "data-id": "person[%index%][dob][month]"
          }
        },
        {
          id: "person[0][dob][year]",
          name: "offenceyear",
          label: "Year",
          classes: "govuk-input--width-2",
          attributes: {
            "data-name": "person[%index%][dob][year]",
            "data-id": "person[%index%][dob][year]"
          }
        }
      ]
    }) }}

    {% endcall %}

    <div class="moj-button-action">
      {{ govukButton({
        text: "Add another offence",
        classes: "govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4"
      }) }}
    </div>

    



       

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save as draft",
          href: '../new-form',
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
