{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Risk at installation additional information - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Access needs and installation risk</span>
        Risk at installation additional information
      </h1>

      

       <form class="form" action="/risk" method="post">




          {% set riskHtml %}
          {{ govukTextarea({
            id: "needs",
            name: "risk-needs",
            spellcheck: false,
            value: data['risk-needs'],
            hint: {
              text: "Provide additional risk information about the device wearer's behaviour or the installation address."
            },
            label: {
              text: "What other risks should the installer be aware of?"
            }
          }) }}
          {% endset -%}

         

          {{ govukRadios({
            name: "risk-question",
            fieldset: {
              legend: {
                text: " Are there other risks to be aware of?",
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: ""
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                checked: (true if data['risk-question'] == 'Yes'),
                conditional: {
                  html: riskHtml
                }
              },
              {
                value: "No",
                text: "No",
                checked: (true if data['risk-question'] == 'No'),
                conditional: {
                 
                }
              }
            ]
          }) }}


         


       

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save as draft",
          href: '../new-form',
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
