{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Risk at installation additional information - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Access needs and installation risk information</span>
        Risk at installation additional information
      </h1>

       {% if (data['cya3'] == "true") %}

        <form class="form" action="check-answers" method="post">

        {% else %}

       <form class="form" action="mappa" method="post">

        {% endif %}



          {% set riskHtml %}
          {{ govukTextarea({
            id: "needs",
            name: "risk-needs",
            spellcheck: false,
            value: data['risk-needs'],
            hint: {
              text: "Include details about the device wearer's behaviour and if there are risks at the installation property they should know about."
            },
            label: {
              text: "What should the device fitter know that will help lower risk of violence or threatening behaviour?"
            }
          }) }}
          {% endset -%}

         

          {{ govukRadios({
            name: "risk-question",
            fieldset: {
              legend: {
                text: "Is there anything else the device fitter should know that will help lower risk of violence or threatening behaviour at installation?",
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "Select one option"
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                checked: (true if data['risk-question'] == 'Yes'),
                conditional: {
                  html: riskHtml
                }
              },
              {
                value: "No",
                text: "No",
                checked: (true if data['risk-question'] == 'No'),
                conditional: {
                 
                }
              }
            ]
          }) }}


         


       

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: "Save and return to main form menu",
          href: '../new-form',
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
