{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Check your answers - Electronic Monitoring
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">About the device wearer</span>
        Check your answers
      </h1>


      <form class="form" action="" method="post">

        <h2 class="govuk-heading-m">Identity numbers</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

       <!--    <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               What identity numbers do you have for the device wearer?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['identity-numbers'] or 'A1234BC' }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="identity-numbers?cya1=true">Change<span class="govuk-visually-hidden"> What identity numbers do you have for the device wearer?</span></a>
            </dd>
          </div>
         -->


          {% if (data['usertype'] == "Prison user") or (data['usertype'] == "Youth user") or (data['usertype'] == "Probation user") %}
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               What is the device wearer's prison number?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['nomis'] or 'A1234BC' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="identity-numbers?cya1=true">Change<span class="govuk-visually-hidden"> NOMIS ID</span></a>
            </dd>
          </div>
          {% endif %}
          {% if (data['usertype'] == "Youth user") %}
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the device wearer's PNC number?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['pnc'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="identity-numbers?cya1=true">Change<span class="govuk-visually-hidden"> PNC ID</span></a>
            </dd>
          </div>
          {% endif %}
          {% if (data['usertype'] == "Probation user") %}
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the device wearer's Case Reference Number (CRN)?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['delius'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="identity-numbers?cya1=true">Change<span class="govuk-visually-hidden"> Delius ID</span></a>
            </dd>
          </div>
          {% endif %}
         
          {% if (data['usertype'] == "Home Office user") %}
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               What is the device wearer's Compliance and Enforcement Person Reference (CEPR)?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['ho'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="identity-numbers?cya1=true">Change<span class="govuk-visually-hidden">Home Office reference number</span></a>
            </dd>
          </div>
          {% endif %}
           {% if (data['usertype'] == "Family court user") or (data['usertype'] == "Civil court user") %}
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               What is the device wearer's Court Case reference number (CCRN)?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['urn'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="identity-numbers?cya1=true">Change<span class="govuk-visually-hidden">URN ID number</span></a>
            </dd>
          </div>
          {% endif %}
 

        </dl>


        <h2 class="govuk-heading-m">Personal details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the device wearer's first name?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['wearer-firstname'] or "Fred" }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="personal-details?cya1=true">Change<span class="govuk-visually-hidden"> What is the device wearer's first name?</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the device wearer's last name?
            </dt>
            <dd class="govuk-summary-list__value">
               {{ data['wearer-lastname'] or "Bloggs" }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="personal-details?cya1=true">Change<span class="govuk-visually-hidden"> What is the device wearer's last name?</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Is there a preferred name or alias the device wearer uses that is different to their first name?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['wearer-alias-question'] or 'No' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="personal-details?cya1=true">Change<span class="govuk-visually-hidden"> Does the device wearer have a preferred name or alias that is different to their first name?</span></a>
            </dd>
          </div>

          {% if (data['wearer-alias-question'] == "Yes") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the device wearer's preferred name?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['wearer-alias'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="personal-details?cya1=true">Change<span class="govuk-visually-hidden"> What is the device wearer's preferred name or alias?</span></a>
            </dd>
          </div>
          {% endif %}

          
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             What is the sex of the device wearer?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['wearer-sex'] or 'Male' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="gender?cya1=true">Change<span class="govuk-visually-hidden"> How does the device wearer describe themselves?</span></a>
            </dd>
          </div>
           {% if (data['wearer-gender'] == "Self identify") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the device wearer's chosen identity?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['wearer-gender-other'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="gender-old?cya1=true">Change<span class="govuk-visually-hidden"> What is the device wearer's chosen identity?</span></a>
            </dd>
          </div>
          {% endif %}

                   <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the device wearer's date of birth?
            </dt>
            <dd class="govuk-summary-list__value">
              19 January 1990
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="age?cya1=true">Change<span class="govuk-visually-hidden"> What is the device wearer's date of birth?</span></a>
            </dd>
          </div>

   {% if (data['usertype'] == "Home Office user") %}

    {% elseif (data['usertype'] == "Family court user") %}

    {% elseif (data['usertype'] == "Civil court user") %}

    {% else %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is a responsible adult required?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['eighteen'] or 'No' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="age?cya1=true">Change<span class="govuk-visually-hidden"> Will the device wearer be 18 years old or over when the electronic monitoring device is installed?</span></a>
            </dd>
          </div>

  {% endif %}     
        </dl>



       {% if (data['eighteen'] == "No") %}

       <h2 class="govuk-heading-m">Telephone number</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
         <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Does the device wearer have a contact telephone number?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['wearer-tel-question'] or 'No' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="device-wearer-contact?cya1=true">Change<span class="govuk-visually-hidden"> Does the device wearer have a contact telephone number?</span></a>
            </dd>
          </div>
       {% if (data['wearer-tel-question'] == "Yes") %}
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the device wearer's telephone number?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['wearer-telephone'] or '01234 567 890' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="device-wearer-contact?cya1=true">Change<span class="govuk-visually-hidden"> What is the device wearer's telephone number?</span></a>
            </dd>
          </div>

       {% endif %}
     </dl>
       {% endif %}

   <h2 class="govuk-heading-m">Device wearer's addresses</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
 
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Does the device wearer have a fixed address?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['addressquestion'] or 'Yes' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="contact-address-question?cya1=true">Change<span class="govuk-visually-hidden"> Does the device wearer have a fixed address?</span></a>
            </dd>
          </div>
      {% if (data['addressquestion'] == "Yes") %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the device wearer's main address?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['contactaddressLine1'] or '1 Washington Street' }}<br>
              {{ data['contactaddressTown'] or 'Worcester' }}<br>
              {{ data['contactaddressPostcode'] or 'WR1 1NL' }}

             
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/v1/postcode-lookup/postcode">Change<span class="govuk-visually-hidden"> What is the device wearer's contact address?</span></a>
            </dd>
          </div>

        {% endif %}
         

        </dl>

         {% if (data['eighteen'] == "Yes") %}

         <h2 class="govuk-heading-m">Responsible adult details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the responsible adult's first name?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['adult-firstname'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="responsible-adult?cya1=true">Change<span class="govuk-visually-hidden"> What is the responsible adult's first name?</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the responsible adult's last name?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['adult-lastname'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="responsible-adult?cya1=true">Change<span class="govuk-visually-hidden"> What is the responsible adult's last name?</span></a>
            </dd>
          </div>
         
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the responsible adult's relationship to the device wearer?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['relationship'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="responsible-adult?cya1=true">Change<span class="govuk-visually-hidden"> What is the responsible adult's relationship to the device wearer?</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Does the responsible adult have a contact telephone number?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['adult-tel-question'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="responsible-adult?cya1=true">Change<span class="govuk-visually-hidden"> Does the responsible adult have a contact telephone number?</span></a>
            </dd>
          </div>

          {% if (data['adult-tel-question'] == "Yes") %}
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the responsible adult's telephone number?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['adult-telephone'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="responsible-adult?cya1=true">Change<span class="govuk-visually-hidden"> What is the responsible adult's telephone number?</span></a>
            </dd>
          </div>
          {% endif %}
          

         </dl>
         {% endif %}


  
       
    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">

     {% if (data['usertype'] == "Court user" or data['usertype'] == "Home Office user") %}  
        {{ govukButton({
          text: "Save and go to next section",
          href: ("../monitoring-conditions/check-answers?section-1-complete=true" if data['section-4-complete'] == 'true' else "../monitoring-conditions/monitoring-details?section-1-complete=true")
        }) }}

     {% elseif (data['usertype'] == "Prison user" or data['usertype'] == "Youth user") %}  
        {{ govukButton({
          text: "Save and go to next section",
          href: ("../monitoring-conditions/check-answers?section-1-complete=true" if data['section-4-complete'] == 'true' else "../otd-old/order-sentence?section-1-complete=true")
        }) }}
        
      {% else %}  
        {{ govukButton({
          text: "Save and go to next section",
          href: ("../monitoring-conditions/check-answers?section-1-complete=true" if data['section-4-complete'] == 'true' else "../otd-old/order-information?section-1-complete=true")
        }) }}  
    {% endif %} 

        {{ govukButton({
          text: "Save as draft",
          classes: "govuk-button--secondary",
          href: "../new-form?section-1-complete=true"
        }) }}

        




      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
