{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Confirm address - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    
  

     <form class="form" action="personal-details?wearer-firstname=Diane&wearer-lastname=Smith&wearer-alias-question=No&wearer-sex=Female&wearer-dob-day=19&wearer-dob-month=1&wearer-dob-year=1974&wearer-tel-question=No&addressquestion=Yes&address-found=true" method="post"> 


  

           {% from "govuk/components/button/macro.njk" import govukButton %}
          {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}


          <div class="govuk-width-container">
          <h1 class="govuk-heading-l">  
           <span class="govuk-caption-l">About the device wearer</span>
          Confirm the device wearer's details
          </h1>

          <p>1 device wearer found for <b>A1234BC</b>. <a href="identity-numbers">Search again</a></p>

          {{ govukInsetText({
          html: "Diane Smith<br>Date of birth - 19 January 1974"
          }) }}

      
          <p class="govuk-body"><a href="personal-details?wearer-firstname=&wearer-lastname=&wearer-alias-question=&wearer-sex=&wearer-dob-day=&wearer-dob-month=&wearer-dob-year=&wearer-tel-question=&addressquestion=&address-found=false" class="govuk-link">Enter details manually</a></p>
          </div>
                 

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Use this device wearer"
        }) }}

        {{ govukButton({
          text: "Save as draft",
          href: '../submitted-form' if data['view'] == 'false' else '../new-form',
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
