{% extends "layouts/moj-level2.html" %}

{% block pageTitle %}
  Identity numbers - Electronic Monitoring
{% endblock %}

{% block beforeContent %}
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}
      <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">About the device wearer</span>
        Identity numbers
      </h1>

       {% if (data['cya1'] == "true") %}

        <form class="form" action="check-answers" method="post">

        {% else %}

        <form class="form" action="personal-details" method="post">

        {% endif %}

     

        <p>Identity numbers help us identify the device wearer.</p>


        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        {% from "govuk/components/input/macro.njk" import govukInput %}

        {% set nomisHtml %}
        {{ govukInput({
          id: "nomis",
          name: "nomis",
          spellcheck: false,
          value: data['nomis'],
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Enter NOMIS"
          }
        }) }}
        {% endset -%}

        {% set pncHtml %}
        {{ govukInput({
          id: "pnc",
          name: "pnc",
          value: data['wearer-pnc'],
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Enter PNC"
          }
        }) }}
        {% endset -%}

        {% set deliusHtml %}
        {{ govukInput({
          id: "delius",
          name: "delius",
          classes: "govuk-!-width-two-thirds",
          value: data['delius'],
          label: {
            text: "Enter NDelius ID"
          }
        }) }}
        {% endset -%}

         {% set prisonHtml %}
        {{ govukInput({
          id: "prison",
          name: "prison",
          classes: "govuk-!-width-two-thirds",
          value: data['prison'],
          label: {
            text: "Enter Prison number"
          }
        }) }}
        {% endset -%}

         {% set hoHtml %}
        {{ govukInput({
          id: "ho",
          name: "ho",
          value: data['ho'],
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Enter CEPR"
          }
        }) }}
        {% endset -%}

         {% set ho2Html %}
        {{ govukInput({
          id: "ho2",
          name: "ho2",
          value: data['ho2'],
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Enter Home Office Reference Number"
          }
        }) }}
        {% endset -%}

         {% set urnHtml %}
        {{ govukInput({
          id: "ccrn",
          name: "ccrn",
          value: data['ccrn'],
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Enter Court Case Reference Number"
          }
        }) }}
        {% endset -%}

           {% set mrnHtml %}
        {{ govukInput({
          id: "mrn",
          name: "mrn",
          value: data['mrn'],
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Enter Magistrate Court Case Reference Number"
          }
        }) }}
        {% endset -%}

        {{ govukCheckboxes({
          name: "identity-numbers",
          fieldset: {
            legend: {
              text: "What identity numbers do you have for the device wearer?",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "Select and enter all identity numbers"
          },
          items: [
            {
              value: "National Offender Management Information System (NOMIS)",
              checked: (true if data['nomis'] !== NULL and data['nomis'] !== ''),
              text: "National Offender Management Information System (NOMIS)",
              conditional: {
                html: nomisHtml
              }
            },
            {
              value: "Police National Computer (PNC)",
              checked: (true if data['pnc'] !== NULL and data['pnc'] !== ''),
              text: "Police National Computer (PNC)",
              conditional: {
                html: pncHtml
              }
            },
            {
              value: "Delius ID",
              checked: (true if data['delius'] !== NULL and data['delius'] !== ''),
              text: "NDelius ID",
              conditional: {
                html: deliusHtml
              }
            },
            {
              value: "Prison number",
              checked: (true if data['prison'] !== NULL and data['prison'] !== ''),
              text: "Prison number",
              conditional: {
                html: prisonHtml
              }
            },
            {
              value: "Home Office Reference Number",
              checked: (true if data['ho2'] !== NULL and data['ho2'] !== ''),
              text: "Home Office Reference Number",
              conditional: {
                html: ho2Html
              }
            },
            {
              value: "Compliance and Enforcement Person Reference (CEPR)",
              checked: (true if data['ho'] !== NULL and data['ho'] !== ''),
              text: "Compliance and Enforcement Person Reference (CEPR)",
              conditional: {
                html: hoHtml
              }
            },
            {
              value: "Court Case Reference Number (CCRN)",
              checked: (true if data['ccrn'] !== NULL and data['ccrn'] !== ''),
              text: "Court Case Reference Number (CCRN)",
              conditional: {
                html: urnHtml
              }
            },
            {
              value: "Magistrate Court Case Reference Number",
              checked: (true if data['mrn'] !== NULL and data['mrn'] !== ''),
              text: "Magistrate Court Case Reference Number (MCRN)",
              conditional: {
                html: mrnHtml
              }
            },
            {
              divider: "or"
            },
            {
              value: "Not able to provide this information",
              checked: (true if data['identity-numbers'] == 'Not able to provide this information'),
              text: "Not able to provide this information",
              behaviour: "exclusive"
            }
          ]
        }) }}

       

    {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save and continue"
        }) }}

       {{ govukButton({
          text: "Save as draft",
          href: '../new-form',
          classes: "govuk-button--secondary"
        }) }}

      </div>
 
    </form>

    </div>
  </div>
{% endblock %}
